Repository wireapp/wire-ios, pull requests merged in 2018-04, with the labels that each got.

#1959 Feature/zios 9829 network status bar animation finetuning
  Wire-iOS Tests/NetworkStatusView/NetworkStatusViewControllerSnapshotTests.swift
  Wire-iOS Tests/NetworkStatusView/NetworkStatusViewTests.swift
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewControllerSnapshotTests/testOfflineState_{375, 667}@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewControllerSnapshotTests/testOnlineSynchronizing_{375, 667}@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewSnapShotTests/testOnlineSynchronizing_320@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewSnapShotTests/testOnlineSynchronizing_375@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewSnapShotTests/testOnlineSynchronizing_414@2x.png
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Components/NetworkStatus/NetworkStatusView.swift
  Wire-iOS/Sources/UserInterface/Components/NetworkStatus/OfflineBar.swift
  Wire-iOS/Sources/UserInterface/Components/Views/BreathLoadingBar.swift
  Wire-iOS/Sources/UserInterface/Components/Views/NetworkStatusBarConstants.swift
Labels: Feature request

#1983 Feature/zios 9856 network status bar breathing animation fine tune
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ConversationRootViewControllerTests/testExample_{375, 667}@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewControllerSnapshotTests/testOnlineSynchronizing_{375, 667}@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewSnapShotTests/testOnlineSynchronizing_320@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewSnapShotTests/testOnlineSynchronizing_375@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.NetworkStatusViewSnapShotTests/testOnlineSynchronizing_414@2x.png
  Wire-iOS/Sources/UserInterface/Components/NetworkStatus/NetworkStatusView.swift
  Wire-iOS/Sources/UserInterface/Components/Views/BreathLoadingBar.swift
  Wire-iOS/Sources/UserInterface/Components/Views/NetworkStatusBarConstants.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationRootViewController.swift
Labels: Minor changes

#2040 Fix crash when calling without CallKit
  Wire-iOS/Sources/Analytics/Events/Analytics+MediaActionEvents.swift
Labels: DO NOT MERGE
