Repository wireapp/wire-ios, pull requests merged in 2019-11, with the labels that each got.

#3812 Convert ProfileViewController to MVVM
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Components/TabBar/TabBarController.swift
  Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ParticipantsPopover.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+Private.h
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ProfileViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Create/ConversationCreationController.swift
  Wire-iOS/Sources/UserInterface/Conversation/Message Details/MessageDetailsContentViewController.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationActionController+CancelRequest.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
  Wire-iOS/Sources/UserInterface/Helpers/UserDetailViewControllerFactory.swift
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+ProfileViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.m
  Wire-iOS/Sources/UserInterface/StartUI/Common/ProfilePresenter+Internal.h
  Wire-iOS/Sources/UserInterface/StartUI/Common/ProfilePresenter+ProfileViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/StartUI/Common/ProfilePresenter.h
  Wire-iOS/Sources/UserInterface/StartUI/Common/ProfilePresenter.m
  Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+SearchResults.swift
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController+Extension.swift
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController+TabBarControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController+internal.h
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController.h
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController.m
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController.swift
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewControllerViewModel.swift
  Wire-iOS/Sources/UserInterface/UserProfile/SearchUserViewConroller.swift
  Wire-iOS/Sources/UserInterface/UserProfile/Views/UserNameDetailView.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Feature, Objc -> Swift

#3801 Fix: convert AccentColorChangeHandler to Swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Components/AccentColorChangeHandler.h
  Wire-iOS/Sources/Components/AccentColorChangeHandler.m
  Wire-iOS/Sources/Components/AccentColorChangeHandler.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3822 Convert Message+UI to Swift
  Wire-iOS Tests/Wire-iOS-Tests-Bridging-Header.h
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Helpers/NSDate+Format.swift
  Wire-iOS/Sources/Helpers/syncengine/Message+DateFormatter.swift
  Wire-iOS/Sources/Helpers/syncengine/Message+UI.h
  Wire-iOS/Sources/Helpers/syncengine/Message+UI.m
  Wire-iOS/Sources/Helpers/syncengine/ZMConversationMessage+DeliveryState.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/Utility/MessageToolboxDataSource.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3800 Fix: convert Settings+ColorScheme to Swift
  Wire-iOS Tests/Settings/SettingsPropertyTests.swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Settings+ColorScheme.swift
  Wire-iOS/Sources/AppRootViewController.swift
  Wire-iOS/Sources/Components/Settings+Account.swift
  Wire-iOS/Sources/Components/Settings+Availability.swift
  Wire-iOS/Sources/Components/Settings+ColorScheme.h
  Wire-iOS/Sources/Components/Settings+ColorScheme.m
  Wire-iOS/Sources/Components/Settings.h
  Wire-iOS/Sources/Components/Settings.m
  Wire-iOS/Sources/Managers/ColorSchemeController.swift
  Wire-iOS/Sources/UserInterface/Availability/AvailabilityTitleViewController.swift
  Wire-iOS/Sources/UserInterface/Availability/UIAlertController+Availability.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Content/Text/ConversationTextMessageCell.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ViewLifeCycle.swift
Labels: Objc -> Swift

#3786 Fix: Convert ColorScheme to Swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Components/Buttons/Button.h
  Wire-iOS/Sources/Components/Buttons/Button.m
  Wire-iOS/Sources/Components/Buttons/Button.swift
  Wire-iOS/Sources/Components/Buttons/IconButton+Helpers.swift
  Wire-iOS/Sources/Components/Buttons/IconButton.h
  Wire-iOS/Sources/Components/Buttons/IconButton.m
  Wire-iOS/Sources/Components/TokenField/TokenField.m
  Wire-iOS/Sources/Helpers/ColorScheme.h
  Wire-iOS/Sources/Helpers/ColorScheme.swift
  Wire-iOS/Sources/UserInterface/AddContacts/AddParticipantsViewController.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.h
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.m
  Wire-iOS/Sources/UserInterface/InviteContacts/InviteContactsViewController.m
  Wire-iOS/Sources/UserInterface/Sketchpad/ColorKnobView.m
  Wire-iOS/Sources/UserInterface/StartUI/StartUI/SearchHeaderViewController.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3828 Fix: group admin toggle is not shown for team members
  Wire-iOS Tests/GroupParticipantsDetailViewControllerTests.swift
  Wire-iOS Tests/ProfileDetailsViewControllerTests.swift
  Wire-iOS Tests/ProfileViewTests.swift
  Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_OtherUserIsAdmin_ViewerIsGuest_SCIM.1.png
  Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_SelfUser_NoSCIM.1.png
  Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_SelfUser_SCIM.1.png
  Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_OneToOne_SelfUser_NoSCIM.1.png
  Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_OneToOne_SelfUser_SCIM.1.png
  Wire-iOS Tests/ReferenceImages/ProfileViewControllerTests/testForContextProfileViewerForSelfUser.1.png
  Wire-iOS Tests/ReferenceImages/ProfileViewControllerTests/testForContextProfileViewerForSelfUserUnderLegalHold.1.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.GroupDetailsViewControllerSnapshotTests/testForOptionsForNonTeamUser@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInNonTeamConversation@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInNonTeamConversation_Partner@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation_Partner@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.GroupParticipantsDetailViewControllerTests/testThatItRendersALotOfUsers@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.GroupParticipantsDetailViewControllerTests/testThatItRendersALotOfUsers_Dark@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/testDefaultOptions_NoAvailability@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/testDefaultOptions_NoAvailability_Edit@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/test_DefaultOptions@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/test_DefaultOptions_AllowEditing@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/test_HideAvailability@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/test_HideHandle@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/test_HideName@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/test_HideNameAndHandle@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ProfileViewTests/test_HideTeamName@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.SelfProfileViewControllerTests/testTestForAUserWithALongName@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.SelfProfileViewControllerTests/testTestForAUserWithNoTeam@2x.png
  Wire-iOS Tests/SelfProfileViewControllerTests.swift
  Wire-iOS/Sources/Helpers/UserType+ZMUser.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/GroupParticipantsDetail/GroupParticipantsDetailViewController.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/GroupParticipantsDetail/GroupParticipantsDetailViewModel.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/Sections/ParticipantsSectionController.swift
  Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
  Wire-iOS/Sources/UserInterface/UserProfile/Details/ProfileDetailsContentController.swift
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileActionsFactory.swift
Labels: More testing

#3829 Fix: retire Geometry.h
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Helpers/Geometry.h
  Wire-iOS/Sources/UserInterface/Components/Controllers/SplitViewController+UIGestureRecognizerDelegate.swift
  Wire-iOS/Sources/UserInterface/Components/Controllers/SplitViewController+internal.h
  Wire-iOS/Sources/UserInterface/Components/Controllers/SplitViewController.m
Labels: Objc -> Swift

#3843 Feature: iPad - support drag and drop an image from Safari.
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+DragAndDrop.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.m
Labels: Feature
