Repository wireapp/wire-ios, pull requests merged in 2020-01, with the labels that each got.

#3911 Fix: app center does not track for crashes
  Cartfile
  Cartfile.resolved
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Resources/Configuration/Project-Base.xcconfig
  Wire-iOS/Sources/AppDelegate+AppCenter.swift
Labels: DO NOT MERGE, Fix

#3915 Fix: convert ZClientViewController
  Wire-iOS Tests/Mocks/SwiftMockUser.swift
  Wire-iOS Tests/ZClientViewControllerTests.swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/AppDelegate.m
  Wire-iOS/Sources/AppRootViewController.swift
  Wire-iOS/Sources/Helpers/syncengine/ZMConversation+Calling.swift
  Wire-iOS/Sources/Helpers/syncengine/ZMUser+Self.swift
  Wire-iOS/Sources/UserInterface/Calling/CallController/CallController.swift
  Wire-iOS/Sources/UserInterface/Calling/CallViewController/CallViewController.swift
  Wire-iOS/Sources/UserInterface/Components/Views/LinkInteractionTextView.swift
  Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController.m
  Wire-iOS/Sources/UserInterface/ContactsUI/ZMAddressBookContact+LocalInvitation.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Components/ConversationLegalHoldCell.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Components/ConversationSystemMessageCell.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/FileTransfer/AudioMessageView.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+NavigationBar.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+PrivacyAlert.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Camera.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Message Details/MessageDetailsContentViewController.swift
  Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel+ConversationListContentDelegate.swift
  Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel+Handles.swift
  Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel+StartUIDelegate.swift
  Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ConversationListTopBarViewController.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.m
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ConversationListContentController.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationActionController.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/GroupParticipantsDetail/GroupParticipantsDetailViewController.swift
  Wire-iOS/Sources/UserInterface/Helpers/UIApplication+StatusBar.swift
  Wire-iOS/Sources/UserInterface/InviteContacts/InviteContactsViewController.m
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+Internal.h
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.h
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.m
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  Wire-iOS/Sources/UserInterface/SelfProfile/AccountSelectorController.swift
  Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsSignOutCellDescriptor.swift
  Wire-iOS/Sources/UserInterface/StartUI/Common/ProfilePresenter+Orientation.swift
  Wire-iOS/Sources/UserInterface/StartUI/Common/ProfilePresenter+ProfileViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/StartUI/Common/ProfilePresenter.m
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController.swift
  Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewControllerViewModel.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3920 converted ZClientViewController.mediaPlaybackManager callers and ConversationContentViewControllerDelegate to Swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/AppDelegate+Internal.h
  Wire-iOS/Sources/AppDelegate.h
  Wire-iOS/Sources/AppDelegate.m
  Wire-iOS/Sources/AppDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+ConversationMessageCellDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.h
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewControllerDelegate.h
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ConversationContentViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ParticipantsPopover.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+Private.h
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.h
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3916 Fix: convert InviteContactsViewController
  Wire-iOS Tests/InviteContactsViewControllerSnapshotTests.swift
  Wire-iOS Tests/ReferenceImages/InviteContactsViewControllerSnapshotTests/snapshotWithNavigationBarWithBackButton-file-line.1.png
  Wire-iOS Tests/ReferenceImages/InviteContactsViewControllerSnapshotTests/snapshotWithNavigationBarWithBackButton-file-line.2.png
  Wire-iOS Tests/ReferenceImages/InviteContactsViewControllerSnapshotTests/snapshotWithNavigationBarWithBackButton-file-line.3.png
  Wire-iOS Tests/ReferenceImages/InviteContactsViewControllerSnapshotTests/snapshotWithNavigationBarWithBackButton-file-line.4.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.InviteContactsViewControllerSnapshotTests/testForContactsAndIndexSectionBarAreShown@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.InviteContactsViewControllerSnapshotTests/testForContactsWithoutSectionBar@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.InviteContactsViewControllerSnapshotTests/testForNoContacts@2x.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.InviteContactsViewControllerSnapshotTests/testForNoSearchResult@2x.png
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Resources/Base.lproj/Localizable.strings
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsDataSource.h
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+ContactsDataSourceDelegate.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+Internal.h
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+SearchHeader.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+ShareContactsViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+UITableViewDelegate.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+ViewLifeCycle.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.h
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.m
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/InviteContacts/InviteContactsViewController+Internal.h
  Wire-iOS/Sources/UserInterface/InviteContacts/InviteContactsViewController+Swift.swift
  Wire-iOS/Sources/UserInterface/InviteContacts/InviteContactsViewController.m
  Wire-iOS/Sources/UserInterface/InviteContacts/InviteContactsViewController.swift
  Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+ContactsViewControllerDelegate.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3919 convert ConnectRequestsViewController
  Wire-iOS Tests/ConnectRequestsViewControllerSnapshotTests.swift
  Wire-iOS Tests/ReferenceImages/ConnectRequestsViewControllerSnapshotTests/testForOneRequest.1.png
  Wire-iOS Tests/ReferenceImages/ConnectRequestsViewControllerSnapshotTests/testForTwoRequests.1.png
  Wire-iOS Tests/ReferenceImages_64/Wire_iOS_Tests.ConnectRequestsViewControllerSnapshotTests/testForInitState@2x.png
  Wire-iOS Tests/Wire-iOS-Tests-Bridging-Header.h
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestCell.swift
  Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController+Internal.h
  Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController.h
  Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController.m
  Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController.swift
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3942 [Refactor] Migrate KeyboardAvoidingController to Swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Components/KeyboardAvoidingViewController+Constraint.swift
  Wire-iOS/Sources/UserInterface/Components/KeyboardAvoidingViewController+Extension.swift
  Wire-iOS/Sources/UserInterface/Components/KeyboardAvoidingViewController+Internal.h
  Wire-iOS/Sources/UserInterface/Components/KeyboardAvoidingViewController.h
  Wire-iOS/Sources/UserInterface/Components/KeyboardAvoidingViewController.m
  Wire-iOS/Sources/UserInterface/Components/KeyboardAvoidingViewController.swift
  Wire-iOS/Sources/UserInterface/Components/KeyboardFrameObserver.h
  Wire-iOS/Sources/UserInterface/Components/KeyboardFrameObserver.m
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+Forward.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3944 Fix: app crash when i tap ignore on connection request
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: Objc -> Swift

#3940 convert MediaBarViewController to Swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Overlay/MediaBar/MediaBarViewController.h
  Wire-iOS/Sources/UserInterface/Overlay/MediaBar/MediaBarViewController.m
  Wire-iOS/Sources/UserInterface/Overlay/MediaBar/MediaBarViewController.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3948 Fix: convert AppDelegate
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Analytics/Analytics+Internal.h
  Wire-iOS/Sources/Analytics/Analytics.m
  Wire-iOS/Sources/Analytics/Analytics.swift
  Wire-iOS/Sources/AppDelegate+AppCenter.swift
  Wire-iOS/Sources/AppDelegate+ErrorTracking.swift
  Wire-iOS/Sources/AppDelegate+Internal.h
  Wire-iOS/Sources/AppDelegate+URL.swift
  Wire-iOS/Sources/AppDelegate.h
  Wire-iOS/Sources/AppDelegate.m
  Wire-iOS/Sources/AppDelegate.swift
  Wire-iOS/Sources/Helpers/UIApplication+Permissions.m
  Wire-iOS/Sources/Helpers/syncengine/SessionManager+Shared.swift
  Wire-iOS/Sources/Helpers/syncengine/UnauthenticatedSession+Shared.swift
  Wire-iOS/Sources/Helpers/syncengine/ZMConversation+Calling.swift
  Wire-iOS/Sources/Managers/SoundEventListener.swift
  Wire-iOS/Sources/UserInterface/Components/Controllers/FullscreenImageViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/FileTransfer/AudioMessageView.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/Utility/SavableImage.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+MediaPlayer.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter+OpenFile.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioEffectsPickerViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioRecordKeyboardViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioRecordViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Audio.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.m
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ConversationListContentController.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListItemView+Update.swift
  Wire-iOS/Sources/UserInterface/Helpers/UIViewController+Present.swift
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  Wire-iOS/Sources/UserInterface/Overlay/AppLockViewController.swift
  Wire-iOS/Sources/UserInterface/SelfProfile/AccountSelectorController.swift
  Wire-iOS/Sources/UserInterface/Settings/ProfileSelfPictureViewController.m
  Wire-iOS/WireBridgingHeader.h
  WireCommonComponents/Bundle+Backend.swift
Labels: Objc -> Swift

#3952 convert MediaPlaybackManager
  Wire-iOS Tests/MessagePresenterTests.swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Managers/MediaPlaybackManager.h
  Wire-iOS/Sources/Managers/MediaPlaybackManager.m
  Wire-iOS/Sources/Managers/MediaPlaybackManager.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.m
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListItemView.m
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListItemView.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3957 Convert UIApplication+Permissions and UIResponder+FirstResponder
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Components/ShareViewController/ShareViewController.swift
  Wire-iOS/Sources/Helpers/UIApplication+Permissions.h
  Wire-iOS/Sources/Helpers/UIApplication+Permissions.m
  Wire-iOS/Sources/Helpers/UIApplication+Permissions.swift
  Wire-iOS/Sources/UserInterface/AddContacts/AddParticipantsViewController.swift
  Wire-iOS/Sources/UserInterface/Calling/CallController/CallController.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+Constraints.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Create/ConversationCreationController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Camera.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.h
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.m
  Wire-iOS/Sources/UserInterface/Folders/FolderCreationController.swift
  Wire-iOS/Sources/UserInterface/Helpers/UIResponder+FirstResponder.swift
  Wire-iOS/Sources/UserInterface/Helpers/UIView+Zeta.m
  Wire-iOS/Sources/UserInterface/Helpers/UIViewController+Alert.swift
  Wire-iOS/Sources/UserInterface/StartUI/StartUI/SearchResultsView.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3953 converted InvisibleInputAccessoryView
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+Private.h
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/InputBar.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/InvisibleInputAccessoryView.h
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/InvisibleInputAccessoryView.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/InvisibleInputAccessoryView.swift
  Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+ContactsViewControllerDelegate.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3954 Fix: convert ConversationViewController extensions
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ConversationContentViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+Private.h
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
Labels: Objc -> Swift

#3972 convert ConversationInputBarViewControllerDelegate
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+GuestBar.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+Private.h
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Editing.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Reply.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+SendButton.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+UITextViewDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.h
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewControllerDelegate.swift
Labels: Objc -> Swift

#3973 convert ConversationViewController
  Wire-iOS Tests/ConversationDetail/GroupDetailsViewControllerSnapshotTests.swift
  Wire-iOS Tests/ConversationViewControllerSnapshotTests.swift
  Wire-iOS Tests/SwiftSnapshotTesting/XCTestCase+SnapshotTesting.swift
  Wire-iOS Tests/Utils/ZMSnapshotTestCase.swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Helpers/syncengine/Conversation+Participants.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationRootViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+Constraints.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ConversationContentViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+GuestBar.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+NavigationBar.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ParticipantsPopover.h
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ParticipantsPopover.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ProfileViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ViewLifeCycle.swift
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.h
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3979 convert ContactsViewController+ShareContacts
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+ShareContacts.h
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+ShareContacts.m
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+ShareContactsViewControllerDelegate.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.m
Labels: Objc -> Swift

#3978 convert ConversationInputBarSendController
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarSendController.h
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarSendController.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarSendController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Camera.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.h
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3982 convert ConversationListCell
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Components/Views/SwipeMenuCollectionCell.h
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConnectRequestsCell.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell+Internal.h
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell+Scroll.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell+ZMConversationObserver.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.h
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.m
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3985 convert SwipeMenuCollectionCell
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Components/Views/SwipeMenuCollectionCell+Constraint.swift
  Wire-iOS/Sources/UserInterface/Components/Views/SwipeMenuCollectionCell+Internal.h
  Wire-iOS/Sources/UserInterface/Components/Views/SwipeMenuCollectionCell.h
  Wire-iOS/Sources/UserInterface/Components/Views/SwipeMenuCollectionCell.m
  Wire-iOS/Sources/UserInterface/Components/Views/SwipeMenuCollectionCell.swift
  Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3987 fix: crash when dismiss search screen
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Components/ShareViewController/ShareViewController.swift
  Wire-iOS/Sources/UserInterface/AddContacts/AddParticipantsViewController.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+ViewLifeCycle.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.m
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+Constraints.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Private.h
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.swift
  Wire-iOS/Sources/UserInterface/Helpers/UIResponder+FirstResponder.swift
  Wire-iOS/Sources/UserInterface/Helpers/UIView+Zeta.h
  Wire-iOS/Sources/UserInterface/Helpers/UIView+Zeta.m
  Wire-iOS/Sources/UserInterface/Helpers/UIView+Zeta.swift
  Wire-iOS/Sources/UserInterface/StartUI/StartUI/SearchResultsView.swift
  Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIInviteActionBar.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3988 retire wr_isInsidePopoverPresentation
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Components/KeyboardAvoidingViewController.swift
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.m
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter.m
  Wire-iOS/Sources/UserInterface/Helpers/UIViewController+WR_Additions.m
  Wire-iOS/Sources/UserInterface/Helpers/UIViewController+isInsidePopover.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#3999 retire DeveloperMenuState
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Resources/Configuration/Project-Debug.xcconfig
  Wire-iOS/Sources/Analytics/AnalyticsCallingTracker.swift
  Wire-iOS/Sources/Components/Settings+Logging.swift
  Wire-iOS/Sources/Components/Settings.m
  Wire-iOS/Sources/Components/Settings.swift
  Wire-iOS/Sources/Developer/DebugAlert.swift
  Wire-iOS/Sources/Helpers/PerformanceDebugger.swift
  Wire-iOS/Sources/QuickActionsManager.swift
  Wire-iOS/Sources/UserInterface/Calling/CallQualityController/CallQualityController.swift
  Wire-iOS/Sources/UserInterface/Conversation Options/ConversationTimeoutOptionsViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Components/ConversationSystemMessageCell.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioRecordKeyboardViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioRecordViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/EphemeralKeyboardViewController.swift
  Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationAction.swift
  Wire-iOS/Sources/UserInterface/Helpers/Bundle+config.swift
  Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory.swift
  Wire-iOS/Sources/UserInterface/UserProfile/Devices/ProfileClientViewController.swift
  Wire-iOS/Wire-Info.plist
  Wire-iOS/WireBridgingHeader.h
  WireCommonComponents/AppCenter.swift
Labels: Objc -> Swift

#3997 remove analytics code
  Wire-iOS Tests/Wire-iOS-Tests-Bridging-Header.h
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Analytics/Analytics+Internal.h
  Wire-iOS/Sources/Analytics/Analytics.h
  Wire-iOS/Sources/Analytics/Analytics.m
  Wire-iOS/Sources/Analytics/Analytics.swift
  Wire-iOS/Sources/Analytics/AnalyticsCallingTracker.swift
  Wire-iOS/Sources/Analytics/AnalyticsDecryptionFailedObserver.h
  Wire-iOS/Sources/Analytics/AnalyticsDecryptionFailedObserver.m
  Wire-iOS/Sources/Analytics/AnalyticsProvider.swift
  Wire-iOS/Sources/Analytics/AnalyticsProviderFactory.swift
  Wire-iOS/Sources/Analytics/Events/Analytics+CallEvents.swift
  Wire-iOS/Sources/Analytics/Events/Analytics+Guests.swift
  Wire-iOS/Sources/Analytics/Events/Analytics+MediaActionEvents.swift
  Wire-iOS/Sources/Analytics/Events/Analytics+OTREvents.h
  Wire-iOS/Sources/Analytics/Events/Analytics+OTREvents.m
  Wire-iOS/Sources/Analytics/Registration/Analytics+Registration.swift
  Wire-iOS/Sources/UserInterface/Components/Controllers/FullscreenImageViewController.m
  Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.m
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController.m
  Wire-iOS/Sources/UserInterface/Settings/ProfileSelfPictureViewController.m
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#4004 Fix: convert AudioTrackPlayer observer to Swift
  Wire-iOS Tests/AudioMessageViewTests.swift
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Components/AudioPlayer/AudioTrack.swift
  Wire-iOS/Sources/Components/AudioPlayer/AudioTrackPlayer+Private.h
  Wire-iOS/Sources/Components/AudioPlayer/AudioTrackPlayer.h
  Wire-iOS/Sources/Components/AudioPlayer/AudioTrackPlayer.m
  Wire-iOS/Sources/Components/AudioPlayer/AudioTrackPlayer.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/FileTransfer/AudioMessageView.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/Utility/ZMConversationMessage+AudioMessage.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#4007 Fix: remove KeyValueObserver from MediaPlayerController
  Wire-iOS/Sources/Components/AudioPlayer/MediaPlayerController.swift
Labels: Objc -> Swift

#4005 fix the simulator version for testing
  fastlane/Fastfile
Labels: DO NOT MERGE

#4008 Convert MessagePresenter
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+MediaPlayer.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+Private.h
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.h
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.m
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationPreviewViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter+Internal.h
  Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter+Pass.swift
  Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter.h
  Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter.m
  Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift

#4013 Fix: convert Token
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/Components/TokenField/Token.m
  Wire-iOS/Sources/Components/TokenField/Token.swift
  Wire-iOS/Sources/Components/TokenField/TokenField.m
  Wire-iOS/Sources/Components/TokenField/TokenTextAttachment.m
  Wire-iOS/Sources/Components/TokenField/TokenizedTextView.m
  Wire-iOS/Sources/UserInterface/StartUI/StartUI/SearchHeaderViewController.swift
  Wire-iOS/WireBridgingHeader.h
Labels: Objc -> Swift
