Repository wireapp/wire-ios, pull requests merged in 2021-06, with the labels that each got.

#5123 [Feature] Show a warning message when the user is about to join the guest room conversation
  Cartfile.resolved
  Wire-iOS/Generated/Strings+Generated.swift
  Wire-iOS/Resources/Base.lproj/Localizable.strings
  Wire-iOS/Sources/URLActionRouter.swift
Labels: Feature request

#5133 [Feature] Add shouldPerformAction method with a message parameter
  Cartfile.resolved
  Wire-iOS/Sources/URLActionRouter.swift
Labels: Feature request

#5135 [Feature] Join the conversation via deep link
  Cartfile
  Cartfile.resolved
  Wire-iOS/Sources/URLActionRouter.swift
Labels: Feature

#5140 Release/3.84
  Cartfile
  Wire-iOS/Resources/Configuration/Version.xcconfig
  Wire-iOS/Settings+ColorScheme.swift
  Wire-iOS/UIControlState+ExpandState.swift
  fastlane/Fastfile
Labels: DO NOT MERGE
