Repository wireapp/wire-ios, pull requests merged in 2021-12, with the labels that each got.

#5462 chore: bump components SQPIT-776
  Cartfile
  Cartfile.resolved
Labels: automerge

#5467 fix: disable unstable testSoundCloudMediaPreviewAttachment
  Wire-iOS Tests/ConversationMessageCell/ConversationTextMessageTests.swift
Labels: Fix PR Title 🤦‍♂️

#5475 chore: remove methods which deprecated on iOS 11
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Sources/UserInterface/Camera/CameraController.swift
  Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.swift
  Wire-iOS/Sources/UserInterface/Helpers/UITextContentType+Availability.swift
  Wire-iOS/Sources/UserInterface/Helpers/UserInputRequest+LegalHold.swift
Labels: More testing
