Repository wireapp/wire-ios, pull requests merged in 2022-01, with the labels that each got.

#5482 feat: Handle new error code for guest links SQSERVICES-1049
  Wire-iOS/Sources/UserInterface/Conversation Options/ConversationOptionsViewController.swift
Labels: Feature

#5461 chore: update copy for domain blocked error SQSERVICES-997
  Wire-iOS/Generated/Strings+Generated.swift
  Wire-iOS/Resources/Base.lproj/Localizable.strings
Labels: DO NOT MERGE

#5443 feat: Handle conversationGuestLinks feature flag SQSERVICES-1049
  Cartfile
  Cartfile.resolved
  Wire-iOS Tests/ConversationOptionsViewControllerTests.swift
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WhenItIsNotAllowed.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WhenItIsNotAllowed_DarkTheme.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithLink.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithLink_Copying.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithLink_DarkTheme.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithLink_DarkTheme_Copying.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithoutLink.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithoutLink_DarkTheme.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersItsTitle.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersTeamOnly.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItRendersTeamOnly_DarkTheme.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItUpdatesWhenItReceivesAChange.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/ConversationOptionsViewControllerTests/testThatItUpdatesWhenItReceivesAChange_Loading.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/UIAlertControllerFeatureConfigSnapshotTests/testFileSharingDisabled.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/UIAlertControllerFeatureConfigSnapshotTests/testFileSharingEnabled.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/UIAlertControllerFeatureConfigSnapshotTests/testSelfDeletingMessagesIsDisabled.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/UIAlertControllerFeatureConfigSnapshotTests/testSelfDeletingMessagesIsForcedOn.1.png
  Wire-iOS Tests/ReferenceImages/14_4_0/UIAlertControllerFeatureConfigSnapshotTests/testSelfDeletingMessagsIsEnabled.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WhenItIsNotAllowed.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WhenItIsNotAllowed_DarkTheme.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithLink.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithLink_Copying.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithLink_DarkTheme.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithLink_DarkTheme_Copying.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithoutLink.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WithoutLink_DarkTheme.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersItsTitle.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersTeamOnly.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItRendersTeamOnly_DarkTheme.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItUpdatesWhenItReceivesAChange.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/ConversationOptionsViewControllerTests/testThatItUpdatesWhenItReceivesAChange_Loading.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/UIAlertControllerFeatureConfigSnapshotTests/testFileSharingDisabled.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/UIAlertControllerFeatureConfigSnapshotTests/testFileSharingEnabled.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/UIAlertControllerFeatureConfigSnapshotTests/testSelfDeletingMessagesIsDisabled.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/UIAlertControllerFeatureConfigSnapshotTests/testSelfDeletingMessagesIsForcedOn.1.png
  Wire-iOS Tests/ReferenceImages/15_0_0/UIAlertControllerFeatureConfigSnapshotTests/testSelfDeletingMessagsIsEnabled.1.png
  Wire-iOS Tests/ReferenceImages/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WhenItIsNotAllowed.1.png
  Wire-iOS Tests/ReferenceImages/ConversationOptionsViewControllerTests/testThatItRendersAllowGuests_WhenItIsNotAllowed_DarkTheme.1.png
  Wire-iOS.xcodeproj/project.pbxproj
  Wire-iOS/Generated/Strings+Generated.swift
  Wire-iOS/Resources/Base.lproj/Localizable.strings
  Wire-iOS/Sources/Helpers/UIAlertController/UIAlertController+FeatureConfig.swift
  Wire-iOS/Sources/UserInterface/Conversation Options/CellConfiguration.swift
  Wire-iOS/Sources/UserInterface/Conversation Options/Conversation+OptionsConfiguration.swift
  Wire-iOS/Sources/UserInterface/Conversation Options/ConversationOptionsViewController.swift
  Wire-iOS/Sources/UserInterface/Conversation Options/ConversationOptionsViewModel.swift
  Wire-iOS/Sources/UserInterface/Conversation Options/GuestLinkInfoCell.swift
Labels: Feature

#5509 fix: remove deprecated flags SQPIT-847
  Wire-iOS/Wire-Info.plist
Labels: Fix PR Title 🤦‍♂️
