Repository wireapp/wire-ios, pull requests merged in 2023-12, with the labels that each got.

#758 chore: log more files [WPB-5772]
  wire-ios-system/Source/NSFileHandle+SafeOperations.h
  wire-ios-system/Source/NSFileHandle+SafeOperations.m
  wire-ios-system/Source/ZMSLog.swift
  wire-ios-system/Source/ZMSLogging.h
  wire-ios-system/Tests/ZMLogTests.swift
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS Tests/LoggingTest.swift
  wire-ios/Wire-iOS/Sources/Developer/DebugAlert.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsTechnicalReportViewController.swift
Labels: hotfix

#767 feat: rework wording for database failure popop - WPB-5809
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMessagingMigrator.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests+APIVersionResolver.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests.swift
  wire-ios/Wire-iOS Tests/AppStateCalculatorTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
  wire-ios/Wire-iOS/Sources/AppStateCalculator.swift
  wire-ios/Wire-iOS/Sources/Developer/DebugAlert.swift
  wire-ios/Wire-iOS/Sources/UserInterface/BlockerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/MFMailComposeViewController+Logs.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsTechnicalReportViewController.swift
Labels: hotfix

#776 fix: mls service tests [WPB-5726]
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/MockMLSActionExecutor.swift
Labels: DO NOT MERGE, CoreCryptoUpdate

#778 test: fix flaky date formatter test
  wire-ios/Wire-iOS Tests/DateFormatterTests.swift
Labels: CoreCryptoUpdate

#774 feat: Fetch acme directory root path from the team settings WPB-5706
  wire-ios-data-model/Source/Model/FeatureConfig/E2EId/Feature.E2EId.swift
  wire-ios-data-model/Source/Model/FeatureConfig/Feature.swift
  wire-ios-data-model/Source/Model/FeatureConfig/FeatureRepository.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPI.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPITests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/FeatureConfigRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/GetFeatureConfigsActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/GetFeatureConfigsActionHandlerTests.swift
  wire-ios-request-strategy/sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
Labels: E2EI

#782 refactor: broadcast availability status using message sender WBP-5802
  wire-ios-request-strategy/Sources/APIs/MessageAPI.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageDependencyResolverTests.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSender.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSenderTests.swift
  wire-ios-request-strategy/Sources/Protocols/OTREntity.swift
  wire-ios-request-strategy/Sources/Request Strategies/Availability/AvailabilityRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Availability/AvailabilityRequestStrategyTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestFactoryTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Delivery Receipts/DeliveryReceiptRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Generic Message/GenericMessageEntity.swift
  wire-ios-request-strategy/Sources/Request Strategies/User Clients/Helpers/ZMOTRMessage+Missing.swift
  wire-ios-request-strategy/Sources/Request Strategies/User Clients/Helpers/ZMOTRMessageMissingTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/User Clients/ResetSessionRequestStrategy.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-request-strategy/sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/CallingRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-sync-engine/sourcery/generated/AutoMockable.manual.swift
Labels: CoreCryptoUpdate

#766 feat: turn methods async [WPB-5726]
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/MockMLSActionExecutor.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMAssetClientMessageTests+Ephemeral.swift
  wire-ios-data-model/Tests/Source/Utils/DiskDatabaseTests.swift
  wire-ios-data-model/Tests/Use cases/RemoveLocalConversationUseCaseTests.swift
  wire-ios-data-model/Use cases/RemoveLocalConversationUseCase.swift
  wire-ios-request-strategy/Sources/Object Syncs/Helpers/IdentifierObjectSync.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/CreateGroupConversationActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/CreateGroupConversationActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/SyncConversationActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/SyncConversationActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationRequestStrategy.swift
  wire-ios-request-strategy/Tests/Helpers/ActionHandlerTestBase.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/xcshareddata/xcschemes/WireRequestStrategy.xcscheme
  wire-ios-sync-engine/Source/Calling/MLSConferenceStaleParticipantsRemover.swift
  wire-ios-sync-engine/Source/Data Model/Conversation+Deletion.swift
  wire-ios-sync-engine/Source/Synchronization/EventProcessor.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Calling/MLSConferenceStaleParticipantsRemoverTests.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTests+Deletion.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTests+RecurringActions.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTests.swift
  wire-ios-sync-engine/Tests/Source/Utility/AnalyticsTests.swift
  wire-ios-sync-engine/Tests/TestsPlans/AllTests.xctestplan
  wire-ios-utilities/Source/Result+success.swift
  wire-ios-utilities/WireUtilities.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/xcshareddata/xcschemes/Wire-iOS.xcscheme
Labels: CoreCryptoUpdate

#779 feat: turn prekey methods async WBP-5723
  wire-ios-data-model/Source/Proteus/ProteusProvider.swift
  wire-ios-data-model/Source/Proteus/ProteusServiceInterface.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Support/Sources/MockProteusProvider.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/PrekeyGenerator.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientRequestFactory.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientRequestStrategy.swift
  wire-ios-sync-engine/Source/UserSession/ClientUpdateStatus.swift
  wire-ios-sync-engine/Source/UserSession/ZMClientRegistrationStatus.h
  wire-ios-sync-engine/Source/UserSession/ZMClientRegistrationStatus.m
  wire-ios-sync-engine/Source/UserSession/ZMClientRegistrationStatus.swift
  wire-ios-sync-engine/Tests/Source/E2EE/UserClientRequestFactoryTests.swift
  wire-ios-sync-engine/Tests/Source/E2EE/UserClientRequestStrategyTests.swift
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/Integration/LoginFlowTests.m
  wire-ios-sync-engine/Tests/Source/Synchronization/SynchronizationMocks.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ClientUpdateStatusTests.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMClientRegistrationStatusTests.m
  wire-ios-sync-engine/Tests/Source/UserSession/ZMClientRegistrationStatusTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
Labels: CoreCryptoUpdate

#771 refactor: prepare CreateGroupConversationActionHandler for async WBP-5136
  wire-ios-request-strategy/Sources/Entity Actions/ActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/AddParticipantActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/CreateGroupConversationActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/CreateGroupConversationActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationRequestStrategyTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/ClaimMLSKeyPackageActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/CountSelfMLSKeyPackagesActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/DeleteSubgroupActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchBackendMLSPublicKeysActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchMLSConversationGroupInfoActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchMLSSubconversationGroupInfoActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchSubgroupActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/LeaveSubconversationActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/SendCommitBundleActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/SendMLSMessageActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/UploadSelfMLSKeyPackagesActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/User Clients/FetchUserClientsActionHandlerTests.swift
  wire-ios-request-strategy/Tests/Helpers/ActionHandlerTestBase.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
Labels: CoreCryptoUpdate

#789 fix: import backup flow - WPB-5885
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack+Backup.swift
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMessagingMigrator.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseBaseTest.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationLastMessagesTest.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests+Confirmations.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests+Timestamps.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMMessage+ServerTimestamp.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/SessionManager/SessionManager+Backup.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/Authentication/Backup/BackupRestoreController.swift
  wire-ios/Wire-iOS/Sources/Authentication/Backup/UIAlertController+Restore.swift
  wire-ios/Wire-iOS/Sources/Helpers/TmpFiles/TemporaryFileService.swift
Labels: hotfix

#788 fix: proteus provider access
  wire-ios-data-model/Source/Proteus/ProteusProvider.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/Use cases/GetUserClientFingerprintUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
Labels: CoreCryptoUpdate

#787 refactor: extract commit sending into separate actor WPB-2091
  wire-ios-data-model/Source/MLS/CommitError.swift
  wire-ios-data-model/Source/MLS/CommitSender.swift
  wire-ios-data-model/Source/MLS/ExternalCommitError.swift
  wire-ios-data-model/Source/MLS/MLSActionExecutor.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/SafeCoreCrypto.swift
  wire-ios-data-model/Support/Sourcery/config.yml
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/CommitSenderTests.swift
  wire-ios-data-model/Tests/MLS/MLSActionExecutorTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/MockSafeCoreCrypto.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
Labels: E2EI

#794 feat: remove duplicate mocks related to CoreCrypto - WPB-5932
  wire-ios-data-model/Support/Sources/MockCoreCryptoProtocol.swift
  wire-ios-data-model/Support/Sources/MockSafeCoreCrypto.swift
  wire-ios-data-model/Tests/MLS/CommitSenderTests.swift
  wire-ios-data-model/Tests/MLS/MLSActionExecutorTests.swift
  wire-ios-data-model/Tests/MLS/MLSDecryptionServiceTests.swift
  wire-ios-data-model/Tests/MLS/MLSEncryptionServiceTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/SafeCoreCryptoTests.swift
  wire-ios-data-model/Tests/Proteus/ProteusServiceTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-notification-engine/WireNotificationEngine.xcodeproj/project.pbxproj
  wire-ios-notification-engine/WireNotificationEngineTests/MockCoreCrypto.swift
  wire-ios-notification-engine/WireNotificationEngineTests/MockEARServiceInterface.swift
  wire-ios-notification-engine/WireNotificationEngineTests/MockSafeCoreCrypto.swift
  wire-ios-sync-engine/Tests/Source/Core Crypto/MockCoreCrypto.swift
  wire-ios-sync-engine/Tests/Source/Mocks/MockEARServiceInterface.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/EventProcessorTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
Labels: CoreCryptoUpdate

#790 feat: make MLSService.createGroup(for:) async
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack.swift
  wire-ios-data-model/Source/Model/Connection/ZMConnection+Actions.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+Message.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SecurityLevel.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+Timestamps.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+UnreadCount.swift
  wire-ios-data-model/Source/Model/Message/ZMClientMessage+Encryption.swift
  wire-ios-data-model/Source/Model/Message/ZMClientMessage.swift
  wire-ios-data-model/Source/Model/Message/ZMImageMessage.m
  wire-ios-data-model/Source/Model/Message/ZMImageMessage.swift
  wire-ios-data-model/Source/Model/Message/ZMMessage+Insert.swift
  wire-ios-data-model/Source/Model/Message/ZMMessage+Internal.h
  wire-ios-data-model/Source/Model/Message/ZMMessage.m
  wire-ios-data-model/Source/Model/User/UserType.swift
  wire-ios-data-model/Source/Model/User/ZMSearchUser.swift
  wire-ios-data-model/Source/Model/User/ZMUser+LegalHoldRequest.swift
  wire-ios-data-model/Source/Utilis/EAR/PrivateEARKeyDescription.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ConversationTests.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests+Timestamps.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+Editing.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMMessageTests+GenericMessage.swift
  wire-ios-data-model/Tests/Source/Model/User/ZMUserLegalHoldTests.swift
  wire-ios-data-model/Tests/Source/Utils/BatchDeleteTests.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/MessageSendingStatusPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/UserClientPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Assets/Link Preview/LinkPreviewUpdateRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/CreateGroupConversationActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/RemoveParticipantActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/User Clients/VerifyLegalHoldRequestStrategy.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3+Events.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3+MLS.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/CallingRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientEventConsumer.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientRequestStrategy.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Calling/CallStateObserverTests.swift
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest+Encryption.swift
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/CallingRequestStrategyTests.swift
  wire-ios-utilities/Source/Sequence+Async.swift
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/Authentication/Backup/BackupRestoreController.swift
Labels: CoreCryptoUpdate

#796 chore: fetch backend public keys on group create
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/MLSRequestStrategy.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/CallingRequestStrategyTests.swift
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
Labels: CoreCryptoUpdate

#797 feat: turn MLS encryption and decryption service async - WPB-5941
  wire-ios-data-model/Source/MLS/MLSDecryptionService.swift
  wire-ios-data-model/Source/MLS/MLSEncryptionService.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSDecryptionServiceTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
Labels: CoreCryptoUpdate

#799 fix: coredata conversation is required
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMessagingMigrator.swift
  wire-ios-data-model/Source/Utilis/WireDataModelBundle.swift
  wire-ios-data-model/Tests/Source/Helper/DatabaseMigrationHelper.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/CoreDataStackTests+Backup.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/CoreDataStackTests+Migration.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseBaseTest.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+Conversations.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+UserClientUniqueness.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: hotfix

#804 fix: core data participant role [WPB-5993]
  wire-ios-data-model/Source/ManagedObjectContext/Migration/2.106-2.107/DuplicateClientsMigrationPolicy.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/2.106-2.107/MappingModel_2.106-2.107.xcmappingmodel/xcmapping.xml
  wire-ios-data-model/Source/ManagedObjectContext/Migration/2.106-2.107/RemoveZombieParticipantRolesMigrationPolicy.swift
  wire-ios-data-model/Source/Model/ConversationRole/ParticipantRole.swift
  wire-ios-data-model/Source/Model/User/ZMUser.swift
  wire-ios-data-model/Source/Model/UserClient/UserClient.swift
  wire-ios-data-model/Source/Notifications/SideEffectSources.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+ParticipantRole.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+UserClientUniqueness.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-data-model/WireDataModel.xcodeproj/xcshareddata/xcschemes/WireDataModel.xcscheme
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: hotfix
