Repository wireapp/wire-ios, pull requests merged in 2023-09, with the labels that each got.

#485 chore: bump AVS to 9.3.12 WPB-4688
  Cartfile
  Cartfile.resolved
  wire-avs.json
Labels: DO NOT MERGE

#536 chore: don't use XL runners
  .github/workflows/_reusable_run_tests.yml
Labels: Fix PR Title 🤦‍♂️

#535 feat: Add general error message for conversation creation WPB-4453
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/ConversationCreationController.swift
Labels: release

#505 fix: sending files fails after canceling first file WPB-3691 (#466)
  wire-ios-request-strategy/Sources/Object Syncs/Upstream/ZMUpstreamModifiedObjectSync.m
  wire-ios-request-strategy/Sources/Object Syncs/Upstream/ZMUpstreamModifiedObjectSyncTests.m
Labels: cherry-pick

#530 chore: Fix commiter for cherry pick automation WPB-4788 (#529)
  .github/workflows/cherry-pick-from-release-to-develop.yml
Labels: cherry-pick

#506 fix: disable categories buttons when searching WPB-4454 (#470)
  wire-ios/Wire-iOS Tests/ConversationMessageCell/CompleteReactionPickerViewControllerTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/CompleteReactionPickerViewControllerTests/testReactionPicker_withSearchQuery.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/MessageActions/CompleteReactionPicker/CompleteReactionPickerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/MessageActions/CompleteReactionPicker/ReactionSectionViewController.swift
Labels: cherry-pick

#520 fix: stale participants removal WPB-637
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/Model/Conversation/Actions/RemoveParticipantAction.swift
  wire-ios-data-model/Source/Utilis/Protos/GenericMessage+Helper.swift
  wire-ios-notification-engine/WireNotificationEngineTests/MockCoreCrypto.swift
  wire-ios-sync-engine/Source/Calling/MLSConferenceStaleParticipantsRemover.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3+MLS.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/CallingRequestStrategy.swift
  wire-ios-sync-engine/Tests/Source/Calling/MLSConferenceStaleParticipantsRemoverTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/CallingRequestStrategyTests.swift
Labels: MLS
