Repository wireapp/wire-ios, pull requests merged in 2024-12, with the labels that each got.

#2231 fix: do not disable `Go deep link` button in the developer tools - WPB-14547
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeepLinks/DeepLinksView.swift
Labels: echoes: product-roadmap

#1707 feat: refactor CI tests - WPB-11406
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/test_develop.yml
  .github/workflows/test_pr_changes.yml
  WireAPI/Tests/TestPlans/AllTests.xctestplan
  WireAnalytics/Tests/TestPlans/AllTests.xctestplan
  WireFoundation/Tests/TestPlans/AllTests.xctestplan
  WireUI/Tests/TestPlans/AllTests.xctestplan
  fastlane/Fastfile
  fastlane/framework.rb
  wire-ios-mono.xcworkspace/xcshareddata/xcschemes/WireAPIAll.xcscheme
  wire-ios-mono.xcworkspace/xcshareddata/xcschemes/WireAnalyticsAll.xcscheme
  wire-ios-mono.xcworkspace/xcshareddata/xcschemes/WireFoundationAll.xcscheme
  wire-ios-mono.xcworkspace/xcshareddata/xcschemes/WireUIAll.xcscheme
Labels: echoes: technical-roadmap/throughput

#2234 fix: Using camera to update profile picture - WPB-14659
  wire-ios/Wire-iOS/Sources/Managers/Image/ImagePickerManager.swift
Labels: echoes: unplanned

#2238 chore: add debug command to resync resources - WPB-14794
  wire-ios-sync-engine/Source/UserSession/SyncStatus.swift
  wire-ios/Wire-iOS UnitTests/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsViewModelTests.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Developer.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DebugActions.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DebugCommand.swift
Labels: hotfix, echoes: unplanned/incident

#2245 fix: slow sync instead of resync in case of no last event id - WPB-14794
  wire-ios-sync-engine/Source/UserSession/SyncStatus.swift
Labels: echoes: unplanned/incident

#2252 fix: CI tests - WPB-14822
  .github/workflows/_reusable_app_release.yml
  .github/workflows/_reusable_app_release_without_changelog.yml
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/test_develop.yml
  fastlane/Fastfile
  wire-ios-canvas/WireCanvas.xcodeproj/project.pbxproj
  wire-ios-canvas/WireCanvas.xcodeproj/xcshareddata/xcschemes/WireCanvas.xcscheme
  wire-ios-canvas/WireCanvasTests/TestPlans/AllTests.xctestplan
  wire-ios-canvas/WireCanvasTests/WireCanvasTests.swift
Labels: echoes: technical-roadmap/technical-debt, echoes: technical-roadmap/throughput, echoes: product-roadmap, echoes: unplanned, echoes: technical-roadmap/security, echoes: technical-roadmap, echoes: product-roadmap/bug, echoes: unplanned/incident, echoes: unplanned/quick-win

#2254 feat: Show MLS fingerprints if MLS is enabled - WPB-14847
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/OtherUserDeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityIsDisabledAndMLSIsEnabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/OtherUserDeviceDetailsViewTests/testThatIsShowsDebugMenu_WhenE2eidentityViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/OtherUserDeviceDetailsViewTests/testWhenE2eidentityViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/OtherUserDeviceDetailsViewTests/testWhenE2eidentityViewIsDisabledInDarkMode.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceDetailsViewActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/DeviceDetailsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/OtherUserClientsListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/OtherUserDeviceDetailsView.swift
Labels: echoes: unplanned/incident

#2256 fix: CI tests - WPB-14822
  .github/workflows/_reusable_app_release.yml
  .github/workflows/_reusable_app_release_without_changelog.yml
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/test_develop.yml
  fastlane/Fastfile
  wire-ios-canvas/WireCanvas.xcodeproj/project.pbxproj
  wire-ios-canvas/WireCanvas.xcodeproj/xcshareddata/xcschemes/WireCanvas.xcscheme
  wire-ios-canvas/WireCanvasTests/TestPlans/AllTests.xctestplan
  wire-ios-canvas/WireCanvasTests/WireCanvasTests.swift
Labels: echoes: technical-roadmap/throughput

#2194 refactor: process conversation typing event - WPB-10178
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationTypingEventProcessor/ConversationTypingEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationTypingEventProcessor/ConversationTypingUsersInfo.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationTypingEventProcessor/ConversationTypingUsersTimeout.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationTypingEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationTypingUsersTimeoutTests.swift
  WireDomain/Tests/WireDomainTests/LocalStores/ConversationLocalStoreTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConversationRepositoryTests.swift
  wire-ios-data-model/Source/Model/Conversation/TypingUsers/NSManagedObjectContext+TypingUsers.swift
  wire-ios-data-model/Source/Model/Conversation/TypingUsers/TypingUsers.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/Sections/ParticipantsSectionController.swift
Labels: echoes: technical-roadmap/technical-debt

#2261 fix: reference to the xcresult analyzation action - WPB-11406
  .github/workflows/_reusable_run_tests.yml
Labels: echoes: technical-roadmap/throughput

#2262 fix: reference to the xcresult analyzation action - WPB-11406
  .github/workflows/_reusable_run_tests.yml
Labels: echoes: technical-roadmap/throughput

#2253 chore: resolve todos in WireAnalytics - WPB-11881
  .github/workflows/_reusable_run_tests.yml
  WireAnalytics/Package.swift
  WireAnalytics/Sources/WireAnalytics/Countly/Countly+Types.swift
  WireAnalytics/Sources/WireAnalytics/Events/CallQualitySurveyReview.swift
  WireAnalytics/Sources/WireAnalytics/Service/AnalyticsService.swift
  WireAnalytics/Sources/WireAnalyticsSupport/MockAnalyticsServiceProtocol.swift
  WireAnalytics/Sources/WireAnalyticsSupport/Sourcery/sourcery.yml
  WireAnalytics/Sources/WireDatadog/WireDatadog.swift
  WireAnalytics/Sources/WireDatadog/WireFakeDatadog.swift
  WireAnalytics/Tests/WireAnalyticsTests/AnalyticsServiceTests.swift
  WireLogging/Sources/WireLogging/WireLogMessage/WireLogLevel.swift
  fastlane/framework.rb
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios/WireCommonComponents/Analytics/Datadog/WireDatadog+LoggerProtocol.swift
Labels: echoes: unplanned, echoes: technical-roadmap

#2267 fix: remove empty string key in Localizable.xcstrings - WPB-10347
  WireUI/Sources/WireIndividualToTeamMigrationUI/Resources/Accessibility.xcstrings
  WireUI/Sources/WireIndividualToTeamMigrationUI/Resources/Localizable.xcstrings
Labels: echoes: product-roadmap, echoes/initiative: personal-users-to-team-users...

#2272 fix: format Swift code - WPB-10347
  wire-ios-data-model/Source/Model/User/ZMUser+Predicates.swift
  wire-ios-sync-engine/Source/UserSession/Search/SearchTask.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+UserSession.swift
  wire-ios-sync-engine/Tests/Source/Mocks/MockAPIService.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ContactsUI/ContactsDataSource.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/SearchResultsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+AddressBook.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/ProfileActionsFactory.swift
Labels: echoes/initiative: personal-users-to-team-users...

#2263 fix: tests run on CI - WPB-14822
  .github/workflows/_reusable_app_release.yml
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/test_develop.yml
  .github/workflows/test_pr_changes.yml
  .gitignore
  WireAPI/Tests/WireAPITests/Helpers/HTTPRequestSnapshotHelper.swift
  WireFoundation/Sources/WireTesting/Utilities/SnapshotHelper.swift
  fastlane/Fastfile
  fastlane/framework.rb
  wire-ios-canvas/WireCanvas.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap/throughput

#2270 chore: update to core crypto 2 - WPB-14638
  Cartfile
  Cartfile.resolved
  WireDomain/Sources/WireDomain/Event Decryption/ProteusMessageDecryptor.swift
  WireDomain/Sources/WireDomain/Event Decryption/ProteusMessageDecryptorError.swift
  WireDomain/Sources/WireDomain/Event Decryption/UpdateEventDecryptor.swift
  WireDomain/Tests/WireDomainTests/Event Decryption/ProteusMessageDecryptorTests.swift
  WireDomain/Tests/WireDomainTests/Event Decryption/UpdateEventDecryptorTests.swift
  WireLogging/Sources/WireLogging/LogAttributes.swift
  wire-ios-data-model/Source/Core Crypto/CoreCryptoCallbacks.swift
  wire-ios-data-model/Source/Core Crypto/CoreCryptoConfiguration.swift
  wire-ios-data-model/Source/Core Crypto/CoreCryptoKeyProvider.swift
  wire-ios-data-model/Source/Core Crypto/CoreCryptoLogger.swift
  wire-ios-data-model/Source/Core Crypto/CoreCryptoProvider.swift
  wire-ios-data-model/Source/Core Crypto/SafeCoreCrypto.swift
  wire-ios-data-model/Source/MLS/MLSDecryptionService.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SecurityLevel.swift
  wire-ios-data-model/Source/Proteus/ProteusError+CBox.swift
  wire-ios-data-model/Source/Proteus/ProteusError.swift
  wire-ios-data-model/Source/Proteus/ProteusService.swift
  wire-ios-data-model/Source/Utilis/CoreCryptoProtocolExt.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Support/Sources/MockE2EIEnrollment.swift
  wire-ios-data-model/Tests/Proteus/ProteusServiceTests.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests+SecurityLevel.swift
  wire-ios-data-model/Tests/Source/Model/UserClient/UserClientTests+ResetSession.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Helpers/EventDecoderDecryptionTests.swift
  wire-ios-request-strategy/Sources/Helpers/ZMConversation+Notifications.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder+Proteus.swift
  wire-ios-sync-engine/Source/Use cases/CheckOneOnOneConversationIsReadyUseCase.swift
  wire-ios-testing/Source/Public/XCTestCase+Helpers.swift
Labels: release

#2274 chore: ignore incall hand raise - WPB-14922
  Cartfile.private
  Cartfile.resolved
  wire-ios-data-model/Source/Model/Message/ZMOTRMessage+UpdateEvent.swift
  wire-ios-data-model/Source/Utilis/Protos/GenericMessage+Debug.swift
  wire-ios-data-model/Source/Utilis/Protos/GenericMessage+Helper.swift
  wire-ios-data-model/Source/Utilis/Protos/GenericMessage+MessageCapable.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests.swift
  wire-ios-protos/Protos/messages.pb.swift
  wire-ios-protos/Protos/mls.pb.swift
  wire-ios-protos/Protos/otr.pb.swift
  wire-ios-protos/WireProtos.docc/WireProtos.md
  wire-ios-protos/fastlane/Fastfile
Labels: release

#2282 chore: bump core crypto to 3.0 - WPB-15003
  Cartfile
  Cartfile.resolved
Labels: release

#2237 feat: Certificate pinning and proxy mode in `WireAPI` - WPB-10450
  WireAPI/Package.swift
  WireAPI/Sources/WireAPI/Assembly.swift
  WireAPI/Sources/WireAPI/Models/Backend/BackendEnvironment.swift
  WireAPI/Sources/WireAPI/Models/Backend/PinnedKey.swift
  WireAPI/Sources/WireAPI/Models/Backend/ProxySettings.swift
  WireAPI/Sources/WireAPI/Models/Backend/ServerTrustValidator.swift
  WireAPI/Sources/WireAPI/Network/NetworkService/NetworkService.swift
  WireAPI/Sources/WireAPI/Network/URLSessionConfigurationFactory.swift
  WireAPI/Tests/WireAPITests/Authentication/AuthenticationManagerTests.swift
  WireAPI/Tests/WireAPITests/Backend/PinnedKeyTests.swift
  WireAPI/Tests/WireAPITests/Backend/ProxySettingsTests.swift
  WireAPI/Tests/WireAPITests/Backend/Resources/certificates.json
  WireAPI/Tests/WireAPITests/Backend/Resources/public-keys.json
  WireAPI/Tests/WireAPITests/Backend/ServerTrustValidatorTests.swift
  WireAPI/Tests/WireAPITests/Helpers/TestDataLoading.swift
  WireAPI/Tests/WireAPITests/Mocks/MockURLAuthenticationChallengeSender.swift
  WireAPI/Tests/WireAPITests/Mocks/MockURLProtectionSpace.swift
  WireAPI/Tests/WireAPITests/Mocks/PublicKeys.swift
  WireAPI/Tests/WireAPITests/Mocks/SecTrust+Mock.swift
  WireAPI/Tests/WireAPITests/Network/APIService/APIServiceTests.swift
  WireAPI/Tests/WireAPITests/Network/NetworkService/NetworkServiceTests.swift
  wire-ios-request-strategy/Sources/Helpers/EventDecoderDecryptionTests.swift
  wire-ios-sync-engine/Source/SessionManager/SessionFactories.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-system/Source/ZMSAsserts.swift
  wire-ios-transport/Source/Public/BackendEnvironment.swift
  wire-ios-transport/Source/Public/TrustData.swift
  wire-ios-transport/Source/PushChannel/NativePushChannel.swift
  wire-ios-transport/Tests/Source/PushChannel/NativePushChannelTests+ServerTrust.swift
  wire-ios-transport/Tests/Source/TransportSession/UnauthenticatedTransportSessionTests .swift
  wire-ios-transport/Tests/Source/URLSession/BackendEnvironmentTests.swift
  wire-ios-transport/WireTransport.xcodeproj/project.pbxproj
Labels: release, echoes: technical-roadmap, echoes/initiative: ios-sync-refactoring

#2283 fix: crash ipad - WPB-14999
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/CancellationSheet.swift
Labels: release, echoes/initiative: personal-users-to-team-users...

#2289 fix: move snapshot images to LFS - WPB-11270
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/imageMode_available_showNotifications.dark.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/imageMode_available_showNotifications.light.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/imageMode_away_showNotifications.dark.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/imageMode_away_showNotifications.light.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/imageMode_busy_showNotifications.dark.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/imageMode_busy_showNotifications.light.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/imageMode_noAvailability_showNotifications.dark.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/imageMode_noAvailability_showNotifications.light.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/textMode_available_showNotifications.dark.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/textMode_available_showNotifications.light.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/textMode_away_showNotifications.dark.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/textMode_away_showNotifications.light.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/textMode_busy_showNotifications.dark.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/textMode_busy_showNotifications.light.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/textMode_noAvailability_showNotifications.dark.png
  WireUI/Tests/WireAccountImageUITests/Resources/ReferenceImages/AccountImageViewSnapshotTests/textMode_noAvailability_showNotifications.light.png
Labels: echoes/initiative: personal-users-to-team-users...

#2284 fix: misc individual to team fixes - WPB-14957
  WireAPI/Package.swift
  WireAPI/Sources/WireAPI/APIs/AccountsAPI/AccountsAPIV7.swift
  WireAPI/Tests/WireAPITests/APIs/AccountsAPI/AccountsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/AccountsAPI/Resources/UpgradeToTeamErrorResponse_UserAlreadyInATeam.json
  WireAPI/Tests/WireAPITests/APIs/AccountsAPI/Resources/UpgradeToTeamErrorResponse_UserNotFound.json
  WireAPI/Tests/WireAPITests/APIs/AccountsAPI/Resources/UpgradeToTeamSuccessResponse.json
  WireAPI/Tests/WireAPITests/APIs/AccountsAPI/__Snapshots__/AccountsAPITests/testUpgradeToTeam_Request_Generation_V7_Onwards.request-0-v7.txt
  WireDomain/Sources/WireDomain/UseCases/IndividualToTeamMigrationUseCaseImplementation.swift
  WireFoundation/Sources/WireFoundation/SDKAbstractions/KeychainProtocol.swift
  WireUI/Sources/WireDesign/Colors/ColorTheme.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Components/Checkbox.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Components/PageContainer.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/IndividualToTeamMigrationViewController.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Resources/Localizable.xcstrings
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/ConfirmationView.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/PreviewsSetup/ConfirmationPreview.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/PreviewsSetup/_FeaturePreview.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/TeamNameView.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/TeamPlanSelectionView.swift
  wire-ios-sync-engine/Source/Data Model/Typing.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+IndividualToTeamMigration.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewsMonitor.swift
Labels: release, echoes: product-roadmap/bug

#2281 feat: Create an MLS client at the end of the quick sync, if needed - WPB-14987
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTests.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTestsBase.swift
  wire-ios/Tests/TestPlans/AllTests.xctestplan
Labels: release, echoes: unplanned

#2288 fix: It shows Proteus then MLS conversation after enabling MLS for team - WPB-15027
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolver.swift
Labels: release, echoes: unplanned

#2294 chore: bump app version - WPB-14573
  .github/workflows/test_develop.yml
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: echoes: technical-roadmap

#2286 chore: review mls logs from playtest - WPB-15028
  WireLogging/Sources/WireLogging/SystemLogger.swift
  wire-ios-data-model/Source/Core Crypto/CoreCryptoProvider.swift
  wire-ios-data-model/Source/Core Crypto/SafeCoreCrypto.swift
  wire-ios-data-model/Support/Sources/MockSafeCoreCrypto.swift
  wire-ios-request-strategy/Sources/APIs/NetworkError.swift
Labels: release, echoes: technical-roadmap

#2291 fix: snapshot reference image - WPB-11270
  wire-ios/Tests/TestPlans/AllTests.xctestplan
  wire-ios/Wire-iOS Tests/ReferenceImages/ServiceDetailViewControllerSnapshotTests/testForTeamMemberWrappedInNavigationController.1.png
Labels: echoes/initiative: personal-users-to-team-users...

#2297 fix: do not display confirmation alert when closing flow on confirmation screen - WPB-15049
  WireUI/Sources/WireIndividualToTeamMigrationUI/IndividualToTeamMigrationViewController.swift
Labels: echoes/initiative: personal-users-to-team-users...

#2293 fix: can't change group role on api v7 - WPB-15054
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+Role.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/UpdateRoleActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/UpdateRoleActionHandlerTests.swift
Labels: release, echoes/initiative: personal-users-to-team-users...

#2298 fix: prevent drag to dismiss on all but last screens of the personal to team migration flow - WPB-15051
  WireUI/Sources/WireIndividualToTeamMigrationUI/IndividualToTeamMigrationViewController.swift
Labels: release, echoes/initiative: personal-users-to-team-users...

#2304 fix: Ensure contact requests are first in conversation list - WPB-15098
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ViewModel/ConversationListViewModel.swift
Labels: release, echoes: product-roadmap/bug

#2290 fix: other clients don't discover new team - WPB-15043
  wire-ios-data-model/Source/Model/User/ZMUser+Teams.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/TeamDownloadRequestStrategy.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/TeamDownloadRequestStrategy+EventsTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/TeamDownloadRequestStrategyTests.swift
Labels: release, echoes/initiative: personal-users-to-team-users...

#2303 fix: Scrolling issues in team migration - WPB-15048
  WireUI/Sources/WireIndividualToTeamMigrationUI/Components/PageContainer.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/IndividualToTeamMigrationViewController.swift
Labels: release, echoes/initiative: personal-users-to-team-users...

#2269 feat: Add sha256 in CI for C builds - WPB-11313
  .github/workflows/_reusable_app_release.yml
  fastlane/Fastfile
Labels: echoes: technical-roadmap/throughput

#2312 fix: failure triggering C builds - WPB-15117
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/changelog.yml
  .github/workflows/cherry-pick-from-release-to-develop.yml
  .github/workflows/crowdin.yml
  .github/workflows/jira_lint_and_link.yml
  .github/workflows/pr-author-assigner.yml
  .github/workflows/semantic_commit_lint.yml
  .github/workflows/stale.yml
  .github/workflows/swiftformat.yml
  .github/workflows/swiftlint.yml
  .github/workflows/sz_app_release_production.yml
  .github/workflows/test_pr_changes.yml
  fastlane/Fastfile
Labels: echoes: technical-roadmap/throughput

#2321 fix: unable to complete SSO flow - WPB-15164
  wire-ios-sync-engine/Source/SessionManager/SessionManager+SwitchBackend.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Company Login/CompanyLoginController.swift
Labels: echoes: unplanned/support

#2305 fix: dismiss to conversations on "Back To Wire" and "Go To Team Management - WPB-15082
  WireAnalytics/Sources/WireAnalytics/Events/Predefined/AnalyticsEvent+User.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/IndividualToTeamMigrationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
Labels: release, echoes: technical-roadmap, echoes/initiative: personal-users-to-team-users..., echoes: product-roadmap/bug

#2170 chore: remove architecture related configuration - WPB-12030
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  wire-ios-canvas/Resources/Configurations/zmc-config/ios-test-target.xcconfig
  wire-ios-canvas/Resources/Configurations/zmc-config/project-common.xcconfig
  wire-ios-canvas/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-canvas/WireCanvas.xcodeproj/project.pbxproj
  wire-ios-cryptobox/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-cryptobox/WireCryptobox.xcodeproj/project.pbxproj
  wire-ios-data-model/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-images/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-images/WireImages.xcodeproj/project.pbxproj
  wire-ios-link-preview/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-link-preview/WireLinkPreview.xcodeproj/project.pbxproj
  wire-ios-mocktransport/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-mocktransport/WireMockTransport.xcodeproj/project.pbxproj
  wire-ios-notification-engine/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-notification-engine/WireNotificationEngine.xcodeproj/project.pbxproj
  wire-ios-protos/Resources/Configurations/zmc-config/ios.xcconfig
  wire-ios-protos/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-protos/Resources/Configurations/zmc-config/simulator.xcconfig
  wire-ios-protos/Resources/Configurations/zmc-config/test-host-ios.xcconfig
  wire-ios-protos/WireProtos.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-share-engine/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-share-engine/WireShareEngine.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios-system/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
  wire-ios-testing/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-testing/WireTesting.xcodeproj/project.pbxproj
  wire-ios-transport/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-transport/WireTransport.xcodeproj/project.pbxproj
  wire-ios-utilities/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-utilities/WireUtilities.xcodeproj/project.pbxproj
  wire-ios-ziphy/Resources/Configurations/zmc-config/ios.xcconfig
  wire-ios-ziphy/Resources/Configurations/zmc-config/project-common.xcconfig
  wire-ios-ziphy/Resources/Configurations/zmc-config/project-debug.xcconfig
  wire-ios-ziphy/Resources/Configurations/zmc-config/simulator.xcconfig
  wire-ios-ziphy/Ziphy.xcodeproj/project.pbxproj
  wire-ios/Configuration/Base.xcconfig
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Resources/Configuration/Project-Debug.xcconfig
  xcconfigs/ios-arm64Simulator.xcconfig
  xcconfigs/ios-common.xcconfig
  xcconfigs/ios.xcconfig
Labels: echoes: technical-roadmap/technical-debt

#2325 fix: Creating team membership & tests - WPB-15043
  wire-ios-data-model/Source/Model/User/ZMUser+Teams.swift
  wire-ios-data-model/Tests/Source/Model/User/ZMUserTests.m
Labels: echoes/initiative: personal-users-to-team-users...

#2292 feat: Sort conversations list search results - WPB-14955
  wire-ios-data-model/Source/ConversationSearch/FilterConversationsUseCase.swift
  wire-ios-data-model/Source/ConversationSearch/FilterableConversation.swift
  wire-ios-data-model/Source/ConversationSearch/MutableConversationContainer.swift
  wire-ios-data-model/Source/ConversationSearch/ZMFilterableConversationAdapter.swift
  wire-ios-data-model/Tests/ConversationSearch/FilterConversationsUseCaseTests.swift
  wire-ios/Wire-iOS Tests/AudioMessageViewTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ViewModel/ConversationListViewModel.swift
Labels: release

#2327 fix: unable to complete SSO flow - WPB-15164
  wire-ios-sync-engine/Source/SessionManager/SessionManager+SwitchBackend.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Company Login/CompanyLoginController.swift
Labels: echoes: unplanned/support
