Repository wireapp/wire-ios, pull requests merged in 2024-05, with the labels that each got.

#1484 fix: Display only legal instead of terms of use and privacy policy under 'About' in settings tab - WPB-8865
  wire-ios/Wire-iOS Tests/Bundle/URL+WireTests.swift
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Helpers/URL+Wire.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory.swift
Labels: cherry-pick

#1488 fix: enable speaker button for video calls - WPB-9217
  wire-ios/Tests/TestPlans/AllTests.xctestplan
  wire-ios/Wire-iOS Tests/Calling/CallActionsViewSnapshotTests.swift
  wire-ios/Wire-iOS Tests/Calling/CallInfoTestFixture.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallActionsView/CallActionsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallActionsView/MediaState.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallViewController/CallInfoConfiguration.swift
Labels: release

#1505 fix: calls crash on simulator video [WPB-8954]
  wire-ios/Wire-iOS Tests/Calling/SelfCallParticipantViewTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallController/ActiveCallRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallParticipantViews/AVSIdentifierProvider.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallParticipantViews/AVSVideoContainerView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallParticipantViews/AVSVideoViewProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallParticipantViews/BaseCallParticipantView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallParticipantViews/CallParticipantView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallParticipantViews/SelfCallParticipantView.swift
Labels: hotfix, cherry-pick
