Repository wireapp/wire-ios, pull requests merged in 2024-01, with the labels that each got.

#775 feat: Client periodically checks if migration can be finalised - WPB-544
  wire-ios-data-model/Source/MLS/MLSActionsProvider.swift
  wire-ios-data-model/Source/MLS/Migration/ProteusToMLSMigrationCoordinator.swift
  wire-ios-data-model/Source/Utilis/Date+Helpers.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/ProteusToMLSMigrationCoordinatorTests.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConnectionTests.m
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTests+LegalHold.swift
Labels: MLS

#812 fix: participant role optionality of conversation [WPB-6003]
  wire-ios-data-model/Source/Model/ConversationRole/ParticipantRole.swift
  wire-ios-data-model/Source/Model/User/ZMUser.swift
  wire-ios-data-model/Source/Model/UserClient/UserClient.swift
  wire-ios-data-model/Source/Notifications/SideEffectSources.swift
Labels: Fix PR Title 🤦‍♂️, hotfix

#798 feat: refactor encrypt for transport - WPB-5071
  wire-ios-cryptobox/WireCryptobox/EncryptionContext.swift
  wire-ios-data-model/Source/MLS/MLSDecryptionService.swift
  wire-ios-data-model/Source/MLS/MLSEncryptionService.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/Model/Message/ZMClientMessage+Encryption.swift
  wire-ios-data-model/Source/Proteus/ProteusProvider.swift
  wire-ios-data-model/Source/Utilis/Protos/GenericMessage+Helper.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSDecryptionServiceTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/Source/Model/Messages/GenericMessageTests+NativePush.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+Cleared.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+Ephemeral.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+MLSEncryptedPayloadGenerator.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+OTR.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+OTR_Legacy.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMMessageTests+Legalhold.swift
  wire-ios-data-model/Tests/Source/Model/ZMBaseManagedObjectTest.swift
  wire-ios-data-model/Tests/TestPlans/AllTests.xctestplan
  wire-ios-notification-engine/Sources/Synchronization/Strategies/PushNotificationStrategy.swift
  wire-ios-request-strategy/Sources/APIs/MessageAPI.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSender.swift
  wire-ios-request-strategy/Sources/Object Syncs/Helpers/MLSMessage.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestFactory.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestFactoryTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Generic Message/GenericMessageEntity.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder+MLS.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationsTests.m
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/CallingRequestStrategyTests.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ClientUpdateStatusTests.swift
  wire-ios-system/Source/Logging/SystemLogger.swift
  wire-ios/Wire-iOS/Sources/Managers/DatadogWrapper.swift
Labels: CoreCryptoUpdate

#820 fix: [MLS] proteus to mls migration - tests request strategy [WPB-5040]
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/AddParticipantActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/MLSConversationParticipantsServiceTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/UpdateConversationProtocolActionHandlerTests.swift
Labels: MLS

#817 refactor: conversation event processor decoding [WPB-5040]
  wire-ios-request-strategy/Sources/Helpers/ZMUpdateEvent+Payload.swift
  wire-ios-request-strategy/Sources/Payloads/Payload+Coding.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessorTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Federation/TerminateFederationRequestStrategy.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder+MLS.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventPayloadDecoder.swift
  wire-ios-request-strategy/Tests/Sources/Synchronization/Decoding/EventPayloadDecoderTests.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/Utility/Decodable+JSON.swift
Labels: MLS

#822 refactor: mls process protocol change event - payload struct [WPB-5040]
  wire-ios-request-strategy/Sources/Payloads/Conversation/Actions/Payload+ConversationAddMember.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Actions/Payload+ConversationUpdateRole.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+ConversationEvent.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConverationMemberJoin.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConverationMemberLeave.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationAccess.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationConnectionRequest.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationDeleted.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationMLSMessageAdd.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationMLSWelcome.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationMessageTimer.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationName.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationReceiptMode.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+Conversation.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+ConversationList.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+ConversationMember.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+ConversationMembers.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+ConversationTeamInfo.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+NewConversation.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+PaginatedConversationIDList.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+PaginatedQualifiedConversationIDList.swift
  wire-ios-request-strategy/Sources/Payloads/Conversation/Payload+UpdateConversationStatus.swift
  wire-ios-request-strategy/Sources/Payloads/Payload+Conversation.swift
  wire-ios-request-strategy/Sources/Payloads/Payload+QualifiedConversationList.swift
  wire-ios-request-strategy/Sources/Protocols/EventData.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Payload+CodingTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Payload+ConversationTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/ConnectionPayloadProcessorTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/MLSMessageSendingStatusPayloadProcessorTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/MessageSendingStatusPayloadProcessorTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/UserProfilePayloadProcessorTests.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
Labels: MLS

#592 feat: bump corecrypto 1.0.0 rc.22 WPB-3384
  Cartfile
  Cartfile.resolved
  wire-ios-data-model/Source/MLS/BackendMLSPublicKeys.swift
  wire-ios-data-model/Source/MLS/CommitSender.swift
  wire-ios-data-model/Source/MLS/CoreCryptoCallbacks.swift
  wire-ios-data-model/Source/MLS/CoreCryptoConfiguration.swift
  wire-ios-data-model/Source/MLS/CoreCryptoProvider.swift
  wire-ios-data-model/Source/MLS/MLSActionExecutor.swift
  wire-ios-data-model/Source/MLS/MLSDecryptionService.swift
  wire-ios-data-model/Source/MLS/MLSEncryptionService.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/SafeCoreCrypto.swift
  wire-ios-data-model/Source/Model/Message/ZMClientMessage+Encryption.swift
  wire-ios-data-model/Source/Proteus/CryptoboxMigrationManager.swift
  wire-ios-data-model/Source/Proteus/ProteusService.swift
  wire-ios-data-model/Source/Utilis/CoreCryptoProtocolExt.swift
  wire-ios-data-model/Support/Sourcery/AutoMockable.stencil
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Support/Sources/MockCoreCryptoProtocol.swift
  wire-ios-data-model/Support/Sources/MockSafeCoreCrypto.swift
  wire-ios-data-model/Tests/MLS/CommitSenderTests.swift
  wire-ios-data-model/Tests/MLS/MLSActionExecutorTests.swift
  wire-ios-data-model/Tests/MLS/MLSDecryptionServiceTests.swift
  wire-ios-data-model/Tests/MLS/MLSEncryptionServiceTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/MockMLSActionExecutor.swift
  wire-ios-data-model/Tests/MLS/SafeCoreCryptoTests.swift
  wire-ios-data-model/Tests/Proteus/CryptoboxMigrationManagerTests.swift
  wire-ios-data-model/Tests/Proteus/ProteusServiceTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Message Sending/MessageSender.swift
  wire-ios-request-strategy/sourcery/AutoMockable.stencil
  wire-ios-request-strategy/sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/sourcery/AutoMockable.stencil
  wire-ios-sync-engine/sourcery/generated/AutoMockable.generated.swift
Labels: CoreCryptoUpdate

#801 feat: Indicate conversation verification status WPB-3227
  wire-ios-data-model/Source/MLS/MLSVerificationStatus.swift
  wire-ios-data-model/Source/Model/Conversation/ConversationLike.swift
  wire-ios/Tests/Mocks/MockConversation.swift
  wire-ios/Wire-iOS Tests/Collection/CollectionsViewControllerTests.swift
  wire-ios/Wire-iOS Tests/ConversationDetail/GroupDetailsViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ConversationTitleViewTests.swift
  wire-ios/Wire-iOS Tests/GroupParticipantsDetailViewControllerTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationTitleViewTests/testThatItUpdatesTheTitleViewAndRendersValidCertificate.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForMlsConversation_withNotVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForMlsConversation_withVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForProteusConversation_withVerifiedStatus.1.png
  wire-ios/Wire-iOS/Generated/Assets+Generated.swift
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateExpired.imageset/Certificate expired dark.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateExpired.imageset/Certificate expired light.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateExpired.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateRevoked.imageset/Certificate revoked dark.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateRevoked.imageset/Certificate revoked light.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateRevoked.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateValid.imageset/Certificate valid dark.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateValid.imageset/Certificate valid light.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateValid.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/VerifiedShield.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/VerifiedShield.imageset/Verified.svg
  wire-ios/Wire-iOS/Sources/Helpers/SemanticColors.swift
  wire-ios/Wire-iOS/Sources/Helpers/URL+Wire.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Collections/AssetCollectionWrapper.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Collections/ConversationImagesViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Collections/TwoLineTitleView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter+ConversationImages.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationTitleView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
Labels: E2EI

#831 feat: Added Save files manager for saving certificates WPB-5523
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewActionsHandlerTests.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/MockSaveFileManager.swift
  wire-ios/Wire-iOS Tests/Helpers/MockSystemSaveFilePresenter.swift
  wire-ios/Wire-iOS Tests/Helpers/SaveFileManagerTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Helpers/SaveFileManager.swift
  wire-ios/Wire-iOS/Sources/Helpers/SystemSaveFilePresenter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceDetailsViewActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
Labels: E2EI

#832 feat: fix business logic for reset -session WPB-5523
  wire-ios-data-model/Source/Model/UserClient/UserClient.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceDetailsViewActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsBottomView.swift
Labels: E2EI

#793 feat(e2ei): rotate key packages WPB-2091
  wire-ios-data-model/Source/E2EIdentity/E2eIService.swift
  wire-ios-data-model/Source/MLS/Actions/ReplaceSelfMLSKeyPackagesAction.swift
  wire-ios-data-model/Support/Sources/MockE2eiEnrollment.swift
  wire-ios-data-model/Tests/Source/E2EIdentity/E2eIServiceTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIEnrollment.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIEnrollmentTests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIKeyPackageRotator.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIKeyPackageRotatorTests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIRepository.swift
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2eICertificateUseCase.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/ReplaceSelfMLSKeyPackagesActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/ReplaceSelfMLSKeyPackagesActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/MLSRequestStrategy.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-request-strategy/sourcery/config.yml
  wire-ios-request-strategy/sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
Labels: E2EI

#847 fix: joining MLS conversation after login
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+MLS.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests+MLS.swift
  wire-ios-request-strategy/Sources/Object Syncs/Helpers/IdentifierObjectSync.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/MLSRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/User Clients/FetchingClientRequestStrategy.swift
  wire-ios-request-strategy/sourcery/generated/AutoMockable.generated.swift
Labels: MLS

#837 feat: Handle out order messages WBP-5829
  wire-ios-data-model/Source/MLS/MLSActionExecutor.swift
  wire-ios-data-model/Source/MLS/MLSDecryptionService.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSActionExecutorTests.swift
  wire-ios-data-model/Tests/MLS/MLSDecryptionServiceTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/MockMLSActionExecutor.swift
  wire-ios-notification-engine/Sources/NotificationSession.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder+MLS.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoderTest.swift
  wire-ios-share-engine/Sources/SharingSession.swift
Labels: CoreCryptoUpdate

#824 feat: mls process protocol change event [WPB-5040]
  wire-ios-data-model/Source/MLS/Actions/UpdateConversationProtocolAction.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/Migration/ConversationPostProtocolChangeUpdater.swift
  wire-ios-data-model/Source/MLS/Migration/ProteusToMLSMigrationCoordinator.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+Predicates.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SecurityLevel.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SystemMessages.swift
  wire-ios-data-model/Source/Model/EntityAction.swift
  wire-ios-data-model/Source/Model/ZMManagedObject+Fetching.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/ProteusToMLSMigrationCoordinatorTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Payloads/Conversation/Events/Payload+UpdateConversationProtocolChange.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/UpdateConversationProtocolActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/UpdateConversationProtocolActionHandlerTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Conversation/Events/PayloadUpdateConversationProtocolChangeTests.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS UnitTests/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsViewModelTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsDisplayModel.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsView.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsViewModel.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsViewModel.swift
Labels: MLS

#856 fix: remove background task for CoreData setup - WPB-6143
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack.swift
  wire-ios-system/Source/ZMSLog.swift
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: hotfix

#864 fix: protocol update message inserted twice - WPB-6130
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/Migration/ConversationPostProtocolChangeUpdater.swift
  wire-ios-data-model/Source/MLS/Migration/ProteusToMLSMigrationCoordinator.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/ProteusToMLSMigrationCoordinatorTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/SyncConversationActionHandler.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
  wire-ios-request-strategy/Tests/Sources/Stubs/StubPayloadConversation.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsViewModel.swift
Labels: bug

#882 feat: evaluate 1on1 conversation single user [WPB-5806]
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneProtocolSelector.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolvedState.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolver.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneProtocolSelectorTests.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneResolverTests.swift
  wire-ios-data-model/Tests/Source/Model/User/ZMUserTests+Swift.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ConversationListContentController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: MLS

#894 feat(mls-migration): handle mixed protocol for conversation operations WPB-529
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessorTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Source/UserSession/URLActionProcessors/DeepLinkURLActionProcessor.swift
Labels: MLS

#900 fix: wrong context used to access MLS Service
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
Labels: MLS

#877 feat: Finalize enrollment WPB-6039
  wire-ios-data-model/Source/E2EIdentity/E2eIService.swift
  wire-ios-data-model/Source/E2EIdentity/E2eISetupService.swift
  wire-ios-data-model/Source/E2EIdentity/E2eIVerificationStatusService.swift
  wire-ios-data-model/Tests/Source/E2EIdentity/E2eIServiceTests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPI.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPITests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIEnrollment.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIEnrollmentTests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIRepository.swift
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2eICertificateUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/OAuthUseCase.swift
  wire-ios/Wire-iOS/Wire-Info.plist
  wire-ios/WireCommonComponents/Bundle+ThirdPartyKeys.swift
Labels: E2EI

#881 feat: show mls info on devices screen [WPB-5521]
  wire-ios-data-model/Source/Model/UserClient/E2eIdentityCertificate.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/ClientListViewControllerTests.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForDarkTheme.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForEditMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForLightTheme.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForLightThemeWrappedInNavigationController.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForOneDeviceWithBackButtonAndNoEditButton.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForOneDeviceWithNoEditButton.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testThatMLSInfoIsHidden_whenMlsInfoIsNotAvailable_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testThatProteusBadgeIsNotDisplayed_whenProteusIsNotVerified.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testThatProteusBadgeIsNotDisplayed_whenProteusIsNotVerified_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testGivenSelfClientWhenE2eidentityViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testGivenSelfClientWhenE2eidentityViewIsDisabledInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsDisabledInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpired.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpiredInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsRevoked.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsRevokedInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValid.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValidInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValidWhenProteusIsNotVerifiedThenBlueShieldIsNotShown.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenMLSViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/RemoveClientStepViewControllerSnapshotTests/testForWrappedInNavigationController.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/E2eIdentity/DeveloperDeviceDetailsSettingsSelectionViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsE2EIdentityCertificateView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientTableViewCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientTableViewCellModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/SettingsClientViewController.swift
Labels: E2EI

#893 feat: show e2eidentity status WPB-5734
  wire-ios/Wire-iOS Tests/DeviceManagement/ClientListViewControllerTests.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/ClientTableViewCellTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForDarkTheme.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForEditMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForLightTheme.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForLightThemeWrappedInNavigationController.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForOneDeviceWithBackButtonAndNoEditButton.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testForOneDeviceWithNoEditButton.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testThatMLSInfoIsHidden_whenMlsInfoIsNotAvailable_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testThatProteusBadgeIsNotDisplayed_whenProteusIsNotVerified.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientListViewControllerTests/testThatProteusBadgeIsNotDisplayed_whenProteusIsNotVerified_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatE2EIStatusAndProteusBadgeIsDisplayed_whenProteusIsNotVerifiedAndE2EIStatusIsExpired.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatE2EIStatusAndProteusBadgeIsDisplayed_whenProteusIsNotVerifiedAndE2EIStatusIsExpired_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatE2EIStatusAndProteusBadgeIsDisplayed_whenProteusIsNotVerifiedAndE2EIStatusIsNotActivated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatE2EIStatusAndProteusBadgeIsDisplayed_whenProteusIsNotVerifiedAndE2EIStatusIsNotActivated_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatE2EIStatusAndProteusBadgeIsDisplayed_whenProteusIsNotVerifiedAndE2EIStatusIsRevoked.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatE2EIStatusAndProteusBadgeIsDisplayed_whenProteusIsNotVerifiedAndE2EIStatusIsRevoked_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatE2EIStatusAndProteusBadgeIsDisplayed_whenProteusIsNotVerifiedAndE2EIStatusIsValid.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatE2EIStatusAndProteusBadgeIsDisplayed_whenProteusIsNotVerifiedAndE2EIStatusIsValid_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatMLSInfoIsHidden_whenMlsInfoIsNotAvailable.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatMLSInfoIsHidden_whenMlsInfoIsNotAvailable_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatMLSInfoIsShown_whenMlsInfoAvailable.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatMLSInfoIsShown_whenMlsInfoIsAvailable_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatProteusBadgeIsDisplayed_whenProteusIsVerified.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatProteusBadgeIsDisplayed_whenProteusIsVerified_inDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatProteusBadgeIsNotDisplayed_whenProteusIsNotVerified.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ClientTableViewCellTests/testThatProteusBadgeIsNotDisplayed_whenProteusIsNotVerified_inDarkMode.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/E2EIdentityCertificateStatus+Extensions.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientTableViewCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientTableViewCellModel.swift
Labels: E2EI

#912 feat: Implement CC rc34 changes WPB-6263
  wire-ios-data-model/Source/E2EIdentity/E2eISetupService.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPI.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPITests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeResponse.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIEnrollment.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIEnrollmentTests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2eICertificateUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
Labels: E2EI

#909 feat: fetch trust anchor WPB-3340
  wire-ios-data-model/Source/E2EIdentity/E2eISetupService.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPI.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPITests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIEnrollmentTests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIRepository.swift
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2eICertificateUseCase.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsViewModel.swift
Labels: E2EI

#897 feat: enroll E2EI on login WBP-6153
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIKeyPackageRotator.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/FeatureConfigRequestStrategy.swift
  wire-ios-sync-engine/Source/Public/NSError+ZMUserSession.h
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/ZMSyncStateDelegate.h
  wire-ios-sync-engine/Source/UserSession/ZMClientRegistrationStatus.h
  wire-ios-sync-engine/Source/UserSession/ZMClientRegistrationStatus.m
  wire-ios-sync-engine/Source/UserSession/ZMClientRegistrationStatus.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession+Authentication.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMClientRegistrationStatusTests.m
  wire-ios-sync-engine/Tests/Source/UserSession/ZMClientRegistrationStatusTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Authentication/AuthenticationFlowStep.swift
  wire-ios/Wire-iOS/Sources/Authentication/AuthenticationInterfaceBuilder.swift
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/AuthenticationCoordinator.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/AuthenticationCoordinatorAction.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/AuthenticationEventResponderChain.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Input/AuthenticationButtonTapInputHandler.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Post-Login/Registration Error/AuthenticationE2EIdentityMissingErrorHandler.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/EnrollE2EIdentityStepDescription.swift
Labels: E2EI

#855 feat: Degraded conversation – alert warnings WPB-3235
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SecurityLevel.swift
  wire-ios-data-model/Source/Model/Message/ZMMessage+Insert.swift
  wire-ios-data-model/Source/Notifications/ObjectObserverTokens/ConversationChangeInfo.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests+PrepareToSend.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests+SecurityLevel.swift
  wire-ios-data-model/Tests/Source/Model/Observer/ConversationObserverTests.swift
  wire-ios-sync-engine/Source/Calling/CallState.swift
  wire-ios-sync-engine/Source/Calling/VoiceChannelV3.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3+Events.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios/Wire-iOS Tests/CallControllerTests.swift
  wire-ios/Wire-iOS Tests/Calling/ActiveCallRouterTests.swift
  wire-ios/Wire-iOS Tests/Calling/CallInfoConfigurationTests.swift
  wire-ios/Wire-iOS Tests/Calling/CallInfoTestFixture.swift
  wire-ios/Wire-iOS Tests/Calling/CallViewControllerTests.swift
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallController/ActiveCallRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallController/CallController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallDegradationViewController/CallDegradationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallDegradationViewController/UIAlertController+DegradedCall.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallViewController/CallInfoConfiguration.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+PrivacyAlert.swift
Labels: E2EI
