Repository wireapp/wire-ios, pull requests merged in 2024-10, with the labels that each got.

#1990 fix: building on Xcode 15 - WPB-10140
  WireFoundation/.swiftpm/WireFoundation-Package.xctestplan
  WireUI/Sources/WireMainNavigation/MainSplitViewController.swift
  WireUI/Tests/WireMainNavigationTests/Main/MainCoordinatorTests.swift
  WireUI/Tests/WireMainNavigationTests/Main/Mocks/MockViewControllerBuilder.swift
Labels: echoes: features

#1932 refactor: pull last event ID - WPB-10733
  WireDomain/Sources/WireDomain/Repositories/UpdateEvents/UpdateEventsRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Repositories/UpdateEventsRepositoryTests.swift
  WireFoundation/Sources/WireFoundation/Utilities/PrivateUserDefaults.swift
  WireFoundation/Tests/WireFoundationTests/PrivateUserDefaultsTests.swift
  wire-ios-data-model/Source/Authentication/EAR/EARStorage.swift
  wire-ios-data-model/Source/E2EIdentity/CRL/CRLExpirationDatesRepository.swift
  wire-ios-data-model/Source/E2EIdentity/E2EIActivationRepository.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/Migration/ProteusToMLSMigrationStorage.swift
  wire-ios-data-model/Source/Utilis/LastUpdateEventIDRepository.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/Source/E2EIdentity/CRLExpirationDatesRepositoryTests.swift
  wire-ios-sync-engine/Source/E2EI/LastE2EIdentityUpdateDateProtocol.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-utilities/WireUtilities.xcodeproj/project.pbxproj
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#1975 refactor: process user properties delete event - WPB-10198
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserPropertiesDeleteEvent.swift
  WireAPI/Sources/WireAPI/Models/UserProperties/UserProperty.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserPropertiesDeleteEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserClientAddEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserPropertiesDeleteEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#1997 chore: create double column container to fix portrait mode - WPB-10140
  WireFoundation/Sources/WireTesting/SDKExtensions/UIKit/UISplitViewControllerDisplayMode+CustomDebugStringConvertible.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/UIKit/UISplitViewControllerSplitBehavior+CustomDebugStringConvertible.swift
  WireUI/Sources/WireMainNavigation/DoubleColumnContainerViewController.swift
  WireUI/Sources/WireMainNavigation/MainCoordinator.swift
  WireUI/Sources/WireMainNavigation/MainSplitViewController.swift
  WireUI/Tests/WireMainNavigationTests/Main/MainSplitViewControllerTests.swift
  WireUI/Tests/WireMainNavigationTests/Resources/ReferenceImages/MainSplitViewControllerTests/testSidebarAppearanceLandscape.dark.png
  WireUI/Tests/WireMainNavigationTests/Resources/ReferenceImages/MainSplitViewControllerTests/testSidebarAppearanceLandscape.light.png
  WireUI/Tests/WireMainNavigationTests/Resources/ReferenceImages/MainSplitViewControllerTests/testSidebarAppearancePortrait.dark.png
  WireUI/Tests/WireMainNavigationTests/Resources/ReferenceImages/MainSplitViewControllerTests/testSidebarAppearancePortrait.light.png
Labels: echoes: technical-debt, echoes: features, echoes: maintenance

#1989 fix: Liking a message doesn't get tracked on Countly - WPB-11311
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.manual.swift
  wire-ios-data-model/Support/Sources/ModelHelper.swift
  wire-ios-sync-engine/Source/Use cases/ToggleMessageReactionUseCase.swift
  wire-ios-sync-engine/Source/UserSession/UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+UserSession.swift
  wire-ios-sync-engine/Source/Utility/ZMConversationMessage+SelfUserReactions.swift
  wire-ios-sync-engine/Tests/Source/Use cases/FetchShareableConversationUseCaseTests.swift
  wire-ios-sync-engine/Tests/Source/Use cases/ToggleMessageReactionUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Tests/Mocks/UserSessionMock.swift
  wire-ios/Wire-iOS/Sources/Helpers/syncengine/ZMConversationMessage+Reactions.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+MessageAction.swift
Labels: echoes/initiative: product-metrics-in-countly

#1982 feat: datadog excluded from licenses - WPB-9992
  .license_plist.yml
  WireAnalytics/Package.swift
  WireAnalytics/Package@swift-5.10.swift
  wire-ios-mono.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: release, echoes: bugs, echoes: maintenance

#1948 refactor: process push remove event - WPB-10199
  WireAPI/Sources/WireAPI/Models/Messaging/MessageProtocol.swift
  WireAPI/Sources/WireAPI/Models/User/LegalholdStatus.swift
  WireAPI/Sources/WireAPI/Models/User/Service.swift
  WireAPI/Sources/WireAPI/Models/User/User.swift
  WireAPI/Sources/WireAPI/Models/User/UserAsset.swift
  WireAPI/Sources/WireAPI/Models/UserClient/DeviceClass.swift
  WireAPI/Sources/WireAPI/Models/UserClient/MLSPublicKeys.swift
  WireAPI/Sources/WireAPI/Models/UserClient/UserClient.swift
  WireAPI/Sources/WireAPI/Models/UserClient/UserClientCapability.swift
  WireAPI/Sources/WireAPI/Models/UserClient/UserClientType.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserPushRemoveEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserPushRemoveEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#1918 refactor: process federation delete event - WPB-10188
  WireAPI/Sources/WireAPI/Models/Messaging/MessageProtocol.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/FederationEvent/FederationConnectionRemovedEvent.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/FederationEvent/FederationDeleteEvent.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserPropertiesDeleteEvent.swift
  WireAPI/Sources/WireAPI/Models/User/LegalholdStatus.swift
  WireAPI/Sources/WireAPI/Models/User/Service.swift
  WireAPI/Sources/WireAPI/Models/User/User.swift
  WireAPI/Sources/WireAPI/Models/User/UserAsset.swift
  WireAPI/Sources/WireAPI/Models/UserClient/DeviceClass.swift
  WireAPI/Sources/WireAPI/Models/UserClient/MLSPublicKeys.swift
  WireAPI/Sources/WireAPI/Models/UserClient/UserClient.swift
  WireAPI/Sources/WireAPI/Models/UserClient/UserClientCapability.swift
  WireAPI/Sources/WireAPI/Models/UserClient/UserClientType.swift
  WireAPI/Sources/WireAPI/Models/UserProperties/UserProperty.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/FederationEventProcessor/FederationConnectionRemovedEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/FederationEventProcessor/FederationDeleteEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserPropertiesDeleteEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserPushRemoveEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/Connections/ConnectionsLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Connections/ConnectionsRepository.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/FederationEventProcessor/FederationConnectionRemovedEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/FederationEventProcessor/FederationDeleteEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserPropertiesDeleteEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserPushRemoveEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConnectionsRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#1962 refactor: process user property set event - WPB-10198
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserPropertiesSetEvent.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserPropertiesSetEventProcessor.swift
  WireDomain/Sources/WireDomain/OneOnOneResolver.swift
  WireDomain/Sources/WireDomain/Repositories/ConversationsLabels/ConversationLabelsRepository.swift
  WireDomain/Sources/WireDomain/Repositories/ConversationsLabels/ConversationLabelsRepositoryError.swift
  WireDomain/Sources/WireDomain/Repositories/Team/TeamRepository.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/FeatureConfigEventProcessor/FeatureConfigUpdateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/FederationEventProcessor/FederationConnectionRemovedEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/FederationEventProcessor/FederationDeleteEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/TeamEventProcessor/TeamDeleteEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/TeamEventProcessor/TeamMemberUpdateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserClientAddEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserPropertiesSetEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConnectionsRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConversationLabelsRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConversationRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/Mock/MockFeatureConfigRepositoryProtocol.swift
  WireDomain/Tests/WireDomainTests/Repositories/TeamRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/UseCases/PushSupportedProtocolsUseCaseTests.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#2005 fix: accent color picker presentation - WPB-10141
  wire-ios/Wire-iOS Tests/AccentColorPickerSnapshotTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/AccentColorPicker.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/AccentColorPickerController.swift
Labels: echoes: features

#2003 chore: Get rid of deprecated code related to Analytics - WPB-11422
  wire-ios-data-model/Source/Model/Analytics/Analytics+UnknownMessage.swift
  wire-ios-data-model/Source/Model/Analytics/AnalyticsType.swift
  wire-ios-data-model/Source/Model/Message/ZMOTRMessage+UpdateEvent.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS Tests/ExtensionSettingsTests.swift
  wire-ios/Wire-iOS Tests/Settings/SettingsPropertyTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Analytics/Analytics.swift
  wire-ios/Wire-iOS/Sources/Analytics/AnalyticsCountlyProvider.swift
  wire-ios/Wire-iOS/Sources/Analytics/AnalyticsProvider.swift
  wire-ios/WireCommonComponents/ExtensionSettings.swift
Labels: echoes/initiative: product-metrics-in-countly

#2010 fix: subconference parsing - WPB-11057
  wire-ios-data-model/Source/MLS/MLSSubgroup.swift
  wire-ios-request-strategy/Sources/Payloads/Payload+Coding.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchSubgroupActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchSubgroupActionHandlerTests.swift
Labels: echoes: bugs

#2016 fix: previews by removing the plugin for snapshot reference dir - WPB-8778
  .github/workflows/_reusable_run_tests.yml
  .gitignore
  WireFoundation/Package.swift
  WireFoundation/Plugins/SnapshotTestReferenceDirectoryPlugin/SnapshotTestReferenceImageDirectoryPlugin.swift
  WireFoundation/Sources/WireTesting/Utilities/SnapshotHelper.swift
  WireFoundation/Tests/WireFoundationTests/Resources/ReferenceImages/SnapshotTestReferenceImageDirectory.swift
  WireUI/Package.swift
  WireUI/Tests/WireAccountImageTests/Resources/ReferenceImages/SnapshotTestReferenceImageDirectory.swift
  WireUI/Tests/WireDesignTests/Resources/ReferenceImages/SnapshotTestReferenceImageDirectory.swift
  WireUI/Tests/WireMainNavigationTests/Resources/ReferenceImages/SnapshotTestReferenceImageDirectory.swift
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/SnapshotTestReferenceImageDirectory.swift
  WireUI/Tests/WireSidebarTests/Resources/ReferenceImages/SnapshotTestReferenceImageDirectory.swift
  wire-ios/.gitignore
Labels: echoes: technical-debt

#2020 chore: Delete duplicated files - WPB-11497
  wire-ios-sync-engine/Source/Analytics/NotificationsTracker.swift
  wire-ios-sync-engine/Source/Data Model/NSManagedObjectContext+ServerTimeDelta.swift
  wire-ios-sync-engine/Source/Notifications/Push notifications/Helpers/NotificationUserInfo.swift
  wire-ios-sync-engine/Source/Notifications/Push notifications/Helpers/ZMLocalNotificationSet.swift
  wire-ios-sync-engine/Source/Notifications/Push notifications/Notification Types/Content/ZMLocalNotification+Events.swift
  wire-ios-sync-engine/Source/Notifications/Push notifications/Notification Types/Content/ZMLocalNotification.swift
  wire-ios-sync-engine/Source/Notifications/Push notifications/Notification Types/LocalNotificationContentType.swift
  wire-ios-sync-engine/Source/Notifications/Push notifications/Notification Types/LocalNotificationType+Configuration.swift
  wire-ios-sync-engine/Source/Notifications/Push notifications/Notification Types/LocalNotificationType+Localization.swift
  wire-ios-sync-engine/Source/Notifications/Push notifications/Notification Types/PushNotificationCategory.swift
  wire-ios-sync-engine/Source/Synchronization/Decoding/EventDecoder.swift
  wire-ios-sync-engine/Source/Synchronization/Decoding/StoreUpdateEvent.swift
  wire-ios-sync-engine/Source/UserSession/PushNotificationStatus.swift
  wire-ios-sync-engine/Tests/Source/Notifications/PushNotifications/LocalNotificationContentTypeTest.swift
  wire-ios-sync-engine/Tests/Source/Notifications/PushNotifications/ZMLocalNotificationLocalizationTests.swift
  wire-ios-sync-engine/Tests/Source/Notifications/PushNotifications/ZMLocalNotificationSetTests.swift
  wire-ios-sync-engine/Tests/Source/Notifications/PushNotifications/ZMLocalNotificationTests_Event.swift
  wire-ios-sync-engine/Tests/Source/Notifications/PushNotifications/ZMLocalNotificationTests_Message.swift
  wire-ios-sync-engine/Tests/Source/Notifications/PushNotifications/ZMLocalNotificationTests_SystemMessage.swift
  wire-ios-sync-engine/Tests/Source/Notifications/PushNotifications/ZMLocalNotificationTests_UnreadCount.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/StoreUpdateEventTests.swift
  wire-ios-sync-engine/Tests/Source/Utility/UserNotificationCenterMock.swift
  wire-ios/Wire-iOS/Sources/Authentication/Authentication/AuthenticationInterfaceBuilder.swift
Labels: echoes: maintenance

#1895 feat: Add QR code button to the user profile - WPB-10540
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_BlockingConnectionRequest_MissingLegalHoldConsent1.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_ConnectionRequest.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_SelfUser_NoSCIM.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_SelfUser_SCIM.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_OneToOne_SelfUser_NoSCIM.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_OneToOne_SelfUser_SCIM.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewControllerTests/test_ProfileInfo_BottomAction_OpenSelfProfile.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewControllerTests/test_ProfileInfo_NonTeamMember_BottomAction_Connect.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewControllerTests/test_ProfileInfo_UserWithoutName.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/testDefaultOptions_NoAvailability.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/testDefaultOptions_NoAvailability_Edit.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_DefaultOptions.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_DefaultOptions_AllowEditing.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_HideAvailability.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_HideTeamName.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_notConnectedUser_DarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SelfProfileViewControllerTests/testForAUserWithALongName.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SelfProfileViewControllerTests/testForAUserWithNoTeam.1.png
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
Labels: echoes: features

#1957 feat: Add share profile page screen - WPB-10542
  WireFoundation/Sources/WireFoundation/Utilities/UIImage+addImageCentered.swift
  WireUI/Sources/WireDesign/Colors/Color+Named.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Wire/RoundIcon.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Wire/RoundIcon.imageset/Round icon.svg
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/CodeGenerator/QRCodeGenerator.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/Models/UserQRCodeViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/Views/QRCodeCard.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/Views/QRCodeView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/Views/ShareSheet.swift
Labels: echoes: features

#2004 fix: backup restore events not tracked - WPB-11308
  wire-ios-sync-engine/Source/SessionManager/SessionManager+Backup.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Source/UnauthenticatedSession/UnauthenticatedSession.swift
  wire-ios-sync-engine/Source/UnauthenticatedSession/UnauthenticatedSessionDelegate.swift
  wire-ios-sync-engine/Source/Use cases/DisableAnalyticsUseCase.swift
  wire-ios-sync-engine/Source/Use cases/EnableAnalyticsUseCase.swift
  wire-ios-sync-engine/Source/UserSession/AnalyticsEventTrackerProvider.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Transcoders/MockUserInfoParser.swift
  wire-ios-sync-engine/Tests/Source/Use cases/DisableAnalyticsUseCaseTests.swift
  wire-ios-sync-engine/Tests/Source/Use cases/EnableAnalyticsUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AnalytitcsServiceConfigurationBuilder.swift
  wire-ios/Wire-iOS/Sources/Authentication/Backup/BackupRestoreController.swift
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/AuthenticationCoordinator.swift
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/Coordinator+Delegates/AuthenticationCoordinator+Backup.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/AuthenticationCoordinatorAction.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Input/AuthenticationButtonTapInputHandler.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Post-Login/Backup/AuthenticationBackupReadyEventHandler.swift
Labels: echoes/initiative: product-metrics-in-countly

#2026 chore: bump version to 3.113.2 - WPB-11261
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: echoes: maintenance

#2024 feat: QR code support, Milestone 1 - WPB-10529
  WireFoundation/Sources/WireFoundation/Utilities/UIImage+addImageCentered.swift
  WireUI/Sources/WireDesign/Colors/Color+Named.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_BlockingConnectionRequest_MissingLegalHoldConsent1.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_ConnectionRequest.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_SelfUser_NoSCIM.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_Group_SelfUser_SCIM.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_OneToOne_SelfUser_NoSCIM.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDetailsViewControllerTests/test_OneToOne_SelfUser_SCIM.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewControllerTests/test_ProfileInfo_BottomAction_OpenSelfProfile.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewControllerTests/test_ProfileInfo_NonTeamMember_BottomAction_Connect.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewControllerTests/test_ProfileInfo_UserWithoutName.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/testDefaultOptions_NoAvailability.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/testDefaultOptions_NoAvailability_Edit.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_DefaultOptions.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_DefaultOptions_AllowEditing.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_HideAvailability.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_HideTeamName.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileViewTests/test_notConnectedUser_DarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SelfProfileViewControllerTests/testForAUserWithALongName.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SelfProfileViewControllerTests/testForAUserWithNoTeam.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Wire/RoundIcon.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Wire/RoundIcon.imageset/Round icon.svg
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/CodeGenerator/QRCodeGenerator.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/Models/UserQRCodeViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/Views/QRCodeCard.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/Views/QRCodeView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/QR Code/Views/ShareSheet.swift
Labels: LongLivingBranch, hackathon, echoes: features

#2029 chore: Bump SwiftLint to `0.57.0` - WPB-11562
  .github/workflows/swiftlint.yml
  .swiftlint.yml
  scripts/Package.swift
  scripts/run-swiftlint.sh
  wire-ios-data-model/Source/Model/Conversation/AssetCollection.swift
  wire-ios-data-model/Source/Model/Message/LocationData.swift
  wire-ios-data-model/Source/Notifications/SearchUserObserverCenter.swift
  wire-ios-data-model/Tests/Source/Model/Observer/ConversationObserverTests.swift
  wire-ios-data-model/Tests/Source/Model/Observer/UserChangeInfoObservationTests.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/PrekeyPayloadProcessor.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
  wire-ios-sync-engine/Source/Data Model/Conversation+TypingUsers.swift
  wire-ios-sync-engine/Source/Data Model/TypingUsers.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/ConversationRoleDownstreamRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/ProxiedRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/SearchUserImageStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/TeamDownloadRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/TypingStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserProfileUpdateRequestStrategy.swift
  wire-ios-sync-engine/Source/UserSession/SyncStatus.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Tests/Mocks/MockConversation+factory.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Views/MarkdownTextView+Recognizers.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/ProfileClientViewModel.swift
Labels: echoes: maintenance

#2001 refactor: process user delete event - WPB-10193
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/Team/TeamMemberLeaveEventDecoder.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/User/UserDeleteEventDecoder.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/User/UserEventCodingKeys.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserDeleteEvent.swift
  WireAPI/Tests/WireAPITests/UpdateEvent/Resources/UserDelete.json
  WireAPI/Tests/WireAPITests/UpdateEvent/UserEventDecodingTests.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserDeleteEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/Team/TeamRepository.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserDeleteEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/TeamRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#2021 fix: Crash navigating to notification options - WPB-11062
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation Options/ConversationNotificationOptionsViewController.swift
Labels: echoes: maintenance

#2009 refactor: UserContactJoinEventProcessor - WPB-10192
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserContactJoinEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#1958 refactor: process user update event - WPB-10200
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserUpdateEvent.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserUpdateEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserUpdateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
  wire-ios-data-model/Support/Sources/ModelHelper.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#2032 fix: user is not asked to enable analytics after login - WPB-11332
  wire-ios/Wire-iOS Tests/ExtensionSettingsTests.swift
  wire-ios/Wire-iOS Tests/Settings/SettingsPropertyTests.swift
  wire-ios/Wire-iOS/Sources/Analytics/TrackingManager/TrackingManager.swift
  wire-ios/Wire-iOS/Sources/AnalytitcsServiceConfigurationBuilder.swift
  wire-ios/Wire-iOS/Sources/Components/Settings/SettingsPropertyFactory.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/WireCommonComponents/ExtensionSettings.swift
Labels: echoes/initiative: product-metrics-in-countly

#2018 chore: Drop iOS 15 support - WPB-11374
  SourceryPlugin/Package.swift
  WireAPI/Package.swift
  WireAnalytics/Package.swift
  WireDomain/Package.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireFoundation/Package.swift
  WireUI/Package.swift
  WireUI/Sources/WireAccountImageUI/AccountImageView/AccountImageView.swift
  WireUI/Sources/WireDesign/Colors/WireAccentColorMapping.swift
  WireUI/Sources/WireDesign/Typography/WireTextStyleMapping.swift
  WireUI/Tests/WireAccountImageUITests/AccountImageView/AccountImageViewSnapshotTests.swift
  WireUI/Tests/WireDesignTests/Colors/WireAccentColorMappingTests.swift
  WireUI/Tests/WireDesignTests/Typography/WireTextStyleMappingTests.swift
  wire-ios-canvas/Resources/Configurations/zmc-config/ios.xcconfig
  wire-ios-canvas/Resources/Configurations/zmc-config/project-common.xcconfig
  wire-ios-data-model/Support/Sources/CoreDataStackHelper.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+ConversationUniqueness.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+TeamUniqueness.swift
  wire-ios-protos/Resources/Configurations/zmc-config/ios.xcconfig
  wire-ios-request-strategy/Sources/Request Strategies/Connection/ConnectionRequestStrategy.swift
  wire-ios-request-strategy/Sources/Synchronization/QuickSyncObserverTests.swift
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
  wire-ios-transport/Tests/Source/TransportEncoding/Date+TransportCodingTests.swift
  wire-ios-transport/WireTransport.xcodeproj/project.pbxproj
  wire-ios-utilities/WireUtilities.xcodeproj/project.pbxproj
  wire-ios-ziphy/Resources/Configurations/zmc-config/ios.xcconfig
  wire-ios-ziphy/Resources/Configurations/zmc-config/project-common.xcconfig
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/SwiftUI Helpers/ListBackgroundStyleModifier.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/EmojiRepository.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Location/MapViewController.swift
  wire-ios/WireCommonComponents/FileMetaDataGenerator/FileMetaDataGenerator.swift
  xcconfigs/ios-common.xcconfig
Labels: echoes: maintenance

#2013 feat: empty state for conversation list - WPB-11341
  wire-ios/Configuration/url.json
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForEverythingArchived.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForNoConversations.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsWithoutAnyFilterApplied.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/ConversationList/Arrow.imageset/Arrow.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/ConversationList/Arrow.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/ConversationList/Contents.json
  wire-ios/Wire-iOS/Sources/Helpers/Bundle/Bundle+WireURLs.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+EmptyState.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/Empty placeholders/EmptyPlaceholderView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/Empty placeholders/SubheadlineTextView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ViewModel/ConversationListViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ConversationListViewController+MainConversationListProtocol.swift
Labels: echoes: features

#2043 chore: pull develop and related pr - WPB-6647
  SourceryPlugin/Package.swift
  WireAPI/Package.swift
  WireAnalytics/Package.swift
  WireDomain/Package.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireFoundation/Package.swift
  WireUI/Package.swift
  WireUI/Sources/WireAccountImageUI/AccountImageView/AccountImageView.swift
  WireUI/Sources/WireDesign/Colors/WireAccentColorMapping.swift
  WireUI/Sources/WireDesign/Typography/WireTextStyleMapping.swift
  WireUI/Sources/WireMainNavigationUI/Containers/DoubleColumnContainerViewController.swift
  WireUI/Sources/WireSidebarUI/Views/SidebarMenuItemView.swift
  WireUI/Tests/WireAccountImageUITests/AccountImageView/AccountImageViewSnapshotTests.swift
  WireUI/Tests/WireDesignTests/Colors/WireAccentColorMappingTests.swift
  WireUI/Tests/WireDesignTests/Typography/WireTextStyleMappingTests.swift
  WireUI/Tests/WireMainNavigationUITests/Coordinator/AnyMainCoordinatorTests.swift
  WireUI/Tests/WireMainNavigationUITests/Coordinator/MainCoordinatorTests.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockMainCoordinatorDependencies.swift
  wire-ios-canvas/Resources/Configurations/zmc-config/ios.xcconfig
  wire-ios-canvas/Resources/Configurations/zmc-config/project-common.xcconfig
  wire-ios-data-model/Support/Sources/CoreDataStackHelper.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+ConversationUniqueness.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+TeamUniqueness.swift
  wire-ios-protos/Resources/Configurations/zmc-config/ios.xcconfig
  wire-ios-request-strategy/Sources/Request Strategies/Connection/ConnectionRequestStrategy.swift
  wire-ios-request-strategy/Sources/Synchronization/QuickSyncObserverTests.swift
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
  wire-ios-transport/Tests/Source/TransportEncoding/Date+TransportCodingTests.swift
  wire-ios-transport/WireTransport.xcodeproj/project.pbxproj
  wire-ios-utilities/WireUtilities.xcodeproj/project.pbxproj
  wire-ios-ziphy/Resources/Configurations/zmc-config/ios.xcconfig
  wire-ios-ziphy/Resources/Configurations/zmc-config/project-common.xcconfig
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/SwiftUI Helpers/ListBackgroundStyleModifier.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/EmojiRepository.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Location/MapViewController.swift
  wire-ios/WireCommonComponents/FileMetaDataGenerator/FileMetaDataGenerator.swift
  xcconfigs/ios-common.xcconfig
Labels: echoes: technical-debt, echoes: features

#2044 fix: Add construct the Password Reset url - WPB-11566
  wire-ios/Wire-iOS Tests/Bundle/URL+WireTests.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/ViewControllers/AuthenticationCredentialsViewController.swift
  wire-ios/Wire-iOS/Sources/Helpers/Bundle/Bundle+WireURLs.swift
  wire-ios/Wire-iOS/Sources/Helpers/URL+Wire.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Account.swift
Labels: echoes: features

#2052 fix: call overlay and wrong navigation bar layout on iPad - WPB-11352
  WireUI/Sources/WireMainNavigationUI/Protocols/Coordinator/MainCoordinatorProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
Labels: echoes: features

#2053 chore: Delete `CreateGuestRoomCell` & `CreateGroupCell` - WPB-11612
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/Common/Cells/CreateGroupCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/Common/Cells/CreateGuestRoomCell.swift
Labels: echoes: features

#2054 fix: navigation bar layout when E2EI is enabled - WPB-11604
  WireUI/Sources/WireMainNavigationUI/Protocols/Coordinator/MainCoordinatorProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/MainCoordinator+SidebarViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: features

#2055 fix: analytics requested repeatedly after declined - WPB-11332
  wire-ios-sync-engine/Source/Use cases/DisableAnalyticsUseCase.swift
Labels: echoes/initiative: product-metrics-in-countly

#2056 fix: showing filter info only in compact layout - WPB-11649
  WireUI/Sources/WireMainNavigationUI/Preview/NavigationSplitViewPreview.swift
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForEverythingArchived.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForNoConversations.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsWithoutAnyFilterApplied.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Giphy/GiphySearchViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ConversationListViewController+MainConversationListProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController.swift
Labels: echoes: features

#2031 fix: Track call related events - WPB-11333
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+WireCallStateObserver.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallQualityController/CallQualityController.swift
Labels: echoes/initiative: product-metrics-in-countly

#2037 fix: cannot start conversation - WPB-11572
  wire-ios-data-model/Tests/OneOnOne/OneOnOneProtocolSelectorTests.swift
  wire-ios-request-strategy/Sources/Services/SupportedProtocolsService.swift
  wire-ios-sync-engine/Source/Use cases/UseCaseFactory.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Use cases/CreateTeamOneOnOneConversationUseCaseTests.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTests.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTestsBase.swift
  wire-ios-system/Source/Logging/WireLogger.swift
Labels: release, echoes: bugs

#2060 chore: remove UserProfileUI presentation from the MainCoordinator protocol - WPB-11651
  WireUI/Sources/WireMainNavigationUI/Coordinator/AnyMainCoordinator.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator+typealiases.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinatorDependencies.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/Coordinator/MainCoordinatorProtocol.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/Coordinator/MainCoordinatorProtocolDependencies.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/UserProfileUI/MainUserProfileUIBuilderProtocol.swift
  WireUI/Tests/WireMainNavigationUITests/Coordinator/AnyMainCoordinatorTests.swift
  WireUI/Tests/WireMainNavigationUITests/Coordinator/MainCoordinatorTests.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockMainCoordinator.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockMainCoordinatorDependencies.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockUserProfileViewControllerBuilder.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AuthenticatedRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ProfileViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel+ProfileViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupParticipantsDetail/GroupParticipantsDetailViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/MainCoordinator+CreateGroupConversationViewControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/MainCoordinator+ProfileViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/MainCoordinatorDependencies.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+ShowContentDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+StartUIDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/Common/ProfilePresenter+ProfileViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/UserProfileViewControllerBuilder.swift
Labels: echoes: technical-debt, echoes: features

#2063 chore: Separate `Localizable` from `Accessibility` strings in `WireMainNavigationUI` - WPB-11302
  WireUI/Sources/WireMainNavigationUI/Containers/MainTabBarController.swift
  WireUI/Sources/WireMainNavigationUI/Resources/Accessibility.xcstrings
  WireUI/Sources/WireMainNavigationUI/Resources/Localizable.xcstrings
  crowdin.yml
Labels: echoes: features, echoes: bugs

#2064 fix: camera preview size in input view - WPB-11615
  wire-ios/Wire-iOS Tests/CameraKeyboardViewControllerTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularLandscape.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularLandscape_CameraAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularLandscape_LibraryAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularPortrait.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularPortrait_CameraAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularPortrait_LibraryAccessGranted.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Controllers/SplitViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/CameraKeyboard/CameraKeyboardViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Camera.swift
Labels: echoes: technical-debt, echoes: features

#2059 chore: Add additional logs to notifications - WPB-11672
  wire-ios-notification-engine/Sources/NotificationSession.swift
  wire-ios-request-strategy/Sources/Notifications/Push Notifications/Notification Types/Content/ZMLocalNotification+Events.swift
  wire-ios-request-strategy/Sources/Notifications/Push Notifications/Notification Types/Content/ZMLocalNotification.swift
  wire-ios-request-strategy/Sources/Notifications/Push Notifications/Notification Types/Helpers/NotificationUserInfo.swift
  wire-ios/Wire Notification Service Extension/LegacyNotificationService.swift
Labels: echoes: bugs

#2069 fix: Swap “Cancel” and “Create Group” Buttons in Navigation Bar & Fix Dynamic Type Scaling Issue - WPB-11739
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForEverythingArchived.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForNoConversations.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsWithoutAnyFilterApplied.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/StartUIViewControllerSnapshotTests/testStartUIViewControllerNoContact.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/StartUIViewControllerSnapshotTests/testStartUIViewControllerNoContactWhenSelfIsPartner.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/StartUIViewControllerSnapshotTests/testStartUIViewControllerNoContactWhenSelfIsTeamMember.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/StartUIViewControllerSnapshotTests/testStartUIViewControllerWrappedInNavigationController.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+NavigationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController.swift
Labels: echoes: features

#2050 chore: Migrate to `Xcode 16` - WPB-10898
  .github/workflows/_reusable_run_tests.yml
  .swift-version
  .xcode-version
  WireUI/Package.swift
  wire-ios-protos/WireProtos.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Message Sending/ProteusMessagePayloadBuilder.swift
  wire-ios-request-strategy/Sources/Message Sending/ProteusMessagePayloadBuilderTests.swift
Labels: WIP, echoes: maintenance

#2071 fix: VoiceOver Support for certain items on the ConversationList Navigation Bar - WPB-11606
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
Labels: echoes: features

#2072 fix: showing users devices from alert - WPB-11614
  WireUI/Sources/WireAccountImageUI/AccountImageGenerator/AccountImageGenerator.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator.swift
  wire-ios/Wire-iOS Tests/SelfProfileViewControllerTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController+NewDeviceAlert.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewControllerBuilder.swift
Labels: echoes: features

#2070 fix: Group & 1:1 conversation filters not showing all conversations - WPB-11636
  wire-ios-data-model/Source/Model/Conversation/ConversationPredicateFactory.swift
  wire-ios-data-model/Tests/Source/Model/ConversationList/ZMConversationListDirectoryTests.m
Labels: echoes: features

#2082 fix: update displayed user status when updating user status - WPB-11509
  wire-ios/Wire-iOS/Sources/UserInterface/UserStatus/UserStatusViewController.swift
Labels: echoes: bugs

#2087 fix: inject builder for create conversation vc - WPB-11624
  wire-ios/Tests/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS Tests/StartUIViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/CreateGroupConversationViewControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/CreateGroupConversationViewControllerBuilderProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+NavigationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewControllerBuilder.swift
Labels: echoes: features

#2086 fix: Creating group bug - WPB-11624
  wire-ios/Tests/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS Tests/StartUIViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/CreateGroupConversationViewControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/CreateGroupConversationViewControllerBuilderProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+NavigationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewControllerBuilder.swift
Labels: echoes: features

#1769 chore: Countly environment secrets - WPB-10412
  .github/workflows/_reusable_app_release.yml
Labels: DO NOT MERGE, echoes/initiative: product-metrics-in-countly

#2078 chore: rename UserStatus.name to displayname - WPB-6647
  wire-ios/Wire-iOS Tests/UserStatusViewSnapshotTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserStatus/UserStatus+Helpers.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserStatus/UserStatus+initWithUserType.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserStatus/UserStatus.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserStatus/UserStatusView.swift
Labels: echoes: features

#2074 fix: passcode toggle - WPB-11737
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Components/Settings/SettingsPropertyFactory.swift
  wire-ios/Wire-iOS/Sources/UserInterface/CustomAppLock/Setup/PasscodeSetupViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/DefaultSettingsPropertyFactoryDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsViewControllerBuilder.swift
Labels: echoes: features

#2079 fix: Unarchive from "Archive" tab - WPB-11640
  wire-ios/Wire-iOS Tests/UserInterface/ConversationList/ArchivedList/ArchivedListViewModelTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ArchivedList/ArchivedListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ArchivedList/ArchivedListViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
Labels: echoes: features

#2030 refactor: process conversation create event - WPB-10166
  WireAPI/Sources/WireAPI/Models/UpdateEvent/ConversationEvent/ConversationCreateEvent.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationCreateEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore+Metadata.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationCreateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConversationRepositoryTests.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#2090 fix: Update Navigation Bar title for SelectParticipantsViewController to match design specs - WPB-11821
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
Labels: echoes: bugs

#2083 chore: import changes from navigation overhaul - WPB-6647
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserClientAddEventProcessorTests.swift
  WireUI/Sources/WireAccountImageUI/UseCases/AccountImageSource.swift
  WireUI/Sources/WireAccountImageUI/UseCases/GetAccountImageUseCaseDependencies.swift
  WireUI/Sources/WireAccountImageUI/UseCases/GetTeamAccountImageUseCase.swift
  WireUI/Sources/WireAccountImageUI/UseCases/GetUserAccountImageUseCase.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/AnyMainCoordinator.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator+typealiases.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinatorDependenciesProtocol.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/ConversationUI/MainConversationUIBuilderProtocol.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/Coordinator/MainCoordinatorProtocol.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/Coordinator/MainCoordinatorProtocolDependencies.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/Coordinator/MainCoordinatorProtocolDependenciesProtocol.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/UserProfileUI/MainUserProfileUIBuilderProtocol.swift
  WireUI/Sources/WireSettingsUI/Protocols/SettingsCoordinatorProtocol.swift
  WireUI/Sources/WireSidebarUI/Models/SidebarAccountInfo.swift
  WireUI/Sources/WireSidebarUI/Views/Preview/SidebarPreview.swift
  WireUI/Sources/WireSidebarUI/Views/Preview/SidebarViewControllerPreview.swift
  WireUI/Sources/WireSidebarUI/Views/SidebarView.swift
  WireUI/Sources/WireSidebarUI/Views/SidebarViewController.swift
  WireUI/Tests/WireAccountImageUITests/UseCases/GetTeamAccountImageUseCaseTests.swift
  WireUI/Tests/WireAccountImageUITests/UseCases/GetUserAccountImageUseCaseTests.swift
  WireUI/Tests/WireMainNavigationUITests/Coordinator/AnyMainCoordinatorTests.swift
  WireUI/Tests/WireMainNavigationUITests/Coordinator/MainCoordinatorTests.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockMainCoordinator.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockMainCoordinatorDependencies.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockUserProfileViewControllerBuilder.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockViewControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/SidebarAccountInfo.swift
Labels: echoes: features

#2089 fix: Add Clear Button to Group Name Input Field While Editing - WPB-11822
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/WireTextField/Clear.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/WireTextField/Clear.imageset/clearTextFieldIcon.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/WireTextField/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/clearTextFieldIcon.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/clearTextFieldIcon.imageset/clearTextFieldIcon.svg
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/WireTextField.swift
Labels: echoes: features, echoes: bugs

#2076 fix: Navigation Bar Translucency in Multiple View Controllers - WPB-11794
  WireUI/Sources/WireMainNavigationUI/Containers/MainTabBarController.swift
  WireUI/Tests/WireMainNavigationUITests/Resources/ReferenceImages/MainSplitViewControllerTests/testCompactAppearance.dark.png
  WireUI/Tests/WireMainNavigationUITests/Resources/ReferenceImages/MainSplitViewControllerTests/testCompactAppearance.light.png
  WireUI/Tests/WireMainNavigationUITests/Resources/ReferenceImages/MainTabBarControllerTests/dark.dark.png
  WireUI/Tests/WireMainNavigationUITests/Resources/ReferenceImages/MainTabBarControllerTests/light.light.png
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ArchivedListViewControllerSnapshotTests/testEmpty.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ArchivedListViewControllerSnapshotTests/testNonEmpty.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForEverythingArchived.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForNoConversations.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsWithoutAnyFilterApplied.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForEverythingArchived.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForNoConversations.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsWithoutAnyFilterApplied.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForAccountGroupWithDisabledEditing_Federated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForAccountGroupWithDisabledEditing_NotFederated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForAccountGroup_Federated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForAccountGroup_NotFederated.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ArchivedList/ArchivedListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsTableViewController.swift
Labels: echoes: features

#2094 fix: Adapt Search Bar Behavior for iPhone and iPad Based on Split View State - WPB-11832
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForAccountGroupWithDisabledEditing_Federated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForAccountGroupWithDisabledEditing_NotFederated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForAccountGroup_Federated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForAccountGroup_NotFederated.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
Labels: echoes: bugs

#2097 fix: Placeholder copy of the SearchBar based on the filter that it's applied - WPB-11889
  wire-ios/Wire-iOS UnitTests/ConversationListViewControllerSearchTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
Labels: echoes: features

#2099 fix: url and only open the browser on legal hold learn more - WPB-11607
  wire-ios/Configuration/url.json
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Components/ConversationLegalHoldCell.swift
Labels: echoes: technical-debt, echoes: features, echoes: bugs
