Repository wireapp/wire-ios, pull requests merged in 2024-09, with the labels that each got.

#1871 fix: Update copy for the consent alert - WPB-10877
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
Labels: echoes/initiative: product-metrics-in-countly

#1869 chore: Set `swift-tools-version` to `5.10` - WPB-10855
  WireAPI/Package.swift
  WireAPI/Package@swift-5.10.swift
  WireAnalytics/Package.swift
  WireAnalytics/Package@swift-5.10.swift
  WireDomain/Package.swift
  WireDomain/Package@swift-5.10.swift
  WireSystem/Package.swift
  WireSystem/Package@swift-5.10.swift
  WireTesting/Package.swift
  WireTesting/Package@swift-5.10.swift
  WireUI/Package.swift
  WireUI/Package@swift-5.10.swift
  WireUtilities/Package.swift
  WireUtilities/Package@swift-5.10.swift
  wire-ios-mono.xcworkspace/xcshareddata/swiftpm/Package.resolved
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
Labels: echoes: maintenance

#1887 fix: datadog enable in notification service extension - WPB-10933
  WireAnalytics/Package.swift
  WireAnalytics/Package@swift-5.10.swift
  wire-ios-mono.xcworkspace/xcshareddata/swiftpm/Package.resolved
  wire-ios-system/Source/Logging/LogAttributes.swift
  wire-ios/Wire Notification Service Extension/NotificationService.swift
  wire-ios/Wire-iOS Tests/WireAnalytics_DatadogTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/WireCommonComponents/Analytics/Datadog/WireAnalytics+Datadog.swift
Labels: echoes: maintenance

#1881 fix: video calls fail immediately - WPB-10762
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
Labels: cherry-pick, echoes: bugs

#1890 fix: upcoming feature settings in package targets - WPB-10949
  WireAPI/Package.swift
  WireAPI/Sources/WireAPI/APIs/ConnectionsAPI/ConnectionsAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/ConversationsAPI/ConversationsAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/FeatureConfigsAPI/FeatureConfigsAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/SelfUserAPI/SelfUserAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/TeamsAPI/TeamsAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/UpdateEventDecodingProxyError.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/UpdateEventsAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/UserPropertiesAPI/UserPropertiesAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/UsersAPI/UsersAPIV0.swift
  WireAPI/Sources/WireAPI/Components/ResponseParser.swift
  WireAPI/Sources/WireAPI/Network/APIService/PushChannelService.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/PushChannel.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/PushChannelProtocol.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/WebSocketProtocol.swift
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/ConnectionsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/ConversationsAPI/ConversationsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/FeatureConfigsAPI/FeatureConfigsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/SelfUserAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/TeamsAPI/TeamsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/UpdateEventsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/UserPropertiesAPI/UserPropertiesAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/UsersAPI/UsersAPITests.swift
  WireAnalytics/Package.swift
  WireDomain/Package.swift
  WireSystem/Package.swift
  WireTesting/Package.swift
  WireUtilities/Package.swift
  WireUtilities/Sources/WireUtilities/AsyncSequence+ToStream.swift
Labels: echoes: features, echoes: maintenance

#1894 fix: build errors in WireDatadog - WPB-10949
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/test_pr_changes.yml
  WireAnalytics/Sources/WireDatadog/WireDatadog.swift
Labels: echoes: throughput/ci-maintenance

#1878 fix: cleanup ConversationEventProcessor todos - WPB-10283
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/Sources/Protocols/EventConsumer.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/AddParticipantActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/RemoveParticipantActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/SetAllowGuestsAndServicesActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/UpdateAccessRolesActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationRequestStrategy.swift
  wire-ios-sync-engine/Source/Data Model/Conversation+Join.swift
  wire-ios-sync-engine/Source/Data Model/Conversation+MessageDestructionTimeout.swift
  wire-ios-sync-engine/Source/Data Model/Conversation+ReadReceiptMode.swift
  wire-ios-sync-engine/Source/Data Model/ServiceUser.swift
  wire-ios-sync-engine/Source/Synchronization/EventProcessor.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientEventConsumer.swift
  wire-ios-sync-engine/Source/UserSession/URLActionProcessors/ConnectToBotURLActionProcessor.swift
  wire-ios-sync-engine/Source/UserSession/URLActionProcessors/DeepLinkURLActionProcessor.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/E2EE/UserClientEventConsumerTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/SynchronizationMocks.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ConnectToBotURLActionProcessorTests.swift
  wire-ios-sync-engine/Tests/Source/UserSession/DeepLinkURLActionProcessorTests.swift
Labels: echoes: technical-debt

#1896 fix: security alert dependency bot - WPB-10978
  Gemfile.lock
Labels: echoes: security

#1891 chore: trim string catalogs before building releases - WPB-10942
  .github/workflows/_reusable_app_release.yml
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/crowdin.yml
  .github/workflows/swiftformat.yml
  .github/workflows/test_pr_changes.yml
  SourceryPlugin/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDETemplateMacros.plist
  WireAnalytics/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDETemplateMacros.plist
  WireDomain/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDETemplateMacros.plist
  WireSystem/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDETemplateMacros.plist
  WireTesting/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDETemplateMacros.plist
  WireUI/Sources/WireUIBase/Resources/Localizable.xcstrings
  WireUtilities/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDETemplateMacros.plist
  scripts/.swiftpm/TrimStringCatalogs.xctestplan
  scripts/.swiftpm/xcode/xcshareddata/xcschemes/TrimStringCatalogs.xcscheme
  scripts/Package.swift
  scripts/TrimStringCatalogs/TestResources/Trimmed_xcstrings
  scripts/TrimStringCatalogs/TestResources/Untrimmed_xcstrings
  scripts/TrimStringCatalogs/Tests.swift
  scripts/TrimStringCatalogs/main.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Resources/sv.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/sv.lproj/Localizable.strings
Labels: echoes: features, echoes: throughput/ci-maintenance

#1907 chore: Deprecation and Removal of Safe Area Properties - WPB-8778
  wire-ios/Wire-iOS Tests/NetworkStatusView/NetworkStatusViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Authentication/Interface/ViewControllers/AuthenticationStepController.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/ViewControllers/RemoveClientStepViewController.swift
  wire-ios/Wire-iOS/Sources/Authentication/Landing/LandingViewController.swift
  wire-ios/Wire-iOS/Sources/Components/ShareViewController/ShareViewController+Views.swift
  wire-ios/Wire-iOS/Sources/Components/ShareViewController/ShareViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.View.LockView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/BottomSheetContainerViewController/CallHeaderBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/BottomSheetContainerViewController/CallingActionsInfoViewController/CallingActionsInfoViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/BottomSheetContainerViewController/CallingActionsView/CallingActionsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/BottomSheetContainerViewController/CallingBottomSheetViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallActionsView/CallActionsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallGridViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallParticipantViews/BaseCallParticipantView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallInfoViewController/CallInfoViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallViewController/CallViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/Thumbnail/PinnableThumbnailViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Controllers/ConfirmAssetViewController/ConfirmAssetViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Giphy/GiphyConfirmationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/UINavigationBarContainer.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Views/LabelIndicator.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/MessageActions/CompleteReactionPicker/CompleteReactionPickerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationRootViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/ConversationCreationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Message Details/MessageDetailsContentViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Message Details/MessageDetailsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/CustomAppLock/Setup/PasscodeSetupViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/CustomAppLock/Unlock/UnlockViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/CustomAppLock/WipeDatabase/WipeDatabaseViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/FolderCreationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/ConversationDetailFooterView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/UIViewController+SafeArea.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Location/LocationSelectionViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Location/ModalTopBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Services/ServiceDetailViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/Debug Report/SettingsDebugReportViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/RemoveClients/RemoveClientsViewController.swift
Labels: echoes: technical-debt

#1909 refactor: Remove deprecated `AppDelegate.shared` usage - WPB-8778
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ViewDescriptions/VerificationCodeFieldDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Helpers/UIAlertController+Newsletter.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsViewModel.swift
  wire-ios/Wire-iOS/Sources/Helpers/UIApplication/UIApplication+Permissions.swift
  wire-ios/Wire-iOS/Sources/Helpers/UIScreen+SafeArea.swift
  wire-ios/Wire-iOS/Sources/Helpers/UITraitEnvironment+LayoutMargins.swift
  wire-ios/Wire-iOS/Sources/Helpers/syncengine/SessionManager+Convenience.swift
  wire-ios/Wire-iOS/Sources/Helpers/syncengine/UnauthenticatedSession+Shared.swift
  wire-ios/Wire-iOS/Sources/Helpers/syncengine/ZMConversation+Calling.swift
  wire-ios/Wire-iOS/Sources/Managers/SoundEventListener.swift
  wire-ios/Wire-iOS/Sources/UserInterface/BlockerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallQualityController/CallQualityController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/Helper/UIDevice+Orientation.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/FileTransfer/AudioMessageView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/Utility/SavableImage.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioEffectsPickerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioRecordKeyboardViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioRecordViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/CameraKeyboard/AssetCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Audio.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListAccessoryView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListItemView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/CustomAppLock/Setup/PasscodeSetupViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/UIApplication+StatusBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+UserObserving.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
  wire-ios/Wire-iOS/Sources/WireApplication.swift
Labels: echoes: technical-debt

#1905 feat: Remove custom self delete timer option - WPB-10861
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation Options/ConversationTimeoutOptionsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/EphemeralKeyboardViewController/EphemeralKeyboardViewController+UIAlertController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/EphemeralKeyboardViewController/EphemeralKeyboardViewController.swift
Labels: echoes: maintenance

#1892 chore: enable Git LFS for WireReusableUIComponents' snapshot reference images - WPB-10959
  .gitattributes
  .github/workflows/_reusable_app_release.yml
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/changelog.yml
  .github/workflows/cherry-pick-from-release-to-develop.yml
  .github/workflows/test_pr_changes.yml
  README.md
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-available.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-available.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-away.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-away.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-busy.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-busy.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-none.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-none.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-available.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-available.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-away.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-away.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-busy.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-busy.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-none.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-none.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/available.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/available.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/away.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/away.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/busy.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/busy.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/none.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/none.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/BlockingActivityIndicatorSnapshotTests/testThatItDismissesLoadingIndicator.1.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/BlockingActivityIndicatorSnapshotTests/testThatItShowsLoadingIndicator.1.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/BlockingActivityIndicatorSnapshotTests/testThatItShowsLoadingIndicatorWithSubtitle.1.png
  setup.sh
Labels: echoes: maintenance

#1906 feat: Track analytic events related to video audio and file messages - WPB-10953
  wire-ios-sync-engine/Source/Use cases/AppendFileMessageUseCase.swift
  wire-ios-sync-engine/Source/Use cases/MessageAppendableConversation.swift
  wire-ios-sync-engine/Source/UserSession/UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+UserSession.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.manual.swift
  wire-ios-sync-engine/Tests/Source/Use cases/AppendFileMessageUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.swift
Labels: echoes/initiative: product-metrics-in-countly

#1910 chore: Remove unused developer options - WPB-11021
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Developer/DeveloperOptionsController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Advanced.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Developer.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DebugActions.swift
Labels: echoes: maintenance

#1919 fix: show user image at the conversation list top instead of team image - WPB-11052
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar.swift
Labels: echoes: features

#1904 chore: update AVS to 9.7.23 - WPB-10928
  Cartfile.resolved
  wire-avs.json
Labels: release

#1920 fix: subconference parsing - WPB-11057
  .github/workflows/_reusable_run_tests.yml
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/MLSSubgroup.swift
  wire-ios-request-strategy/Sources/Payloads/Payload+Coding.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchSubgroupActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchSubgroupActionHandlerTests.swift
Labels: release, echoes: bugs

#1893 fix: api version failing while offline - WPB-10818
  wire-ios-mocktransport/Source/API Version/MockTransportSession+APIVersion.swift
  wire-ios-mocktransport/Source/MockTransportSession.h
  wire-ios-mocktransport/Source/MockTransportSession.m
  wire-ios-sync-engine/Source/SessionManager/APIVersionResolver.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/APIVersionResolverTests.swift
Labels: release, echoes: bugs

#1931 fix: snapshot reference images - WPB-8778
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testActivationScreen_Email.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testAddEmailPasswordScreen.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testBackupScreen_LoggedOut.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testBackupScreen_NewDevice.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testClientRemovalScreen.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testLandingScreen.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testLoginScreen_Email.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testLoginScreen_Email_PhoneDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testLoginScreen_Email_WithConfig.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testLoginScreen_Email_WithProxyAuthenticated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testLoginScreen_Email_WithProxyNoAuthentication.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testReauthenticate_CompanyLogin.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testReauthenticate_Email_DuringLogin.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testReauthenticate_Email_TokenExpired.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testReauthenticate_NoCredentials.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testRegistrationScreen.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testSetNameScreen.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testSetPasswordScreen.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testTooManyDevicesScreen.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AuthenticationInterfaceBuilderTests/testVerifyEmailLinkTests.1.png
Labels: echoes: technical-debt

#1929 feat: Integration of Hot Reloading with Inject Library - WPB-11098
  wire-ios-mono.xcworkspace/xcshareddata/swiftpm/Package.resolved
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/AccentColorPicker.swift
Labels: echoes: maintenance

#1933 fix: set snapshot test default perceptualPrecision to 1 - WPB-8778
  WireFoundation/Sources/WireFoundation/AccentColor/AccentColor.swift
  WireFoundation/Sources/WireTesting/SnapshotHelper.swift
  WireUI/Tests/WireReusableUIComponentsTests/AccountImageView/AccountImageViewSnapshotTests.swift
  WireUI/Tests/WireReusableUIComponentsTests/BlockingActivityIndicator/BlockingActivityIndicatorSnapshotTests.swift
  WireUI/Tests/WireUIFoundationTests/Main/MainTabBarControllerTests.swift
  wire-ios/Wire-iOS Tests/ConversationAvatarViewTests.swift
  wire-ios/Wire-iOS Tests/GroupConversationCellTests.swift
Labels: echoes: technical-debt

#1868 feat: Use proper MLS removal key with federated 1:1 conversations - WPB-10745
  wire-ios-data-model/Source/MLS/Actions/SyncMLSOneToOneConversationAction.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneMigratorTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationService.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationServiceTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchBackendMLSPublicKeysActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchBackendMLSPublicKeysActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/SyncMLSOneToOneConversationActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/SyncMLSOneToOneConversationActionHandlerTests.swift
Labels: DO NOT MERGE, release, echoes: bugs

#1943 chore: Delete deprecated properties from UIApplication & ApplicationProtocol - WPB-11154
  wire-ios/Wire-iOS/Settings+ColorScheme.swift
  wire-ios/Wire-iOS/Sources/Components/ApplicationProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/NetworkStatus/NetworkStatusViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+UITextViewDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/UIApplication+StatusBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/UITraitEnvironment+SizeClass.swift
Labels: echoes: technical-debt

#1944 feat: Remove call to deleteSubConversation after ending a 1:1 SFT call - WPB-11123
  wire-ios-data-model/Source/UseCases/ObserveMLSGroupVerificationStatusUseCase.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3+MLS.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
Labels: echoes: bugs

#1945 fix: build release-cycle 3.112 - no ticket
  .github/workflows/_reusable_app_release.yml
  .xcode-version
Labels: release

#1927 refactor: calculate and push supported protocols use case - WPB-10734
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Repositories/FeatureConfig/FeatureConfigRepository.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomain/UseCases/PushSupportedProtocolsUseCase.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Synchronization/PushSupportedProtocolsUseCaseTests.swift
Labels: echoes: technical-debt

#1939 refactor: process feature config update event - WPB-10183
  WireAPI/Sources/WireAPI/Models/FeatureConfig/MLSFeatureConfig.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/FeatureConfigEvent/FeatureConfigUpdateEvent.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/FeatureConfigEventProcessor/FeatureConfigUpdateEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/FeatureConfig/FeatureConfigRepository.swift
  WireDomain/Tests/WireDomainTests/Event Processing/FeatureConfigEventProcessor/FeatureConfigUpdateEventProcessorTests.swift
Labels: echoes: technical-debt

#1941 refactor: user legal hold disabled - WPB-10194
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserLegalholdDisableEvent.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserLegalholdDisableEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserLegalHoldDisableEventProcessorTests.swift
Labels: echoes: technical-debt

#1947 refactor: process user legal hold request event - WPB-10196
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserLegalholdRequestEvent.swift
  WireAPI/Sources/WireAPI/Models/UserClient/Prekey.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserLegalholdRequestEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserModelMappings.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserLegalholdRequestEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
  wire-ios-data-model/Source/Model/User/ZMUser+LegalHoldRequest.swift
Labels: echoes: technical-debt

#1940 refactor: process user add client event - WPB-10189
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserClientAddEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserModelMappings.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserClientAddEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserLegalholdRequestEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
  wire-ios-data-model/Source/Model/User/ZMUser+LegalHoldRequest.swift
Labels: echoes: maintenance

#1951 chore: plugin for generated snapshot reference image directory constant - WPB-9727
  .github/workflows/cherry-pick-from-release-to-develop.yml
  WireFoundation/Package.swift
  WireFoundation/Plugins/SnapshotTestReferenceDirectoryPlugin/SnapshotTestReferenceImageDirectoryPlugin.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/XCTest/XCTestCase+Assertions.swift
  WireFoundation/Sources/WireTesting/Utilities/SnapshotHelper.swift
  WireFoundation/Tests/WireFoundationTests/Utilities/UIImage+fromSolidColorTests.swift
  WireUI/Package.swift
  WireUI/Tests/WireAccountImageTests/AccountImageGenerator/AccountImageGeneratorTests.swift
  WireUI/Tests/WireAccountImageTests/AccountImageView/AccountImageViewSnapshotTests.swift
  WireUI/Tests/WireAccountImageTests/AccountImageView/AvailabilityIndicatorViewSnapshotTests.swift
  WireUI/Tests/WireDesignTests/Colors/WireAccentColorMappingTests.swift
  WireUI/Tests/WireDesignTests/Typography/WireTextStyleMappingTests.swift
  WireUI/Tests/WireReusableUIComponentsTests/BlockingActivityIndicator/BlockingActivityIndicatorSnapshotTests.swift
  WireUI/Tests/WireSidebarTests/Views/SidebarMenuItemSnapshotTests.swift
  WireUI/Tests/WireSidebarTests/Views/SidebarProfileSwitcherViewSnapshotTests.swift
  WireUI/Tests/WireSidebarTests/Views/SidebarViewSnapshotTests.swift
  WireUI/Tests/WireUIFoundationTests/Main/MainTabBarControllerTests.swift
Labels: echoes: features

#1879 refactor: process team member leave event - WPB-10185
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/Team/TeamEventCodingKeys.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/Team/TeamMemberLeaveEventDecoder.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/TeamEvent/TeamMemberLeaveEvent.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserLegalholdDisableEvent.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/UserEvent/UserLegalholdRequestEvent.swift
  WireAPI/Sources/WireAPI/Models/UserClient/Prekey.swift
  WireAPI/Tests/WireAPITests/UpdateEvent/Resources/TeamMemberLeave.json
  WireAPI/Tests/WireAPITests/UpdateEvent/TeamEventDecodingTests.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/TeamEventProcessor/TeamMemberLeaveEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserClientAddEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserLegalholdDisableEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserLegalholdRequestEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationRepository.swift
  WireDomain/Sources/WireDomain/Repositories/Team/TeamRepository.swift
  WireDomain/Sources/WireDomain/Repositories/Team/TeamRepositoryError.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserModelMappings.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepositoryError.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/TeamEventProcessor/TeamMemberLeaveEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/TeamEventProcessor/TeamMemberUpdateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserClientAddEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserLegalHoldDisableEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/UserLegalholdRequestEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConnectionsRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConversationRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/FeatureConfigRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UpdateEventsRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Synchronization/PushSupportedProtocolsUseCaseTests.swift
  wire-ios-data-model/Source/Model/User/ZMUser+LegalHoldRequest.swift
  wire-ios-data-model/Source/Model/User/ZMUser.swift
  wire-ios-data-model/Support/Sources/ModelHelper.swift
Labels: echoes: maintenance

#1950 chore: Remove marketing consent and related code - WPB-11190
  wire-ios-data-model/Source/Model/User/UnregisteredUser.swift
  wire-ios-data-model/Tests/Source/Model/User/UnregisteredUserTests.swift
  wire-ios-sync-engine/Source/Data Model/ZMUser+Consent.swift
  wire-ios-sync-engine/Source/UserSession/UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+UserSession.swift
  wire-ios-sync-engine/Tests/Source/Data Model/ZMUserConsentTests.swift
  wire-ios-sync-engine/Tests/Source/Integration/RegistrationTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/RegistrationStatusTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/TeamRegistrationStrategyTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Tests/Mocks/UserSessionMock.swift
  wire-ios/Wire-iOS Tests/Authentication/AuthenticationInterfaceBuilderTests.swift
  wire-ios/Wire-iOS Tests/ConversationList/Container/MockConversationListContainer.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/SettingsTableViewControllerSnapshotTests/testForDataUsagePermissionsForTeamMember.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/ar.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/da.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/fi.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/sl.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Authentication/AuthenticationFlowStep.swift
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/AuthenticationCoordinator.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/AuthenticationCoordinatorAction.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Registration/RegistrationIncrementalUserDataChangeHandler.swift
  wire-ios/Wire-iOS/Sources/Authentication/Helpers/AuthenticationPostRegistrationFields.swift
  wire-ios/Wire-iOS/Sources/Authentication/Helpers/ZMUserSession+MarketingConsent.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Helpers/UIAlertController+Newsletter.swift
  wire-ios/Wire-iOS/Sources/Components/Settings/SettingsPropertyFactory.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+DataUsagePermissions.swift
  wire-ios/WireCommonComponents/SettingsPropertyName.swift
Labels: echoes: bugs

#1888 fix: App still sends analytics data after analytics is disabled - WPB-10714
  .swiftlint.yml
  wire-ios-sync-engine/Source/SessionManager/SessionManager+AnalyticsUseCases.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Source/Use cases/AnalyticsManagerProviding.swift
  wire-ios-sync-engine/Source/Use cases/DisableAnalyticsUseCase.swift
  wire-ios-sync-engine/Source/Use cases/EnableAnalyticsUseCase.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.manual.swift
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests+MultiUserSession.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests+Proxy.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests.swift
  wire-ios-sync-engine/Tests/Source/Use cases/DisableAnalyticsUseCaseTests.swift
  wire-ios-sync-engine/Tests/Source/Use cases/EnableAnalyticsUseCaseTests.swift
  wire-ios-sync-engine/Tests/Source/Use cases/MockAnalyticsManagerProviding.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Analytics/TrackingManager/TrackingManager.swift
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
Labels: echoes/initiative: product-metrics-in-countly

#1915 fix: Delete deprecated properties from UIScreen+UISafeArea.swift - WPB-8778
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testCameraScrolledHorizontallyAwayPercent.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testCameraScrolledHorizontallyAwayPercent_CameraAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testCameraScrolledHorizontallyAwayPercent_LibraryAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testCameraScrolledHorizontallySomePercent.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testCameraScrolledHorizontallySomePercent_CameraAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testCameraScrolledHorizontallySomePercent_LibraryAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeCompact.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeCompact_CameraAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeCompact_LibraryAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularLandscape.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularLandscape_CameraAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularLandscape_LibraryAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularPortrait.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularPortrait_CameraAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testInitialStateLayoutSizeRegularPortrait_LibraryAccessGranted.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CameraKeyboardViewControllerTests/testWithCallingOverlay.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CanvasViewControllerTests/testForEmojiKeyboard.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CanvasViewControllerTests/testForSendButtonEnabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ContactsViewControllerSnapshotTests/testForContactsAndIndexSectionBarAreShown.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ContactsViewControllerSnapshotTests/testForContactsWithoutSections.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ContactsViewControllerSnapshotTests/testForNoContacts.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ContactsViewControllerSnapshotTests/testForNoSearchResult.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationImagesViewControllerTests/testForWrappedInNavigationController.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationImagesViewControllerTests/testThatItDisplaysCorrectToolbarForImage_Ephemeral.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationImagesViewControllerTests/testThatItDisplaysCorrectToolbarForImage_Normal.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ServiceDetailViewControllerSnapshotTests/testForTeamMemberWrappedInNavigationController.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/StartUIViewControllerSnapshotTests/testForNoContact.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/StartUIViewControllerSnapshotTests/testForNoContactWhenSelfIsPartner.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/StartUIViewControllerSnapshotTests/testForNoContactWhenSelfIsTeamMember.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/StartUIViewControllerSnapshotTests/testForWrappedInNavigationViewController.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Helpers/UIScreen+SafeArea.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Collections/ConversationImagesViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/NetworkStatus/NetworkStatusView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController+Constraints.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ContactsUI/ContactsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioRecordKeyboardViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/CameraKeyboard/CameraCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/CameraKeyboard/CameraKeyboardViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/Emoji/EmojiKeyboardViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/InputBarButtonsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/KeyboardHeight.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Location/LocationSelectionViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Overlay/CallTopOverlayController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Services/ServiceDetailViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Sketchpad/CanvasViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Sketchpad/SketchToolbar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/SearchResultsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIInviteActionBar.swift
Labels: echoes: technical-debt

#1942 fix: sending message large group - WPB-11019
  .github/workflows/_reusable_app_release.yml
  .github/workflows/_reusable_run_tests.yml
  wire-ios-data-model/Source/Model/Message/GenericMessage+External.swift
  wire-ios-data-model/Source/Model/Message/ZMClientMessage+Encryption.swift
  wire-ios-data-model/Source/Model/UserClient/UserClient+Protobuf.swift
  wire-ios-data-model/Source/Notifications/Dictionary+Mapping.swift
  wire-ios-data-model/Source/Proteus/ProteusService.swift
  wire-ios-data-model/Source/Utilis/Protos/GenericMessage+Helper.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+Deletion.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+OTR.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+OTR_Legacy.swift
  wire-ios-mocktransport/Source/Conversations/MockConversation.h
  wire-ios-mocktransport/Source/Conversations/MockConversation.m
  wire-ios-mocktransport/Source/Conversations/MockTransportSession+conversations.swift
  wire-ios-mocktransport/Tests/Source/MockTransportSessionTests.m
  wire-ios-request-strategy/Sources/APIs/MessageAPI.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageInfo.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageInfoExtractor.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageInfoExtractorTests.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSender.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSenderTests.swift
  wire-ios-request-strategy/Sources/Message Sending/ProteusMessagePayloadBuilder.swift
  wire-ios-request-strategy/Sources/Message Sending/ProteusMessagePayloadBuilderTests.swift
  wire-ios-request-strategy/Sources/Object Syncs/Helpers/ProteusMessage.swift
  wire-ios-request-strategy/Sources/Request Strategies/Assets/AssetClientMessageRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Base Strategies/MockOTREntity.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestFactory.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestFactoryTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Delivery Receipts/DeliveryReceiptRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Generic Message/GenericMessageEntity.swift
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/Support/Sourcery/generated/MockProteusMessage_EncryptedPayloadGenerator.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/Synchronization/Strategies/CallingRequestStrategy.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTests+DeliveryConfirmation.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTests+Ephemeral.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTests+LegalHold.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTestsBase.m
  wire-ios-sync-engine/Tests/Source/Integration/DeleteMessagesTests.swift
  wire-ios-sync-engine/Tests/Source/Integration/FileTransferTests.m
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/CallingRequestStrategyTests.swift
  wire-ios-sync-engine/Tests/TestsPlans/AllTests.xctestplan
  wire-ios-transport/Source/Public/APIVersion.swift
  wire-ios-transport/Source/TransportSession/TransportSession.swift
Labels: echoes: bugs

#1961 fix: sending message large group - WPB-11019
  wire-ios-data-model/Source/Model/Message/GenericMessage+External.swift
  wire-ios-data-model/Source/Model/Message/ZMClientMessage+Encryption.swift
  wire-ios-data-model/Source/Model/UserClient/UserClient+Protobuf.swift
  wire-ios-data-model/Source/Proteus/ProteusService.swift
  wire-ios-data-model/Source/Utilis/Protos/GenericMessage+Helper.swift
  wire-ios-data-model/Support/Sources/ModelHelper.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+Deletion.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+OTR.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMClientMessageTests+OTR_Legacy.swift
  wire-ios-mocktransport/Source/Conversations/MockConversation.h
  wire-ios-mocktransport/Source/Conversations/MockConversation.m
  wire-ios-mocktransport/Source/Conversations/MockTransportSession+conversations.swift
  wire-ios-mocktransport/Tests/Source/MockTransportSessionTests.m
  wire-ios-request-strategy/Sources/APIs/MessageAPI.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageInfo.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageInfoExtractor.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageInfoExtractorTests.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSender.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSenderTests.swift
  wire-ios-request-strategy/Sources/Message Sending/ProteusMessagePayloadBuilder.swift
  wire-ios-request-strategy/Sources/Message Sending/ProteusMessagePayloadBuilderTests.swift
  wire-ios-request-strategy/Sources/Object Syncs/Helpers/ProteusMessage.swift
  wire-ios-request-strategy/Sources/Payloads/Payload.swift
  wire-ios-request-strategy/Sources/Protocols/OTREntity.swift
  wire-ios-request-strategy/Sources/Request Strategies/Assets/AssetClientMessageRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Base Strategies/MockOTREntity.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestFactory.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestFactoryTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Delivery Receipts/DeliveryReceiptRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Generic Message/GenericMessageEntity.swift
  wire-ios-request-strategy/Sources/Request Strategies/User Clients/VerifyLegalHoldRequestStrategyTests.swift
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/Support/Sourcery/generated/MockProteusMessage_EncryptedPayloadGenerator.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/Synchronization/Strategies/CallingRequestStrategy.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTests+DeliveryConfirmation.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTests+Ephemeral.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTests+LegalHold.swift
  wire-ios-sync-engine/Tests/Source/Integration/ConversationTestsBase.m
  wire-ios-sync-engine/Tests/Source/Integration/DeleteMessagesTests.swift
  wire-ios-sync-engine/Tests/Source/Integration/FileTransferTests.m
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/CallingRequestStrategyTests.swift
  wire-ios-sync-engine/Tests/TestsPlans/AllTests.xctestplan
  wire-ios-transport/Source/Public/APIVersion.swift
  wire-ios-transport/Source/TransportSession/TransportSession.swift
Labels: release, echoes: bugs

#1965 fix: user property read receipt with apiVersion v6 - WPB-11262
  wire-ios-request-strategy/Sources/Request Strategies/User/UserPropertyRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/User/UserPropertyRequestStrategyTests.swift
Labels: release, echoes: bugs

#1949 fix: Tap on "decline" action on the popup for privacy leaves the toggle on - WPB-10954
  wire-ios/Wire-iOS Tests/Settings/SettingsPropertyTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Analytics/TrackingManager/TrackingManager.swift
  wire-ios/Wire-iOS/Sources/Analytics/TrackingManager/TrackingManagerError.swift
  wire-ios/Wire-iOS/Sources/Components/Settings/SettingsProperty.swift
  wire-ios/Wire-iOS/Sources/Components/Settings/SettingsPropertyFactory.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController+NewDeviceAlert.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsButtonCellDescriptor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Account.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Advanced.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+DataUsagePermissions.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Developer.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Options.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+SoundAlert.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsPropertySelectValueCellDescriptor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsPropertyToggleCellDescriptor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DebugActions.swift
Labels: echoes/initiative: product-metrics-in-countly

#1964 refactor: use APIService in UpdateEventsAPI - WPB-10801
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/UpdateEventsAPIBuilder.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/UpdateEventsAPIError.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/UpdateEventsAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/UpdateEventsAPIV5.swift
  WireAPI/Sources/WireAPI/Models/API/FailureResponse.swift
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/UpdateEventsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetLastUpdateEvent.request-0-v0.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetLastUpdateEvent.request-0-v1.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetLastUpdateEvent.request-0-v2.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetLastUpdateEvent.request-0-v3.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetLastUpdateEvent.request-0-v4.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetLastUpdateEvent.request-0-v5.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetLastUpdateEvent.request-0-v6.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-0-v0.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-0-v1.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-0-v2.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-0-v3.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-0-v4.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-0-v5.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-0-v6.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-1-v0.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-1-v1.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-1-v2.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-1-v3.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-1-v4.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-1-v5.txt
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/__Snapshots__/UpdateEventsAPITests/testGetUpdateEvents.request-1-v6.txt
  WireAPI/Tests/WireAPITests/Helpers/APIServiceSnapshotHelper.swift
  WireAPI/Tests/WireAPITests/Helpers/MockAPIServiceProtocol+Helpers.swift
  WireAPI/Tests/WireAPITests/Mocks/URLRequest+MockResponse.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#1956 fix: Biometrics app lock - WPB-11014
  wire-ios/Wire-iOS Tests/AppLockModuleViewTests.swift
  wire-ios/Wire-iOS UnitTests/AppLockModuleInteractorTests.swift
  wire-ios/Wire-iOS UnitTests/AppLockModulePresenterTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.Interactor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.Presenter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.View.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.swift
Labels: echoes: bugs

#1974 fix: user property read receipt with apiVersion v6 - WPB-11262
  wire-ios-request-strategy/Sources/Request Strategies/User/UserPropertyRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/User/UserPropertyRequestStrategyTests.swift
Labels: cherry-pick, release, echoes: bugs

#1973 fix: Biometrics app lock - WPB-11014
  wire-ios/Wire-iOS Tests/AppLockModuleViewTests.swift
  wire-ios/Wire-iOS UnitTests/AppLockModuleInteractorTests.swift
  wire-ios/Wire-iOS UnitTests/AppLockModulePresenterTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.Interactor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.Presenter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.View.swift
  wire-ios/Wire-iOS/Sources/UserInterface/App Lock/AppLockModule.swift
Labels: echoes: bugs

#1971 fix: appearance of the main tab bar controller - WPB-9727
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: features

#1987 fix: crash call switchAnalyticsUser after logged in, add log error message - WPB-11309
  wire-ios-data-model/Source/Model/User/AnalyticsIdentifierProvider.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
Labels: echoes/initiative: product-metrics-in-countly
