Repository wireapp/wire-ios, pull requests merged in 2024-04, with the labels that each got.

#1177 fix: There is no alert about certificate expiration WPB-7239
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/E2EIdentityCertificateDetailsView.swift
Labels: release, E2EI

#1234 fix: Update the string for E2EI registration
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/EnrollE2EIdentityStepDescription.swift
  wire-ios/Wire-iOS/Sources/UserInterface/BlockerViewController.swift
Labels: release, E2EI

#1243 fix: retain cycle keeping ConversationViewController alive WPB-7154
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/E2EIPrivacyWarningChecker.swift
Labels: release

#1249 fix: don't attempt to fetch & register trust anchor if it's already registered WPB-7337
  wire-ios-data-model/Source/E2EIdentity/E2EISetupService.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIRepository.swift
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2EICertificateUseCase.swift
Labels: E2EI

#1248 fix: update mls conversation verification status WPB-7404
  wire-ios-data-model/Source/UseCases/UpdateMLSGroupVerificationStatusUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTestsBase.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
Labels: release, E2EI

#1271 fix: BackendTrustProviderTests by storing current certificate
  wire-ios-transport/Tests/Resources/certificates.json
Labels: cherry-pick

#1277 fix: changelog and upload artifacts in github workflows - WPB-8615
  .github/workflows/_reusable_app_release.yml
  .github/workflows/c1_c2_c3_app_release_production.yml
  .github/workflows/c1_c2_c3_app_release_restricted.yml
  .github/workflows/c1_c3_app_release_production.yml
  .github/workflows/changelog.yml
Labels: cherry-pick

#1070 fix: download & decrypt messages when performing quick sync
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/MLSRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/Transcoders/ZMMissingUpdateEventsTranscoder.m
  wire-ios-sync-engine/Source/UserSession/SyncStatus.swift
Labels: release

#1324 fix: playground workflow - WPB-8615
  .github/workflows/_reusable_app_release.yml
Labels: cherry-pick

#1336 chore: Update localization SQPIT-786 [cherry-pick]
  wire-ios/Wire-iOS/Resources/ar.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/be.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/bg.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/bn.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/ca.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/cs.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/da.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/de.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/el.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/es.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/et.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/eu.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/fa.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/fi.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/fr.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/fr.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/he.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/hr.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/hu.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/id.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/is.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/it.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/ja.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/ka.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/ko.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/lt.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/lv.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/ms.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/my.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/nl.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/no.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/pl.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/pt-BR.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/pt.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/ro.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/ru.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/si.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/sk.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/sl.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/sr-Latn.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/sr.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/sv.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/th.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/tr.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/uk.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/ur.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/vi.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/zh-Hans.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/zh-Hant.lproj/Accessibility.strings
Labels: cherry-pick

#1263 feat: Add old remove clients view controller (with activation date) WPB-7261
  wire-ios-request-strategy/Sources/APIs/APIProvider.swift
  wire-ios-request-strategy/Sources/APIs/MessageAPI.swift
  wire-ios-request-strategy/Sources/APIs/UserClientAPI.swift
  wire-ios-request-strategy/Sources/Payloads/Payload.swift
  wire-ios-request-strategy/Sources/User Client/UserClientRequestFactory.swift
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientRequestFactory.swift
  wire-ios-sync-engine/Source/Use cases/RemoveUserClientUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Use cases/RemoveUserClientUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios-sync-engine/sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/ClientTableViewCellTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/RemoveClientStepViewControllerSnapshotTests/testForWrappedInNavigationController.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Authentication/Interface/ViewControllers/RemoveClientStepViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientTableViewCellModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/RemoveClients/RemoveClientTableViewCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/RemoveClients/RemoveClientsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/RemoveClients/RemoveClientsViewModel.swift
Labels: E2EI

#1347 feat: configurable ciphersuite WPB-8591
  Cartfile
  Cartfile.resolved
  wire-ios-data-model/Resources/Databases Changelog.md
  wire-ios-data-model/Resources/zmessaging.xcdatamodeld/.xccurrentversion
  wire-ios-data-model/Resources/zmessaging.xcdatamodeld/zmessaging2.117.0.xcdatamodel/contents
  wire-ios-data-model/Source/E2EIdentity/E2EISetupService.swift
  wire-ios-data-model/Source/MLS/BackendMLSPublicKeys.swift
  wire-ios-data-model/Source/MLS/CoreCryptoProvider.swift
  wire-ios-data-model/Source/MLS/MLSActionExecutor.swift
  wire-ios-data-model/Source/MLS/MLSCiphersuite.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/MLSSignatureAlgorithm.swift
  wire-ios-data-model/Source/MLS/SafeCoreCrypto.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMessagingMigrationVersion.swift
  wire-ios-data-model/Source/Model/Conversation/ConversationLike.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+MLS.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation.m
  wire-ios-data-model/Source/Model/FeatureConfig/MLS/Feature.MLS.swift
  wire-ios-data-model/Source/Model/UserClient/UserClient+MLSPublicKeys.swift
  wire-ios-data-model/Source/Model/UserClient/UserClient.swift
  wire-ios-data-model/Tests/MLS/MLSActionExecutorTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/Resources/store2-117-0.wiredatabase
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-notification-engine/Sources/NotificationSession.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchBackendMLSPublicKeysActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/FetchBackendMLSPublicKeysActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Services/SupportedProtocolsService.swift
  wire-ios-share-engine/Sources/SharingSession.swift
  wire-ios-sync-engine/Source/Use cases/GetIsE2EIdentityEnabledUseCase.swift
  wire-ios-sync-engine/Source/UserSession/UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Tests/Mocks/MockConversation.swift
  wire-ios/Tests/Mocks/UserSessionMock.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/ProfileDeviceDetailsViewTests.swift
  wire-ios/Wire-iOS UnitTests/DeviceInfoViewModelTests.swift
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/DeviceDetailsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/Sections/MessageProtocolSectionController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/ProfileDeviceDetailsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/UserClientListViewController.swift
Labels: release
