Repository wireapp/wire-ios, pull requests merged in 2024-02, with the labels that each got.

#895 feat: move 1on1 conversation messages [WPB-6246]
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Source/Utilis/UserImageLocalCache.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneMigratorTests.swift
  wire-ios-data-model/Tests/Source/Helper/CoreDataStackHelper.swift
  wire-ios-data-model/Tests/Source/Model/Messages/ZMMessage+ServerTimestamp.swift
  wire-ios-data-model/Tests/Source/Model/User/UserImageLocalCacheTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
Labels: MLS

#947 fix: E2ei enrollment part
  wire-ios-data-model/Source/Model/FeatureConfig/E2EId/Feature.E2EId.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2eIKeyPackageRotator.swift
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2eICertificateUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
Labels: E2EI

#943 chore: unify logging - WPB-6231
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests+Proxy.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests.swift
  wire-ios-system/Source/Logging/AggregatedLogger.swift
  wire-ios-system/Source/Logging/LegacyLogger.swift
  wire-ios-system/Source/Logging/SystemLogger.swift
  wire-ios-system/Source/Logging/WireLogger.swift
  wire-ios-system/Source/ZMSAsserts.swift
  wire-ios-system/Source/ZMSLog.swift
  wire-ios-system/Tests/ZMLogTests.swift
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/Developer/DebugAlert.swift
  wire-ios/Wire-iOS/Sources/Helpers/TmpFiles/TemporaryFileService.swift
  wire-ios/Wire-iOS/Sources/Managers/DatadogWrapper.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/ConversationCreationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/MFMailComposeViewController+Logs.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsTechnicalReportViewController.swift
  wire-ios/WireCommonComponents/LogFileDestination.swift
Labels: hotfix

#929 feat: insert duplicates debug shortcuts - WPB-6209
  wire-ios-data-model/Source/Model/QualifiedID.swift
  wire-ios-data-model/Source/Utilis/UUID+SafeLogging.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-system/Source/SafeForLoggingStringConvertible.swift
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
  wire-ios-transport/Source/Logging/RequestLog.swift
  wire-ios-transport/WireTransport.xcodeproj/project.pbxproj
  wire-ios-utilities/Source/DeveloperFlag.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationActionController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/ProfileActionsFactory.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController.swift
Labels: hotfix

#950 fix: snapshot images and minor bug fixes [WPB-765]
  wire-ios-data-model/Tests/UseCases/IsSelfUserE2EICertifiedUseCaseTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS Tests/ReferenceImages/UserStatusViewSnapshotTests/testThatItRendersCorrectly_Header_AvailableAvailability_Certified_Dark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/UserStatusViewSnapshotTests/testThatItRendersCorrectly_Header_AvailableAvailability_Certified_Light.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/UserStatusViewSnapshotTests/testThatItRendersCorrectly_Header_AwayAvailability_Verified_Dark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/UserStatusViewSnapshotTests/testThatItRendersCorrectly_Header_AwayAvailability_Verified_Light.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/UserStatusViewSnapshotTests/testThatItRendersCorrectly_Header_BusyAvailability_CertifiedAndVerified_Dark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/UserStatusViewSnapshotTests/testThatItRendersCorrectly_Header_BusyAvailability_CertifiedAndVerified_Light.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/Availability/UserStatusViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
Labels: E2EI

#966 fix: disable mls feature flag still creates mls client [WPB-6528]
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
Labels: MLS

#972 feat: Move verification shield for the conversation title
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallViewController/CallInfoConfiguration.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationTitleView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
Labels: E2EI

#961 feat: snoozer for alert WPB-6160
  wire-ios-data-model/Source/E2EIdentity/GracePeriodRepository.swift
  wire-ios-data-model/Source/Repositories/FeatureRepository.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/E2EI/SelfClientCertificateProvider.swift
  wire-ios-sync-engine/Source/Synchronization/RecurringActionService/RecurringActionService.swift
  wire-ios-sync-engine/Source/Synchronization/RecurringActionService/RecurringActionServiceInterface.swift
  wire-ios-sync-engine/Source/Use cases/SnoozeCertificateEnrollmentUseCase.swift
  wire-ios-sync-engine/Source/UserSession/UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/E2EI/SelfClientCertificateProviderTests.swift
  wire-ios-sync-engine/Tests/Source/Use cases/SnoozeCertificateEnrollmentUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios-sync-engine/sourcery/generated/AutoMockable.generated.swift
  wire-ios/Tests/Mocks/UserSessionMock.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
  wire-ios/Wire-iOS/Sources/AuthenticatedRouter.swift
  wire-ios/Wire-iOS/Sources/Helpers/UIAlertController/UIAlertController+FeatureConfig.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/E2eINotificationActionsHandler.swift
Labels: E2EI

#988 fix: request loop slow sync - WPB-6502
  wire-ios-notification-engine/Sources/ApplicationStatusDirectory.swift
  wire-ios-request-strategy/Sources/Protocols/ApplicationStatus.swift
  wire-ios-request-strategy/Sources/Request Strategies/Availability/AvailabilityRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Availability/AvailabilityRequestStrategyTests.swift
  wire-ios-request-strategy/Tests/Helpers/MockObjects.swift
  wire-ios-share-engine/Sources/SharingSession.swift
  wire-ios-sync-engine/Source/Synchronization/ApplicationStatusDirectory.swift
  wire-ios-sync-engine/Source/Synchronization/ZMHotFixDirectory+Swift.swift
  wire-ios-sync-engine/Source/Synchronization/ZMHotFixDirectory.m
  wire-ios-sync-engine/Source/UserSession/SyncStatus.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/Integration/SlowSyncTests+ExistingData.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/APIMigrationManagerTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/SynchronizationMocks.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/ZMHotFixTests.swift
  wire-ios-sync-engine/Tests/Source/UserSession/SyncStatusTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Developer.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DebugActions.swift
Labels: hotfix

#974 feat: evaluate all oneonone conversations implement [WPB-5812]
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolver.swift
  wire-ios-data-model/Source/Model/User/ZMUser+Predicates.swift
  wire-ios-data-model/Source/Model/User/ZMUser+SupportedProtocols.swift
  wire-ios-data-model/Source/Model/User/ZMUser.m
  wire-ios-data-model/Source/Model/User/ZMUser.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneResolverTests.swift
  wire-ios-mocktransport/Source/Users/MockUser.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/UserProfilePayloadProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Connection/ConnectionRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Connection/ConnectionRequestStrategyTests.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/EvaluateOneOnOneConversationsStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/UserSession/SyncStatus.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Integration/ClientManagementTests.m
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/EvaluateOneOnOneConversationsStrategyTests.swift
Labels: MLS

#995 feat: calculate supported protocols during slow sync - feature config [WPB-6660]
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/FeatureConfigRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/FeatureConfigRequestStrategyTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/GetFeatureConfigsActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/GetFeatureConfigsActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/Payload/FeatureConfigsPayload.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/Payload/FeatureConfigsPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Synchronization/SyncPhase.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Tests/Source/UserSession/SyncStatusTests.swift
  wire-ios-system/Source/Logging/WireLogger.swift
Labels: MLS

#986 fix: video toggle disabled in MLS calls - WPB-6204
  wire-ios-sync-engine/Source/Calling/AVSConversationType+Conference.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3+Events.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
Labels: MLS

#1012 fix: request loop slow sync - WPB-6502
  wire-ios-notification-engine/Sources/ApplicationStatusDirectory.swift
  wire-ios-request-strategy/Sources/Protocols/ApplicationStatus.swift
  wire-ios-request-strategy/Tests/Helpers/MockObjects.swift
  wire-ios-share-engine/Sources/SharingSession.swift
  wire-ios-sync-engine/Source/Synchronization/ApplicationStatusDirectory.swift
  wire-ios-sync-engine/Source/Synchronization/ZMHotFixDirectory+Swift.swift
  wire-ios-sync-engine/Source/Synchronization/ZMHotFixDirectory.m
  wire-ios-sync-engine/Source/UserSession/SyncStatus.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/Integration/SlowSyncTests+ExistingData.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/APIMigrationManagerTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/SynchronizationMocks.swift
  wire-ios-sync-engine/Tests/Source/UserSession/SyncStatusTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Developer.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DebugActions.swift
Labels: cherry-pick

#1005 feat: slow sync calculates supported protocols [WPB-6660]
  wire-ios-request-strategy/Sources/Request Strategies/User/SelfSupportedProtocolsRequestBuilder.swift
  wire-ios-request-strategy/Sources/Request Strategies/User/SelfSupportedProtocolsRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/User/SelfUserRequestStrategy.swift
  wire-ios-request-strategy/Sources/Services/ProteusToMLSMigrationState.swift
  wire-ios-request-strategy/Sources/Services/SupportedProtocolsService.swift
  wire-ios-request-strategy/Sources/Synchronization/SyncPhase.swift
  wire-ios-request-strategy/Tests/Sources/Request Strategies/User/SelfSupportedProtocolsRequestBuilderTests.swift
  wire-ios-request-strategy/Tests/Sources/Request Strategies/User/SelfSupportedProtocolsRequestStrategyTests.swift
  wire-ios-request-strategy/Tests/Sources/Services/SupportedProtocolsServiceTests.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Tests/Source/UserSession/SyncStatusTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
Labels: MLS

#1038 feat: E2EI success screen on login WPB-6793
  wire-ios/Wire-iOS/Sources/Authentication/AuthenticationFlowStep.swift
  wire-ios/Wire-iOS/Sources/Authentication/AuthenticationInterfaceBuilder.swift
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/AuthenticationCoordinator.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/AuthenticationCoordinatorAction.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Input/AuthenticationButtonTapInputHandler.swift
  wire-ios/Wire-iOS/Sources/Helpers/SemanticColors.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/E2eINotificationActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/SuccessfulCertificateEnrollmentViewController.swift
Labels: E2EI

#922 feat(e2ei): check certificate revocation lists WPB-3244
  wire-ios-data-model/Source/E2EIdentity/CRL/CRLExpirationDatesRepository.swift
  wire-ios-data-model/Source/E2EIdentity/CRL/CRLsDistributionPoints.swift
  wire-ios-data-model/Source/E2EIdentity/CRL/CertificateRevocationListsChecker.swift
  wire-ios-data-model/Source/E2EIdentity/MLSConversationVerificationManager.swift
  wire-ios-data-model/Source/E2EIdentity/MLSConversationVerificationStatusUpdater.swift
  wire-ios-data-model/Source/MLS/MLSActionExecutor.swift
  wire-ios-data-model/Source/MLS/MLSDecryptionService.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSActionExecutorTests.swift
  wire-ios-data-model/Tests/MLS/MLSDecryptionServiceTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/MockMLSActionExecutor.swift
  wire-ios-data-model/Tests/Source/E2EIdentity/CRLExpirationDatesRepositoryTests.swift
  wire-ios-data-model/Tests/Source/E2EIdentity/CertificateRevocationListsCheckerTests.swift
  wire-ios-data-model/Tests/Source/E2EIdentity/MLSConversationVerificationStatusProviderTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/E2EIdentity/CRL/CRLsDistributionPointsObserver.swift
  wire-ios-request-strategy/Sources/E2EIdentity/CRL/CertificateRevocationListAPI.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIKeyPackageRotator.swift
  wire-ios-request-strategy/Support/Sourcery/config.yml
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/Tests/Sources/E2EIdentity/CRLsDistributionPointsObserverTests.swift
  wire-ios-request-strategy/Tests/Sources/E2EIdentity/CertificateRevocationListAPITests.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
Labels: E2EI

#1009 feat: verify certificate's user name and handle WPB-6192
  wire-ios-data-model/Source/Model/UserClient/E2eIdentityCertificate.swift
  wire-ios-data-model/Support/Sources/ModelHelper.swift
  wire-ios-sync-engine/Source/Use cases/GetE2eIdentityCertificatesUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Use cases/GetE2eIdentityCertificatesUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Tests/Extensions/E2eIdentityCertificate+Mocks.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsInvalid.1.png
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/E2EIdentityCertificateStatus+Extensions.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsButtonsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsE2EIdentityCertificateView.swift
Labels: E2EI

#1046 feat: navigate to the certificate details from the success screen [WPB-6771]
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2EICertificateUseCase.swift
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Tests/Mocks/UserSessionMock.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewActionsHandlerTests.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/MockEnrolE2eICertificateUseCase.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Authentication/AuthenticationFlowStep.swift
  wire-ios/Wire-iOS/Sources/Authentication/AuthenticationInterfaceBuilder.swift
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/AuthenticationCoordinator.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceDetailsViewActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/E2EIdentityCertificateDetailsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/E2EINotificationActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/SuccessfulCertificateEnrollmentViewController.swift
Labels: E2EI

#1047 feat: show success screen at end of enrolment from settings [WPB-6792]
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceDetailsViewActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsButtonsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
Labels: E2EI

#1051 feat: Log an error
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/E2EINotificationActionsHandler.swift
Labels: E2EI

#1045 feat: Update conversation verification status WPB-6486
  wire-ios-data-model/Source/E2EIdentity/E2EIVerificationStatusService.swift
  wire-ios-data-model/Source/E2EIdentity/MLSConversationVerificationManager.swift
  wire-ios-data-model/Source/E2EIdentity/MLSConversationVerificationStatusUpdater.swift
  wire-ios-data-model/Source/UseCases/ObserveMLSGroupVerificationStatusUseCase.swift
  wire-ios-data-model/Source/UseCases/UpdateMLSGroupVerificationStatusUseCase.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/UseCases/UpdateMLSGroupVerificationStatusUseCaseTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/UserSession/UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios/Tests/Mocks/MockConversation.swift
  wire-ios/Tests/Mocks/UserSessionMock.swift
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
Labels: E2EI

#1039 chore(e2ei): E2EI Developer menu
  wire-ios-data-model/Source/E2EIdentity/CRL/CRLExpirationDatesRepository.swift
  wire-ios-data-model/Source/E2EIdentity/E2EISetupService.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIRepository.swift
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2EICertificateUseCase.swift
  wire-ios-utilities/Source/DeveloperFlag.swift
  wire-ios-utilities/Source/Public/PrivateUserDefaults.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperE2ei/DeveloperE2eiView.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperE2ei/DeveloperE2eiViewModel.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsViewModel.swift
Labels: E2EI

#1055 fix: certificate validation WPB-6882
  wire-ios-sync-engine/Source/Use cases/GetE2eIdentityCertificatesUseCase.swift
  wire-ios-sync-engine/Tests/Source/Use cases/GetE2eIdentityCertificatesUseCaseTests.swift
Labels: E2EI

#1054 fix: some flaky tests in WireSyncEngine [WPB-765]
  .github/workflows/_reusable_run_tests.yml
  scripts/run-tests.sh
  wire-ios-sync-engine/Source/DeepLink/DeepLinkError.swift
  wire-ios-sync-engine/Source/UserSession/NotificationInContext+UserSession.swift
  wire-ios/Tests/Mocks/UserSessionMock.swift
  wire-ios/Wire-iOS Tests/ConversationDetail/GroupDetailsViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/EphemeralKeyboardViewControllerTests.swift
  wire-ios/Wire-iOS Tests/IncomingRequestFooterTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForMlsConversation_withNotVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForMlsConversation_withVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForNonTeamUser.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInNonTeamConversation.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInNonTeamConversation_Partner.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation_Admins.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation_Partner.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForProteusConversation_withVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitState.iPhone-4_0_Inch.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitState.iPhone-4_7_Inch.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitState.iPhone-5_5_Inch.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitState_ifForcedApplock.iPhone-4_0_Inch.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitState_ifForcedApplock.iPhone-4_7_Inch.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitState_ifForcedApplock.iPhone-5_5_Inch.png
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Views/IncomingRequestFooterView.swift
Labels: E2EI

#1059 fix: fixed padding and layout issues on Device Details View [WPB-6896]
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/DeviceDetailsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/ProfileDeviceDetailsView.swift
Labels: E2EI

#1052 feat: add tests for ObserveMLSGroupVerificationStatusUseCase [WPB-6486]
  wire-ios-data-model/Source/UseCases/ObserveMLSGroupVerificationStatusUseCase.swift
  wire-ios-data-model/Tests/UseCases/ObserveMLSGroupVerificationStatusUseCaseTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
Labels: E2EI
