Repository wireapp/wire-ios, pull requests merged in 2024-03, with the labels that each got.

#1060 fix: align certificate details navigation alignment [WPB-6903]
  wire-ios/Wire-iOS Tests/ReferenceImages/E2eIdentityCertificateViewTests/testGivenCopyIsDisabledWhenCertificateIsAvailableThenRightViewIsShown.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/E2eIdentityCertificateViewTests/testGivenCopyIsDisabledWhenCertificateIsAvailableThenRightViewIsShownInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/E2eIdentityCertificateViewTests/testGivenCopyIsEnabledAndCertificateIsAvailableWhenMenuIsPresentedThenRightViewIsShown.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/E2eIdentityCertificateViewTests/testGivenCopyIsEnabledAndCertificateIsAvailableWhenMenuIsPresentedThenRightViewIsShownInDarkMode.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/E2EIdentityCertificateDetailsView.swift
Labels: E2EI

#1079 fix: storing user status on all-participants screen
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupParticipantsDetail/GroupParticipantsDetailViewModel.swift
Labels: E2EI

#1078 fix(e2ei): CRL renewal timeout
  wire-ios-data-model/Source/E2EIdentity/CRL/CRLExpirationDatesRepository.swift
  wire-ios-data-model/Source/E2EIdentity/CRL/CertificateRevocationListsChecker.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/Source/E2EIdentity/CertificateRevocationListsCheckerTests.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession.swift
  wire-ios-utilities/Source/DeveloperFlag.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperE2ei/DeveloperE2eiView.swift
Labels: E2EI

#1077 feat: Do not use refresh token for e2ei WPB-6921
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2EICertificateUseCase.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/OAuthUseCase.swift
Labels: E2EI

#1085 feat: Replace the valid certificate icon WPB-6991
  wire-ios-sync-engine/Source/UserSession/ZMUserSession+Authentication.swift
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/CertificateStatus/CertificateValid.imageset/Certificate valid light.svg
Labels: E2EI

#1104 fix: retain cycle when removing devices [WPB-6953]
  wire-ios-sync-engine/Source/UserSession/ClientUpdateNotification.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+Clients.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceDetailsViewActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsBottomView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/RequestPasswordController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
Labels: release

#1100 fix: add learn more link to the E2EI enrollment screen
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/AuthenticationStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/AddEmailPasswordStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/AddUsernameStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/BackupRestoreStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/ClientUnregisterInvitationStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/EmailLinkVerificationStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/EnrollE2EIdentityStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/LogInStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/ReauthenticateStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Login/ReauthenticateWithCompanyLoginStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Registration/PersonalRegistrationStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Registration/SetFullNameStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Registration/SetPasswordStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Registration/VerifyEmailStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ScreenDescriptions/Registration/VerifyPhoneStepDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/ViewControllers/AuthenticationStepController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Views/MarkdownTextView.swift
Labels: release, E2EI

#1107 chore: add logs assertion - WPB-6630
  wire-ios-system/Source/Logging/WireLogger.swift
  wire-ios-system/Source/ZMSAsserts.h
  wire-ios-system/Source/ZMSAsserts.m
  wire-ios-system/Source/ZMSAsserts.swift
Labels: release

#1068 fix: certificate information is not updated after certificate renewal [WPB-6919]
  wire-ios-data-model/Source/Model/UserClient/UserClient.swift
  wire-ios-data-model/Source/Model/UserClient/UserClientType.swift
  wire-ios/Tests/Mocks/MockUserClient.swift
  wire-ios/Tests/Sourcery/config.yml
  wire-ios/Tests/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS UnitTests/DeviceInfoViewModelTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/DeviceDetailsViewActionsHandler+ConversationUserClientDetailsActions.swift
Labels: release, E2EI

#1110 fix: mismatching mls thumbprint [WPB-6878]
  wire-ios-data-model/Source/Model/UserClient/UserClient.swift
  wire-ios-data-model/Source/Model/UserClient/UserClientType.swift
  wire-ios/Tests/Mocks/MockUserClient.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/ClientTableViewCellTests.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testGivenSelfClientWhenE2eidentityViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testGivenSelfClientWhenE2eidentityViewIsDisabledInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsDisabledInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValid.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValidWhenProteusIsNotVerifiedThenBlueShieldIsNotShown.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/CopyValueView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsProteusView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/DeviceDetailsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/ProfileDeviceDetailsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/UserClientListViewController.swift
Labels: MLS, release, E2EI

#1118 fix: get certificate and update certificate buttons should not be shown for other clients [WPB-7105]
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityIsEnabledAndCertificateIsExpiredForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityIsEnabledAndCertificateIsNotActivatedForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpiredForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpiredInDarkModeForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedInDarkModeForOtherClient.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsButtonsView.swift
Labels: release, E2EI

#1120 fix: registration of intermediate certificates WPB-7077
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPI.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPITests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/FederationCertificates.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIRepository.swift
  wire-ios-request-strategy/Sources/E2EIdentity/EnrollE2EICertificateUseCase.swift
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+RecurringAction.swift
Labels: release, E2EI

#1123 fix: certificate status position [WPB-7108]
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityIsEnabledAndCertificateIsExpiredForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityIsEnabledAndCertificateIsNotActivatedForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpired.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpiredForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpiredInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpiredInDarkModeForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsInvalid.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedInDarkModeForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsRevoked.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsRevokedInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValid.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValidInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValidWhenProteusIsNotVerifiedThenBlueShieldIsNotShown.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsE2EIdentityCertificateView.swift
Labels: release, E2EI

#1117 feat: Add certificate validity to the developer tools
  wire-ios-sync-engine/Source/E2EI/SelfClientCertificateProvider.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperE2ei/DeveloperE2eiView.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperE2ei/DeveloperE2eiViewModel.swift
Labels: release, E2EI

#1124 fix: mlsthumbprint derivation [WPB-6878]
  wire-ios/Tests/Extensions/E2eIdentityCertificate+Mocks.swift
  wire-ios/Tests/Extensions/String+Mock.swift
  wire-ios/Wire-iOS Tests/DeviceManagement/DeviceDetailsViewTests.swift
  wire-ios/Wire-iOS UnitTests/DeviceInfoViewModelTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceInfoViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/UserClientListViewController.swift
Labels: release, E2EI

#1127 fix: show fingerprint should not be sticky [WPB-7117]
  wire-ios/Wire-iOS Tests/ProfileDeviceDetailsViewTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testThatDebugMenuIsVisible_whenDeveloperModeIsEnabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testThatIsShowsDebugMenu_WhenE2eidentityViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsDisabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsDisabledInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpired.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsExpiredInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsInvalid.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsRevoked.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsRevokedInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValid.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValidInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsValidWhenProteusIsNotVerifiedThenBlueShieldIsNotShown.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenMLSViewIsDisabled.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/ProfileDeviceDetailsView.swift
Labels: release, E2EI

#1130 chore: Bump CC to rc.51
  Cartfile
  Cartfile.resolved
  wire-ios-data-model/Source/Utilis/CoreCryptoProtocolExt.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
Labels: release

#1121 fix: "Not activated" UI is not shown WPB-7080
  wire-ios-data-model/Source/Model/UserClient/UserClientType.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityIsEnabledAndCertificateIsNotActivatedForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedInDarkMode.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/DeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedInDarkModeForOtherClient.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivated.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ProfileDeviceDetailsViewTests/testWhenE2eidentityViewIsEnabledAndCertificateIsNotActivatedInDarkMode.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/Components/DeviceDetailsButtonsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/ClientListViewController.swift
Labels: release, E2EI

#1114 fix: devices layout on iPad [WPB-6967]
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/DeviceDetailsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/Devices/ProfileDeviceDetailsView.swift
Labels: release, E2EI

#1125 fix: it's possible escape E2EI enrollment on login WPB-7011
  wire-ios-sync-engine/Source/UserSession/ZMClientRegistrationStatus.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMClientRegistrationStatusTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/AuthenticationEventResponderChain.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Flow Start/AuthenticationStartE2EIdentityMissingErrorHandler.swift
Labels: E2EI

#1134 feat: OAuthUseCase improvements
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/OAuthUseCase.swift
Labels: E2EI

#1135 feat: Use topmostViewController for Keycloak auth
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/AuthenticationCoordinator.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperE2ei/DeveloperE2eiViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceDetailsViewActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/E2EINotificationActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/OAuthUseCase.swift
Labels: E2EI

#1108 fix: analytics identifier - WPB-6630
  wire-ios-data-model/Source/Model/Conversation/ZMConversation.m
  wire-ios-data-model/Source/Model/User/AnalyticsIdentifierProvider.swift
  wire-ios-data-model/Source/Model/User/ZMUser+AnalyticsIdentifier.swift
  wire-ios-data-model/Source/Model/User/ZMUser.swift
  wire-ios-data-model/Tests/Source/Model/User/AnalyticsIdentifierProviderTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios/Tests/Fixture/CoreDataFixture.swift
  wire-ios/Wire-iOS/Sources/Analytics/Analytics.swift
Labels: release

#1149 fix: core data migration errors on 3.111.8 - WPB-7174
  .github/workflows/_reusable_run_tests.yml
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack+Backup.swift
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/2.110-2.111/PrefillPrimaryKeyAction.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/2.110-2.111/RemoveDuplicatePreAction.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMessagingMigrator.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMigrationAction.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+ConversationUniqueness.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+ParticipantRole.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+UserUniqueness.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseRemoteIdentifierUniquenessTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
Labels: hotfix

#1150 fix(e2ei): revoked certificates not updated WPB-3230
  wire-ios-data-model/Source/E2EIdentity/CRL/CertificateRevocationListsChecker.swift
  wire-ios-data-model/Source/E2EIdentity/MLSConversationVerificationStatusUpdater.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/Sources/E2EIdentity/ACME/AcmeAPI.swift
Labels: release, E2EI

#1152 chore: bump cc to rc54
  Cartfile
  Cartfile.resolved
Labels: release

#1143 fix(e2ei): clear CRL expiration dates on logout WPB-7148
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests.swift
Labels: release, E2EI

#1141 fix(e2ei): missing observer of CRL distribution points WPB-7149
  wire-ios-data-model/Source/E2EIdentity/E2EIService.swift
  wire-ios-data-model/Source/MLS/CoreCryptoProvider.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/Source/E2EIdentity/E2EIServiceTests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIKeyPackageRotator.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIKeyPackageRotatorTests.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIRepository.swift
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
Labels: release, E2EI

#1148 fix: system message when added to group WPB-7094
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/AddParticipantActionHandlerTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessorTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationService.swift
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
Labels: release

#1154 fix: core data migration errors on 3.111.8 - WPB-7174
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack+Backup.swift
  wire-ios-data-model/Source/ManagedObjectContext/CoreDataStack.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/2.110-2.111/PrefillPrimaryKeyAction.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/2.110-2.111/RemoveDuplicatePreAction.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMessagingMigrator.swift
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMigrationAction.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+ConversationUniqueness.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+ParticipantRole.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseMigrationTests+UserUniqueness.swift
  wire-ios-data-model/Tests/Source/ManagedObjectContext/DatabaseRemoteIdentifierUniquenessTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
Labels: cherry-pick, release

#1086 feat: Soft lock an app if the certificate wasn't enrolled during the grace period
  wire-ios-data-model/Source/E2EIdentity/E2EIActivationRepository.swift
  wire-ios-data-model/Source/Model/UserClient/E2eIdentityCertificate.swift
  wire-ios-data-model/Source/Repositories/FeatureRepository.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Source/Use cases/E2EIdentityCertificateUpdateStatusUseCase.swift
  wire-ios-sync-engine/Source/Use cases/IsE2EICertificateEnrollmentRequiredUseCase.swift
  wire-ios-sync-engine/Source/Use cases/SnoozeCertificateEnrollmentUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Integration/IntegrationTest.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/SessionManagerTests+APIVersionResolver.swift
  wire-ios-sync-engine/Tests/Source/Use cases/E2EIdentityCertificateUpdateStatusUseCaseTests.swift
  wire-ios-sync-engine/Tests/Source/Use cases/SnoozeCertificateEnrollmentUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios-sync-engine/sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS Tests/AppStateCalculatorTests.swift
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
  wire-ios/Wire-iOS/Sources/AppStateCalculator.swift
  wire-ios/Wire-iOS/Sources/AuthenticatedRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/BlockerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/E2EIFeatureChange.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/E2EINotificationActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/SuccessfulCertificateEnrollmentViewController.swift
Labels: release, E2EI

#1155 fix: processing mls-welcome-message [WPB-7216]
  wire-ios-data-model/Source/MLS/MLSActionExecutor.swift
  wire-ios-data-model/Source/MLS/MLSDecryptionService.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/StaleMLSKeyMaterialDetector.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSActionExecutorTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/MockMLSActionExecutor.swift
  wire-ios-data-model/Tests/MLS/MockStaleMLSKeyDetector.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder+MLS.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoderTest.swift
  wire-ios-request-strategy/Tests/Helpers/MessagingTestBase.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
Labels: release

#1126 fix: conversation not visible [WPB-6203]
  wire-ios-data-model/Source/MLS/OneOnOne/MigrateMLSOneOnOneConversationError.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolver.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolverError.swift
  wire-ios-data-model/Source/Model/User/ZMUser.swift
  wire-ios-data-model/Support/Sources/MockActionHandler.swift
  wire-ios-data-model/Tests/OneOnOne/Mocks/MockActorOneOnOneMigrator.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneMigratorTests.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneResolverTests.swift
  wire-ios-data-model/Tests/Source/Model/User/ZMUserTests+Swift.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/EvaluateOneOnOneConversationsStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/Use cases/CreateTeamOneOnOneConversationUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+OneOnOne.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
Labels: bug, MLS

#1160 fix: conversation not visible [WPB-6203]
  wire-ios-data-model/Source/MLS/OneOnOne/MigrateMLSOneOnOneConversationError.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolver.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolverError.swift
  wire-ios-data-model/Source/Model/User/ZMUser.swift
  wire-ios-data-model/Support/Sources/MockActionHandler.swift
  wire-ios-data-model/Tests/OneOnOne/Mocks/MockActorOneOnOneMigrator.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneMigratorTests.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneResolverTests.swift
  wire-ios-data-model/Tests/Source/Model/User/ZMUserTests+Swift.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/Helpers/MLSEventProcessor.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/Helpers/MLSEventProcessorTests.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/EvaluateOneOnOneConversationsStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/Use cases/CreateTeamOneOnOneConversationUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+OneOnOne.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
Labels: cherry-pick

#1168 fix: added participant not appearing [WPB-7225]
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/Actions/AddParticipantActionHandler.swift
Labels: cherry-pick

#1129 fix: popup degredaded - WPB-7120
  wire-ios-data-model/Source/Model/Conversation/ConversationLike.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SecurityLevel.swift
  wire-ios-data-model/Source/Model/Message/ZMMessage+Insert.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageDependencyResolver.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageDependencyResolverTests.swift
  wire-ios-sync-engine/Source/Calling/ZMConversation+VoiceChannel.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+RecurringAction.swift
  wire-ios/Tests/Mocks/MockConversation.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallController/ActiveCallRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+PrivacyAlert.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarSendController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Audio.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Camera.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+FilesPopover.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Location.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+SendButton.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController/ConversationInputBarViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/E2EIPrivacyWarningChecker.swift
Labels: release, E2EI

#1159 chore: update Xcode 15.3 [WPB-7246]
  .github/workflows/_reusable_app_release.yml
  .github/workflows/_reusable_run_tests.yml
  .xcode-version
  README.md
  fastlane/.env
  wire-ios-mono.xcworkspace/xcshareddata/xcdebugger/Breakpoints_v2.xcbkptlist
Labels: release

#1167 fix: wait for dismissal completion before presenting alert [WPB-7154]
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeepLinks/DeepLinksView.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeepLinks/DeepLinksViewModel.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsViewModel.swift
  wire-ios/Wire-iOS/Sources/WireApplication.swift
Labels: cherry-pick

#869 chore: enable proteus by CoreCrypto
  wire-ios/Configuration/Developer-Flags.xcconfig
Labels: release
