Repository wireapp/wire-ios, pull requests merged in 2024-08, with the labels that each got.

#1765 fix: decoding MLS feature config on v3 fails - WPB-10439
  wire-ios-data-model/Source/Model/FeatureConfig/MLS/Feature.MLS.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/GetFeatureConfigsActionHandlerTests.swift
Labels: release

#1742 feat: use `useSFTForOneToOneCalls` for 1:1 calls via SFT - WPB-7152
  Cartfile.resolved
  wire-avs.json
  wire-ios-data-model/Source/Model/FeatureConfig/ConferenceCalling/Feature.ConferenceCalling.swift
  wire-ios-data-model/Source/Repositories/FeatureRepository.swift
  wire-ios-data-model/Tests/Source/Model/FeatureConfiguration/FeatureRepositoryTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/FeatureConfigRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/GetFeatureConfigsAction.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/GetFeatureConfigsActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/Payload/FeatureConfigsPayload.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/Payload/FeatureConfigsPayloadProcessor.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
Labels: release

#1772 feat: terminate the SFT 1:1 call once the other person hangup the call - WPB-7152
  wire-ios-data-model/Source/MLS/Actions/DeleteSubgroupAction.swift
  wire-ios-data-model/Source/MLS/MLSActionsProvider.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/DeleteSubgroupActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/DeleteSubgroupActionHandlerTests.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3+MLS.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
Labels: release, echoes: features

#1786 feat: set ciphersuites when replacing KeyPackages WPB-10253
  wire-ios-data-model/Source/MLS/Actions/ReplaceSelfMLSKeyPackagesAction.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIKeyPackageRotator.swift
  wire-ios-request-strategy/Sources/E2EIdentity/E2EIKeyPackageRotatorTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/ReplaceSelfMLSKeyPackagesActionHandler.swift
  wire-ios-request-strategy/Sources/Request Strategies/MLS/Actions/ReplaceSelfMLSKeyPackagesActionHandlerTests.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
Labels: release, E2EI

#1788 chore: move apiV6 to supported versions WPB-10264
  wire-ios-sync-engine/Source/SessionManager/APIVersionResolver.swift
Labels: release, echoes: features

#1787 chore: Remove Deprecated Analytics Code - WPB-10553
  wire-ios-data-model/Source/Model/Analytics/AnalyticsType.swift
  wire-ios-sync-engine/Source/Analytics/Analytics+Push.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+Actions.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+Push.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/xcshareddata/xcschemes/Wire-iOS.xcscheme
  wire-ios/Wire-iOS/Sources/Analytics/Analytics+StorableTrackingEvent.swift
  wire-ios/Wire-iOS/Sources/Analytics/Analytics.swift
  wire-ios/Wire-iOS/Sources/Analytics/AnalyticsConsoleProvider.swift
  wire-ios/Wire-iOS/Sources/Analytics/AnalyticsCountlyProvider.swift
  wire-ios/Wire-iOS/Sources/Analytics/AnalyticsProvider.swift
  wire-ios/Wire-iOS/Sources/Analytics/AnalyticsProviderFactory.swift
  wire-ios/Wire-iOS/Sources/Analytics/Events/Analytics+Guests.swift
  wire-ios/Wire-iOS/Sources/Analytics/Events/Analytics+MediaActionEvents.swift
  wire-ios/Wire-iOS/Sources/Analytics/Events/Analytics+Services.swift
  wire-ios/Wire-iOS/Sources/Analytics/Events/Analytics+Settings.swift
  wire-ios/Wire-iOS/Sources/Analytics/Events/Analytics+TeamInvites.swift
  wire-ios/Wire-iOS/Sources/Analytics/Events/ZMConversation+Analytics.swift
  wire-ios/Wire-iOS/Sources/Analytics/Registration/Analytics+Registration.swift
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/Helpers/syncengine/Conversation+Participants.swift
  wire-ios/Wire-iOS/Sources/Helpers/syncengine/ZMConversation+Calling.swift
  wire-ios/Wire-iOS/Sources/LaunchSequenceOperation.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+CanvasViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+MessageAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Files.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Services/ServiceDetailViewController.swift
Labels: echoes/initiative: product-metrics-in-countly

#1797 chore: bump CC to v1.0.1 - WPB-10567
  Cartfile
  Cartfile.resolved
  wire-ios-data-model/Source/MLS/SafeCoreCrypto.swift
  wire-ios-data-model/Source/Utilis/CoreCryptoProtocolExt.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
Labels: release

#1802 chore: set avs version to 9.7.21 - WPB-10564
  Cartfile.resolved
  wire-avs.json
Labels: echoes: maintenance

#1805 chore: set avs version to 9.7.21- WPB-10564
  Cartfile.resolved
  wire-avs.json
Labels: release, echoes: maintenance

#1809 chore: bump version to 3.112.6 - no ticket
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: release

#1808 fix: link preview is sent but marked as not sent - WPB-10495
  wire-ios-request-strategy/Sources/Request Strategies/Assets/Link Preview/LinkPreviewUpdateRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Assets/Link Preview/LinkPreviewUpdateRequestStrategyTests.swift
Labels: echoes: bugs

#1800 fix: Avoid and log account deletion failures - WPB-10462
  wire-ios-data-model/Source/Model/Account.swift
  wire-ios-data-model/Source/Model/AccountManager.swift
  wire-ios-data-model/Source/Model/AccountStore.swift
  wire-ios-data-model/Tests/Source/Model/AccountStoreTests.swift
  wire-ios-system/Source/Extensions/Foundation/Error+SafeForLoggingStringConvertible.swift
  wire-ios-system/WireSystem Project.xcodeproj/project.pbxproj
Labels: echoes: bugs

#1814 fix: Update Modal Copy for Analytics Sharing - WPB-10650
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Analytics/TrackingManager/TrackingManager+UIAlertController.swift
Labels: echoes/initiative: product-metrics-in-countly

#1813 fix: Update AvailabilityStatus when set in `ProfileHeaderViewController` - WPB-10649
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
Labels: echoes: bugs

#1804 fix: Issue with color regarding `ConversationListItemView` when in dark mode - WPB-10617
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForEverythingArchived.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForNoConversations.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingConversationsWithoutAnyFilterApplied.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SelfProfileViewControllerTests/testForAUserWithALongName.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SelfProfileViewControllerTests/testForAUserWithNoTeam.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListItemView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/MainTabBarController.swift
Labels: echoes: features

#1817 fix: Push analyticsIdentifier to Countly with a merge when it changes - WPB-10520
  WireAnalytics/Sources/WireAnalytics/AnalyticsManager.swift
  WireAnalytics/Sources/WireAnalytics/AnalyticsManagerProtocol.swift
  WireAnalytics/Sources/WireAnalytics/AnalyticsService.swift
  WireAnalytics/Sources/WireAnalytics/Countly+AnalyticsService.swift
  WireAnalytics/Sources/WireAnalyticsSupport/MockAnalyticsManagerProtocol.swift
  WireAnalytics/Tests/WireAnalyticsTests/AnalyticsManagerTests.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
Labels: echoes/initiative: product-metrics-in-countly

#1820 chore: cherrypick link preview fixes - WPB-10622 WPB-10495
  wire-ios-data-model/Source/Model/Message/FileAssetCache.swift
  wire-ios-data-model/Tests/Source/Model/Messages/FileAssetCacheTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Assets/Link Preview/LinkPreviewUpdateRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Assets/Link Preview/LinkPreviewUpdateRequestStrategyTests.swift
Labels: echoes: bugs

#1823 fix: remove AutoMockable from main target - WPB-10436
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
Labels: release, echoes: maintenance

#1818 chore: remove Main.storyboard - WPB-9727
  .github/workflows/semantic_commit_lint.yml
  WireUI/Sources/WireReusableUIComponents/APIExtensions/UIKit/UIViewController+setupNavigationBarTitle.swift
  wire-ios/Configuration/Images.xcassets/AppIcon.appiconset/Contents.json
  wire-ios/Tests/Mocks/MockApplication.swift
  wire-ios/Wire-iOS Tests/Calling/ActiveCallRouterTests.swift
  wire-ios/Wire-iOS Tests/CharacterInputFieldSnapshotTests.swift
  wire-ios/Wire-iOS Tests/CharacterInputFieldTests.swift
  wire-ios/Wire-iOS Tests/MessagePresenterTests.swift
  wire-ios/Wire-iOS Tests/Routers/URLActionRouterTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
  wire-ios/Wire-iOS/Sources/AuthenticatedRouter.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Descriptions/ViewDescriptions/VerificationCodeFieldDescription.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Helpers/UIAlertController+Newsletter.swift
  wire-ios/Wire-iOS/Sources/Components/ApplicationProtocol.swift
  wire-ios/Wire-iOS/Sources/Components/ImageResourceView.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsViewModel.swift
  wire-ios/Wire-iOS/Sources/Helpers/UIAlertController/UIAlertController+Permissions.swift
  wire-ios/Wire-iOS/Sources/Helpers/UIApplication+KeyWindow.swift
  wire-ios/Wire-iOS/Sources/Helpers/UIApplication/UIApplication+Permissions.swift
  wire-ios/Wire-iOS/Sources/Helpers/UIScreen+SafeArea.swift
  wire-ios/Wire-iOS/Sources/Helpers/UITraitEnvironment+LayoutMargins.swift
  wire-ios/Wire-iOS/Sources/Helpers/syncengine/ZMConversation+Calling.swift
  wire-ios/Wire-iOS/Sources/Main.storyboard
  wire-ios/Wire-iOS/Sources/RootViewController.swift
  wire-ios/Wire-iOS/Sources/URLActionRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/BlockerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallController/ActiveCallRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/Helper/UIDevice+Orientation.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/Permissions/CallPermissionsConfiguration.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/Utility/SavableImage.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/AudioRecordKeyboardViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/CameraKeyboard/AssetCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Audio.swift
  wire-ios/Wire-iOS/Sources/UserInterface/CustomAppLock/Setup/PasscodeSetupViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/UIApplication+StatusBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/UIViewController+SafeArea.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+UserObserving.swift
  wire-ios/Wire-iOS/Wire-Info.plist
Labels: echoes: features

#1829 fix: Unable to tab to Contacts - WPB-10514
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/TabBarChangeHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: bugs

#1826 chore: prevent NetworkStatusView from depending on UIApplication - WPB-9727
  wire-ios/Tests/Mocks/MockApplication.swift
  wire-ios/Tests/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS Tests/NetworkStatusView/NetworkStatusViewSnapshotTests.swift
  wire-ios/Wire-iOS Tests/NetworkStatusView/NetworkStatusViewTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewSnapshotTests/testOfflineExpandedState.320-0.png
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewSnapshotTests/testOfflineExpandedState.375-0.png
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewSnapshotTests/testOfflineExpandedState.414-0.png
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewSnapshotTests/testOnlineSynchronizing.320-0.png
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewSnapshotTests/testOnlineSynchronizing.375-0.png
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewSnapshotTests/testOnlineSynchronizing.414-0.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
  wire-ios/Wire-iOS/Sources/Components/ApplicationProtocol.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsPresenter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/NetworkStatus/NetworkStatusView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Views/BreathLoadingBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: features

#1819 chore: interface orientation aware SplitView- and NavigationController delegates - WPB-9727
  wire-ios-system/Source/NavigationControllerDelegate/SupportedOrientationsDelegatingNavigationControllerDelegate.swift
  wire-ios-system/Source/SplitViewControllerDelegate/SupportedOrientationsDelegatingSplitViewControllerDelegate.swift
  wire-ios-system/Tests/NavigationControllerDelegate/SupportedOrientationsDelegatingNavigationControllerDelegateTests.swift
  wire-ios-system/Tests/SplitViewControllerDelegate/SupportedOrientationsDelegatingSplitViewControllerDelegateTests.swift
  wire-ios-system/WireSystem Project.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
Labels: echoes: features, echoes: bugs

#1834 chore: Cherry pick localization strings - WPB-10674
  wire-ios/Wire-iOS/Resources/de.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/de.lproj/Localizable.strings
Labels: release

#1835 chore: bump CC to v1.0.2 - WPB-10666
  Cartfile
  Cartfile.resolved
Labels: release

#1833 refactor: implement PushChannel - WPB-10244
  WireAPI/Package.swift
  WireAPI/Package@swift-5.10.swift
  WireAPI/Sources/WireAPI/APIs/PushChannelAPI/PushChannelAPI.swift
  WireAPI/Sources/WireAPI/APIs/PushChannelAPI/PushChannelAPIBuilder.swift
  WireAPI/Sources/WireAPI/APIs/PushChannelAPI/PushChannelAPIError.swift
  WireAPI/Sources/WireAPI/APIs/PushChannelAPI/PushChannelAPIImpl.swift
  WireAPI/Sources/WireAPI/Network/APIService/APIService.swift
  WireAPI/Sources/WireAPI/Network/APIService/PushChannelService.swift
  WireAPI/Sources/WireAPI/Network/APIService/PushChannelServiceError.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/PushChannel.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/PushChannelError.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/PushChannelProtocol.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/URLSessionWebSocketTaskProtocol.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/WebSocket.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/WebSocketProtocol.swift
  WireAPI/Sources/WireAPISupport/Sourcery/sourcery.yml
  WireAPI/Tests/WireAPITests/Mocks/WebSocketProtocolMock.swift
  WireAPI/Tests/WireAPITests/Network/APIService/APIServiceTests.swift
  WireAPI/Tests/WireAPITests/Network/PushChannel/PushChannelTests.swift
  WireAPI/Tests/WireAPITests/Network/PushChannel/Resources/LiveUpdateEventEnvelope1.json
  WireAPI/Tests/WireAPITests/Network/PushChannel/Resources/LiveUpdateEventEnvelope2.json
  WireAPI/Tests/WireAPITests/Network/PushChannel/Resources/LiveUpdateEventEnvelope3.json
  WireAPI/Tests/WireAPITests/Network/PushChannel/WebSocketTests.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Repositories/UpdateEventsRepository.swift
  WireDomain/Tests/WireDomainTests/Repositories/UpdateEventsRepositoryTests.swift
  WireUtilities/Sources/WireUtilities/AsyncSequence+ToStream.swift
Labels: echoes: technical-debt

#1838 fix: link preview removes quoted message - WPB-10007
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Content/Text/ConversationTextMessageCell.swift
Labels: echoes: bugs

#1828 chore: remove RootViewController class - WPB-9727
  WireUI/Package.swift
  WireUI/Package@swift-5.10.swift
  WireUI/Sources/WireReusableUIComponents/ProgressIndicator/ProgressSpinner.swift
  WireUI/Tests/WireReusableUIComponentsTests/AccountImageView/AccountImageViewSnapshotTests.swift
  WireUI/Tests/WireReusableUIComponentsTests/AccountImageView/AvailabilityIndicatorViewSnapshotTests.swift
  wire-ios/Tests/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS Tests/CallQualityControllerTests.swift
  wire-ios/Wire-iOS Tests/Calling/ActiveCallRouterTests.swift
  wire-ios/Wire-iOS Tests/Routers/URLActionRouterTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
  wire-ios/Wire-iOS/Sources/AuthenticatedRouter.swift
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/AuthenticationCoordinator.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperE2ei/DeveloperE2eiViewModel.swift
  wire-ios/Wire-iOS/Sources/LaunchScreenViewController.swift
  wire-ios/Wire-iOS/Sources/RootViewController.swift
  wire-ios/Wire-iOS/Sources/URLActionRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/BlockerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallController/ActiveCallRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallQualityController/CallQualityController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Audio.swift
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/DeviceDetailsViewActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/E2EINotificationActionsHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/E2EIdentity/OAuthUseCase.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/UIApplication+StatusBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/TopOverlayPresenter/TopOverlayPresenter.swift
Labels: echoes: features

#1845 fix: appearance of the account image view - WPB-9727
  WireUI/Sources/WireReusableUIComponents/AccountImageView/AccountImageView.swift
  WireUI/Sources/WireReusableUIComponents/AccountImageView/AccountImageViewRepresentable.swift
  WireUI/Sources/WireReusableUIComponents/AccountImageView/AvailabilityIndicatorView.swift
  WireUI/Tests/WireReusableUIComponentsTests/AccountImageView/AccountImageViewSnapshotTests.swift
  WireUI/Tests/WireReusableUIComponentsTests/AccountImageView/AvailabilityIndicatorViewSnapshotTests.swift
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-available.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-available.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-away.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-away.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-busy.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-busy.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-none.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/personal-none.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-available.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-available.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-away.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-away.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-busy.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-busy.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-none.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/team-none.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/user-available.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/user-available.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/user-away.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/user-away.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/user-busy.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/user-busy.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/user-none.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AccountImageViewSnapshotTests/user-none.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/available.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/available.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/away.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/away.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/busy.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/busy.light.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/none.dark.png
  WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/AvailabilityIndicatorViewSnapshotTests/none.light.png
Labels: echoes: features

#1844 fix: missing CBR indicator WPB-10676
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testConnectingAudioCallDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testConnectingAudioCallLight.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testEndingDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testEndingLight.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testEstablishedBriefDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testEstablishedBriefLight.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testEstablishedLongDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testEstablishedLongLight.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testIncomingAudioDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testIncomingAudioLight.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testIncomingAudioLightOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testIncomingVideoDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testIncomingVideoLight.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testLongTitleMargins.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testOutgoingDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testOutgoingLight.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testReconnectingDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testReconnectingLight.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testVariableBitRateDark.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CallStatusViewTests/testVariableBitRateLight.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallInfoViewController/BitRateLabel.swift
Labels: release

#1848 chore: Remove pre iOS 14 UIDocumentPickerViewController code - WPB-6803
  wire-ios/Wire-iOS/Sources/Authentication/Backup/BackupRestoreController.swift
Labels: echoes: bugs

#1855 fix: can't send messages on API v1 - WPB-10496
  wire-ios-request-strategy/Sources/APIs/MessageAPI.swift
  wire-ios-request-strategy/Sources/Payloads/Payload.swift
  wire-ios-request-strategy/Sources/Protocols/OTREntity.swift
  wire-ios-request-strategy/Sources/Request Strategies/User Clients/VerifyLegalHoldRequestStrategyTests.swift
Labels: echoes: bugs

#1859 chore: Integrate `HTMLString` and `swift-protobuf` using SPM - WPB-10812
  Cartfile
  Cartfile.resolved
  wire-ios-link-preview/WireLinkPreview.xcodeproj/project.pbxproj
  wire-ios-mono.xcworkspace/xcshareddata/swiftpm/Package.resolved
  wire-ios-protos/README.md
  wire-ios-protos/WireProtos.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
Labels: echoes: maintenance

#1866 chore: Migrate integration of `Down` from `Carthage` to `SPM` - WPB-10834
  Cartfile
  Cartfile.resolved
  wire-ios-mono.xcworkspace/xcshareddata/swiftpm/Package.resolved
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
Labels: echoes: maintenance
