Repository wireapp/wire-ios, pull requests merged in 2024-07, with the labels that each got.

#1631 fix: cancel all queued processing tasks when processing throws WPB-9221
  wire-ios-sync-engine/Source/Synchronization/EventProcessor.swift
Labels: release

#1645 fix: wire sync engine disable treat warnings as errors - WPB-9517
  wire-ios-request-strategy/Sources/Protocols/OTREntity.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
Labels: bug

#1641 chore: add more logs and connect to the websocket when self client is not nil - WPB-9221
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder+Proteus.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/EvaluateOneOnOneConversationsStrategy.swift
  wire-ios-system/Source/Logging/WireLogger.swift
  wire-ios-transport/Source/PushChannel/NativePushChannel.swift
  wire-ios-transport/Source/PushChannel/StarscreamPushChannel.swift
Labels: release

#1647 fix: can't see screen share - WPB-9909
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallParticipantViews/CallParticipantView.swift
Labels: release

#1642 fix: account name overflows in top bar - WPB-7281
  wire-ios/Wire-iOS/Sources/UserInterface/Availability/TitleView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ConversationListTopBarViewController.swift
Labels: release

#1651 fix: name status update - WPB-9993
  wire-ios-data-model/Source/Model/User/Availability/Availability.swift
  wire-ios-data-model/Source/Notifications/ObjectObserverTokens/UserChangeInfo.swift
  wire-ios-request-strategy/Sources/Request Strategies/Availability/AvailabilityRequestStrategy.swift
Labels: release

#1672 fix: remove filtering events - WPB-9221
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoderTest.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/Synchronization/Transcoders/ZMMissingUpdateEventsTranscoder.h
  wire-ios-sync-engine/Source/Synchronization/Transcoders/ZMMissingUpdateEventsTranscoder.m
  wire-ios-sync-engine/Tests/Source/Synchronization/Transcoders/ZMMissingUpdateEventsTranscoderTests.m
Labels: release

#1680 hackathon: add basic backup models
  wire-ios-data-model/Source/Universal backup/Model/ConversationBackupModel.swift
  wire-ios-data-model/Source/Universal backup/Model/TextMessageBackupModel.swift
  wire-ios-data-model/Source/Universal backup/Model/UserBackupModel.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
Labels: Fix PR Title 🤦‍♂️

#1682 hackathon: disable workflows
  .github/workflows/_reusable_run_tests.yml
Labels: Fix PR Title 🤦‍♂️

#1683 create import message view
  wire-ios-data-model/Source/Universal backup/Model/MessageAddBackupModel.swift
  wire-ios-data-model/Source/Universal backup/Model/MetadataBackupModel.swift
  wire-ios-data-model/Source/Universal backup/Model/TextMessageBackupModel.swift
  wire-ios-data-model/Source/Universal backup/Model/UserBackupModel.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/Use cases/ImportMessagesUseCase.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ImportMessages/ImportMessagesView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Account.swift
Labels: Fix PR Title 🤦‍♂️

#1688 revert: changes in Package.resolved
  wire-ios-mono.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: Fix PR Title 🤦‍♂️

#1614 feat: CRL Proxy support if needed - WPB-8795
  wire-ios-data-model/Source/Model/FeatureConfig/E2EId/Feature.E2EId.swift
  wire-ios-data-model/Tests/Source/Model/FeatureConfiguration/FeatureRepositoryTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/GetFeatureConfigsActionHandlerTests.swift
  wire-ios-sync-engine/Source/E2EI/CRL/CRLURLBuilder.swift
  wire-ios-sync-engine/Source/E2EI/CRL/CertificateRevocationListsChecker.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/E2EI/CRLURLBuilderTests.swift
  wire-ios-sync-engine/Tests/Source/E2EI/CertificateRevocationListsCheckerTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
Labels: release, E2EI

#1696 fix: Don’t attach URLs for non existing files when sharing logs - WPB-9948
  wire-ios/Wire-iOS/Sources/Developer/DebugAlert.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsTechnicalReportViewController.swift
Labels: release

#1693 fix: diverse logs - WPB-9939
  wire-ios-data-model/Source/MLS/SafeCoreCrypto.swift
  wire-ios-data-model/Source/Model/Message/ZMAssetClientMessage.swift
  wire-ios-data-model/Source/Utilis/Protos/GenericMessage+Debug.swift
  wire-ios-data-model/Source/Utilis/SafeFileContext.swift
  wire-ios-request-strategy/Sources/Object Syncs/Upstream/ZMUpstreamModifiedObjectSync.m
  wire-ios-request-strategy/Sources/Request Strategies/Assets/AssetClientMessageRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Assets/AssetV3UploadRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestStrategy.swift
  wire-ios-request-strategy/Sources/Synchronization/QuickSyncObserver.swift
  wire-ios-share-engine/Sources/ZMConversation+Conversation.swift
  wire-ios-sync-engine/Source/UserSession/NSManagedObject+CryptoStack.swift
  wire-ios-system/Source/Logging/CocoaLumberjackLogger.swift
  wire-ios-system/Source/Logging/WireLogger.swift
  wire-ios-transport/Source/Background/BackgroundActivityFactory.swift
  wire-ios-transport/Source/Public/RemoteLogger.swift
  wire-ios-transport/Source/Public/ZMTransportRequest.swift
  wire-ios-transport/Source/Requests/ZMTransportRequest.m
  wire-ios-transport/Source/TransportSession/ZMTransportSession.m
  wire-ios-transport/Tests/Source/Requests/ZMTransportRequestTests.m
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/Components/ApplicationProtocol.swift
  wire-ios/Wire-iOS/Sources/Components/Settings+Logging.swift
  wire-ios/Wire-iOS/Sources/Managers/DatadogWrapper.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+CanvasViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+Forward.swift
Labels: release

#1732 fix: crash accessing self client id - WPB-9939
  wire-ios-request-strategy/Sources/Helpers/ZMSimpleListRequestPaginator.h
  wire-ios-request-strategy/Sources/Helpers/ZMSimpleListRequestPaginator.m
  wire-ios-request-strategy/Sources/Helpers/ZMSimpleListRequestPaginatorTests.m
  wire-ios-request-strategy/Sources/Notifications/NotificationStreamSync.swift
  wire-ios-sync-engine/Source/Synchronization/Transcoders/ZMMissingUpdateEventsTranscoder.m
  wire-ios-sync-engine/Tests/Source/Integration/APNSTests.m
Labels: release

#1731 fix: dependency-bot security alert on rexml - no ticket
  Gemfile
  Gemfile.lock
Labels: release

#1755 fix: 1-1 conversations locked - WPB-10416
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolver.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneResolverTests.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessorTests.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+RecurringAction.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
Labels: release
