Repository wireapp/wire-ios, pull requests merged in 2024-11, with the labels that each got.

#2113 chore: bump version to 3.113.3 - WPB-11979
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: echoes: maintenance

#2107 chore: bump avs version to 9.7.25 - WPB-11785
  Cartfile.resolved
  wire-avs.json
Labels: release, echoes: bugs

#2106 chore: bump avs version to 9.9.10 - WPB-11785
  Cartfile.resolved
  wire-avs.json
Labels: echoes: bugs

#2115 feat: Introduce ConversationFolderSelectionUseCase - WPB-12010
  wire-ios-sync-engine/Source/Use cases/ConversationFolderSelectionUseCase.swift
  wire-ios-sync-engine/Source/Use cases/MessageAppendableConversation.swift
  wire-ios-sync-engine/Source/Use cases/ToFolderMovableConversation.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.manual.swift
  wire-ios-sync-engine/Tests/Source/Mocks/MockLabelType.swift
  wire-ios-sync-engine/Tests/Source/Use cases/ConversationFolderSelectionUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
Labels: echoes: features

#2117 chore: Simplify UI code by removing `ShapeView` abstraction - WPB-12032
  wire-ios/Wire-iOS Tests/ReferenceImages/AccountViewSnapshotTests/testThatItShowsBasicAccountSelected_Personal.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AccountViewSnapshotTests/testThatItShowsBasicAccountSelected_Team.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AccountViewSnapshotTests/testThatItShowsBasicAccountWithPictureSelected_Personal.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/AccountViewSnapshotTests/testThatItShowsBasicAccountWithPictureSelected_Team.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/AccountViews/BaseAccountView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/AccountViews/PersonalAccountView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/AccountViews/TeamAccountView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/DotView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ShapeView.swift
Labels: echoes: technical-debt

#2104 fix: Wrong background color in Conversation View's navigation bar and Navigation Bar Modernization - WPB-11926
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/ForwardArrow.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/ForwardArrow.imageset/rightArrow.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/audioCall.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/audioCall.imageset/audioCallButton.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/unreadBackArrow.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/unreadBackArrow.imageset/unreadLeftArrow.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/unreadForwardArrow.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/unreadForwardArrow.imageset/unreadRightArrow.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/videoCall.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/Icons/videoCall.imageset/videoCallIcon.svg
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/search.imageset/Contents.json
  wire-ios/Wire-iOS/Resources/Images/Images.xcassets/search.imageset/searchIcon.svg
  wire-ios/Wire-iOS/Sources/UserInterface/Components/NavigationBarContainer.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConnectRequests/ConnectRequestsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationRootViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+AddressBook.swift
Labels: echoes: technical-debt, echoes: features, echoes: bugs

#2119 fix: presenting the invite activity VC - WPB-11994
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/Common/UIViewController+Invite.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController+AddressBook.swift
Labels: echoes: features

#2126 fix: remove PR_S3_SUBFOLDER for development builds - WPB-12081
  .github/workflows/_reusable_app_release.yml
Labels: echoes: throughput/ci-maintenance

#2110 fix: restore CallQualityControllerTests - WPB-11936
  wire-ios-sync-engine/Source/Use cases/SubmitCallQualitySurveyUseCase.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
Labels: echoes: technical-debt

#2124 fix: Multiple conversation reloads on dynamic font size changes - WPB-12077
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: features

#2028 refactor: process conversation access update event - WPB-10164
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/Conversation/ConversationAccessUpdateEventDecoder.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/ConversationEvent/ConversationAccessUpdateEvent.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationAccessUpdateEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationCreateEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationProtocolUpdateEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationReceiptModeUpdateEventProcessor.swift
  WireDomain/Sources/WireDomain/OneOnOneResolver.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationRepository.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationAccessUpdateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationCreateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationProtocolUpdateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationReceiptModeUpdateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/UserEventProcessor/OneOnOneResolverTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConversationRepositoryTests.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+AccessMode.swift
Labels: echoes: technical-debt, echoes: maintenance, echoes/initiative: ios-sync-refactoring

#1784 feat: add contextual items developer tools - WPB-11946
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/ContextItemsProviders/ConversationDeveloperActionsProvider.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/ContextItemsProviders/DeveloperToolsContextItemsProvider.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeveloperToolsViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationPreviewViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationActionController.swift
Labels: echoes: technical-debt

#2101 fix: create an activity indicator when instantiating AuthenticationCoordinator - WPB-10673
  wire-ios/Wire-iOS/Sources/Authentication/Coordinator/AuthenticationCoordinator.swift
Labels: echoes: technical-debt, echoes: features, echoes: bugs, echoes/initiative: product-metrics-in-countly, echoes: maintenance

#2122 fix: Make `TwoLineTitleView` accessible by using `UILargeContentViewer` - WPB-12074
  wire-ios/Wire-iOS/Sources/UserInterface/Collections/ConversationImagesViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Collections/TwoLineTitleView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
Labels: echoes: technical-debt

#2123 fix: Replace `ModalTopBar` with UINavigationController across Message UI - WPB-12075
  wire-ios/Wire-iOS Tests/ConversationMessageCell/CompleteReactionPickerViewControllerTests.swift
  wire-ios/Wire-iOS Tests/MessageDetails/MessageDetailsViewControllerTests.swift
  wire-ios/Wire-iOS Tests/ModalTopBarTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/CompleteReactionPickerViewControllerTests/testReactionPicker.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CompleteReactionPickerViewControllerTests/testReactionPicker_scrolledToBottom.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CompleteReactionPickerViewControllerTests/testReactionPicker_scrolledToMiddle.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CompleteReactionPickerViewControllerTests/testReactionPicker_withRecentReactionsSection.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/CompleteReactionPickerViewControllerTests/testReactionPicker_withSearchQuery.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsBothTabs_WhenMessageIsSeenButNotLiked.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsDifferentReactions.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsLikesOnly_FromOther_Team_17.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsLikesOnly_FromSelf_Consumer_17.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsLikes_13.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsNoLikesEmptyState_14.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsNoReceiptsEmptyState_DisabledInConversation_15.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsNoReceiptsEmptyState_EnabledInConversation_16.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsReceiptsOnly_Ephemeral.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsReceiptsOnly_Pings.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsReceipts_LongList_12.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsReceipts_ShortList_11.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/MessageDetailsViewControllerTests/testThatItShowsReceipts_ShortList_Edited_11.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Collections/CollectionsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Controllers/FullscreenImageViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+ConversationMessageCellDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+MessageAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/MessageActions/CompleteReactionPicker/CompleteReactionPickerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/MessageActions/MessageActionsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Location.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Message Details/MessageDetailsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Location/LocationSelectionViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Location/ModalTopBar.swift
Labels: echoes: technical-debt

#2121 feat: Add `FolderPickerViewModel` for folder selection UI - WPB-12010
  WireUI/.swiftpm/WireMoveToFolderUI.xctestplan
  WireUI/.swiftpm/WireUI-Package.xctestplan
  WireUI/.swiftpm/xcode/xcshareddata/xcschemes/WireMoveToFolderUI.xcscheme
  WireUI/.swiftpm/xcode/xcshareddata/xcschemes/WireUI-Package.xcscheme
  WireUI/Package.swift
  WireUI/Sources/WireMoveToFolderUI/FolderPickerViewModel.swift
  WireUI/Sources/WireMoveToFolderUI/Models/Conversation.swift
  WireUI/Sources/WireMoveToFolderUI/Models/Folder.swift
  WireUI/Sources/WireMoveToFolderUI/Protocols/FolderDirectoryTypeProtocol.swift
  WireUI/Sources/WireMoveToFolderUI/Protocols/MoveConversationToFolderUseCaseType.swift
  WireUI/Sources/WireMoveToFolderUISupport/Sourcery/AutoMockable.manual.swift
  WireUI/Sources/WireMoveToFolderUISupport/Sourcery/AutoMockable.stencil
  WireUI/Sources/WireMoveToFolderUISupport/Sourcery/sourcery.yml
  WireUI/Sources/WireMoveToFolderUISupport/WireMoveToFolderUI.swift
  WireUI/Tests/WireMoveToFolderUITests/FolderPickerViewModelTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
Labels: echoes: features

#2041 refactor: process conversation member join event - WPB-10168
  WireAPI/Sources/WireAPI/Models/Conversation/ConversationMember.swift
  WireAPI/Sources/WireAPI/Models/UpdateEvent/ConversationEvent/ConversationMemberJoinEvent.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationMemberJoinEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationRepository.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationRepositoryError.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationMemberJoinEventTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConversationRepositoryTests.swift
  wire-ios-data-model/Support/Sources/ModelHelper.swift
Labels: echoes: technical-debt

#2096 refactor: create message repository - WPB-11839
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Message/MessageLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Message/MessageRepository.swift
  WireDomain/Sources/WireDomain/Repositories/Message/Models/MessageType.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/LocalStores/MessageLocalStoreTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/MessageRepositoryTests.swift
Labels: echoes: maintenance, echoes/initiative: ios-sync-refactoring

#2125 feat: Create `FolderPicker` - WPB-11892
  WireUI/.swiftpm/xcode/xcshareddata/xcschemes/WireFolderPickerUI.xcscheme
  WireUI/Package.swift
  WireUI/Sources/WireDesign/Colors/Color+WireAccentColor.swift
  WireUI/Sources/WireDesign/Icons/Image+ImageResource.swift
  WireUI/Sources/WireDesign/Icons/UImage+ImageResource.swift
  WireUI/Sources/WireDesign/Resources/Images.xcassets/Contents.json
  WireUI/Sources/WireDesign/Resources/Images.xcassets/Icons/Close.imageset/Contents.json
  WireUI/Sources/WireDesign/Resources/Images.xcassets/Icons/Close.imageset/Icon.svg
  WireUI/Sources/WireDesign/Resources/Images.xcassets/Icons/Contents.json
  WireUI/Sources/WireFolderPickerUI/FolderPicker.swift
  WireUI/Sources/WireFolderPickerUI/FolderPickerOption.swift
  WireUI/Sources/WireFolderPickerUI/Resources/Accessibility.xcstrings
  WireUI/Sources/WireFolderPickerUI/Resources/Localizable.xcstrings
  WireUI/Sources/WireReusableUIComponents/Buttons/CloseButton.swift
  WireUI/Sources/WireReusableUIComponents/SDKExtensions/UIKit/UIBarButtonItem+CloseButton.swift
  crowdin.yml
  wire-ios/Wire-iOS/Sources/UserInterface/DeviceView/Views/E2EIdentityCertificateDetailsView.swift
Labels: echoes: features

#2130 fix: conversation filter use case must filter the self user - WPB-11997
  wire-ios-data-model/Source/ConversationSearch/FilterConversationsUseCase.swift
  wire-ios-data-model/Source/ConversationSearch/FilterableConversation.swift
  wire-ios-data-model/Source/ConversationSearch/ZMFilterableConversationAdapter.swift
  wire-ios-data-model/Tests/ConversationSearch/FilterConversationsUseCaseTests.swift
Labels: echoes: features

#2137 fix: remove wrong localization keys - WPB-11892
  WireUI/Sources/WireFolderPickerUI/FolderPicker.swift
  WireUI/Sources/WireFolderPickerUI/Resources/Localizable.xcstrings
  wire-ios/WireCommonComponents/String+Localized.swift
Labels: echoes: features

#2128 fix: notification filtering - WPB-11994
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator.swift
  WireUI/Tests/WireMainNavigationUITests/Containers/MainSplitViewControllerTests.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+Push.swift
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/ForegroundNotificationFilter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: features

#2127 feat: Add `FolderPicker` empty state - WPB-11893
  WireUI/Package.swift
  WireUI/Sources/WireFolderPickerUI/EmptyState.swift
  WireUI/Sources/WireFolderPickerUI/FolderPicker.swift
  WireUI/Sources/WireFolderPickerUI/Resources/Localizable.xcstrings
Labels: echoes: features

#2132 fix: navigation swipe back - WPB-11883
  wire-ios/Wire-iOS Tests/ChangeEmailViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ChangeHandleViewControllerTests.swift
  wire-ios/Wire-iOS Tests/ContactsViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Controllers/NavigationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+NavigationBar.swift
Labels: echoes: features

#2144 feat: Introduce FolderCreationViewModel - WPB-12189
  WireUI/Sources/WireMoveToFolderUI/FolderCreationViewModel.swift
  WireUI/Sources/WireMoveToFolderUI/Protocols/FolderCreationUseCaseType.swift
  WireUI/Sources/WireMoveToFolderUISupport/Sourcery/AutoMockable.manual.swift
  WireUI/Tests/WireMoveToFolderUITests/FolderCreationViewModelTests.swift
Labels: echoes: features

#2134 fix: searchbar delegate cancel button - WPB-11886
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+UISearchBarDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
Labels: echoes: features

#2157 fix: presentation of user's clients - WPB-11614
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: product-roadmap

#2147 fix: empty screen arrow not fully visible - WPB-11948
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForEverythingArchived.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForNoConversations.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsWithoutAnyFilterApplied.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS UnitTests/ConversationListViewControllerSearchTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/Empty placeholders/EmptyPlaceholderView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: product-roadmap

#2149 feat: Integrate folder picker on iPhone - WPB-11894
  WireUI/Sources/WireFolderPickerUI/FolderPicker.swift
  WireUI/Sources/WireFolderPickerUI/FolderPickerOption.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator.swift
  WireUI/Sources/WireMainNavigationUI/Models/MainConversationFilter.swift
  WireUI/Sources/WireMainNavigationUI/Models/MainSidebarMenuItem.swift
  WireUI/Sources/WireSidebarUI/Models/SidebarSelectableMenuItem.swift
  WireUI/Sources/WireSidebarUI/Resources/en.lproj/Localizable.strings
  WireUI/Sources/WireSidebarUI/Views/SidebarView.swift
  wire-ios/Configuration/url.json
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/Helpers/Bundle/Bundle+WireURLs.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+EmptyState.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationFilter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/FilterImageName.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ViewModel/ConversationListViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/FolderPickerViewControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ConversationListViewController+MainConversationListProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/SidebarViewController+MainSidebarProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/SidebarViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: product-roadmap

#2154 feat: Support accessibility for sidebar - WPB-12117
  WireUI/Sources/WireSidebarUI/Resources/ar.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/be.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/bg.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/bn.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/ca.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/cs.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/da.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/de.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/el.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/en.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/es.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/et.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/eu.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/fa.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/fi.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/fr.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/he.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/hr.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/hu.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/id.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/is.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/it.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/ja.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/ka.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/ko.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/lt.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/lv.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/ms.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/my.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/nl.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/no.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/pl.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/pt-BR.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/pt.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/ro.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/ru.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/si.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/sk.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/sl.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/sr-Latn.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/sr.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/sv.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/th.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/tr.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/uk.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/ur.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/vi.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/zh-Hans.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Resources/zh-Hant.lproj/Accessibility.strings
  WireUI/Sources/WireSidebarUI/Views/Preview/SidebarMenuItemPreview.swift
  WireUI/Sources/WireSidebarUI/Views/SidebarAccountInfoView.swift
  WireUI/Sources/WireSidebarUI/Views/SidebarMenuItemView.swift
  WireUI/Sources/WireSidebarUI/Views/SidebarView.swift
  crowdin.yml
Labels: echoes: product-roadmap

#2145 chore: create plugin for running SwiftGen in packages - WPB-11610
  .github/workflows/swiftformat.yml
  SourceryPlugin/Package.swift
  WireAPI/Package.swift
  WireAPI/Sources/WireAPISupport/Sourcery/AutoMockable.stencil
  WireAnalytics/Package.swift
  WireAnalytics/Sources/WireAnalyticsSupport/Sourcery/AutoMockable.stencil
  WireDomain/Package.swift
  WireDomain/Sources/PackageSupport/Sourcery/AutoMockable.stencil
  WireDomain/Sources/WireDomainSupport/Sourcery/AutoMockable.stencil
  WireFoundation/Package.swift
  WireFoundation/Sources/WireFoundationSupport/Sourcery/AutoMockable.stencil
  WirePlugins/.gitignore
  WirePlugins/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDETemplateMacros.plist
  WirePlugins/.swiftpm/xcode/package.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  WirePlugins/.swiftpm/xcode/xcshareddata/xcschemes/WirePlugins-Package.xcscheme
  WirePlugins/Package.swift
  WirePlugins/Plugins/SourceryPlugin/README.md
  WirePlugins/Plugins/SourceryPlugin/SourceryPlugin.swift
  WirePlugins/Plugins/SourceryPlugin/Stencils/AutoMockable.stencil
  WirePlugins/Plugins/SwiftGenPlugin/SwiftGenPlugin.swift
  WireUI/Package.swift
  WireUI/Sources/WireMoveToFolderUISupport/Sourcery/AutoMockable.stencil
  WireUI/Sources/WireSidebarUI/.swiftgen.yml
  WireUI/Sources/WireSidebarUI/Views/SidebarView.swift
  WireUI/Tests/WireMainNavigationUITests/Containers/MainSplitViewControllerTests.swift
  scripts/Package.swift
  scripts/run-sourcery.sh
  scripts/run-swiftgen.sh
  setup.sh
  wire-ios-data-model/Support/Sourcery/AutoMockable.stencil
  wire-ios-mono.xcworkspace/contents.xcworkspacedata
  wire-ios-request-strategy/Support/Sourcery/AutoMockable.stencil
  wire-ios-sync-engine/Support/Sourcery/AutoMockable.stencil
  wire-ios-system/Support/Sourcery/AutoMockable.stencil
  wire-ios-utilities/Support/Sourcery/AutoMockable.stencil
  wire-ios/Tests/Sourcery/AutoMockable.stencil
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
Labels: echoes: product-roadmap, echoes: technical-roadmap

#2153 fix: Datadog integration leads to build failures - WPB-11936
  WireAnalytics/Package.swift
  WireAnalytics/Sources/WireAnalytics/Datadog/WireDatadogProtocol.swift
  WireAnalytics/Sources/WireDatadog/LogLevel.swift
  WireAnalytics/Sources/WireDatadog/WireDatadog.swift
  WireAnalytics/Sources/WireDatadog/WireFakeDatadog.swift
  wire-ios-sync-engine/Source/Use cases/SubmitCallQualitySurveyUseCase.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Tests/TestsPlans/AllTests.xctestplan
  wire-ios-sync-engine/Tests/TestsPlans/SecurityTests.xctestplan
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/WireCommonComponents/Analytics/Datadog/WireAnalytics+Datadog.swift
  wire-ios/WireCommonComponents/Analytics/Datadog/WireDatadog+LoggerProtocol.swift
  wire-ios/WireCommonComponents/Analytics/Datadog/WireDatadogBuilder.swift
Labels: echoes: technical-roadmap/technical-debt

#2152 feat: empty state for search - WPB-11341
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForEverythingArchived.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForNoConversations.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingNoConversationsFilteredBySearchTerm.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerTests/testForShowingNoConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+EmptyState.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/Empty placeholders/EmptyConversationSearchResultsView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/Empty placeholders/EmptyPlaceholderContainerView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/Empty placeholders/EmptyPlaceholderView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ViewModel/ConversationListViewModel.swift
Labels: echoes: product-roadmap

#2166 chore: enable Swift 6 in WireFoundation - WPB-14397
  WireAPI/Sources/WireAPI/Extensions/AsyncSequence+ToStream.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireFoundation/Package.swift
  WireFoundation/Sources/WireFoundation/Crypto/AES256Crypto.swift
  WireFoundation/Sources/WireFoundation/Crypto/AES256CryptoError.swift
  WireFoundation/Sources/WireFoundation/Crypto/SecureRandomByteGenerator.swift
  WireFoundation/Sources/WireFoundation/Design/WireAccentColor/WireAccentColor+Environment.swift
  WireFoundation/Sources/WireFoundation/Design/WireAccentColor/WireAccentColorMapping.swift
  WireFoundation/Sources/WireFoundation/Design/WireTextStyle/WireTextStyle+Environment.swift
  WireFoundation/Sources/WireFoundation/Design/WireTextStyle/WireTextStyleMapping.swift
  WireFoundation/Sources/WireFoundation/SDKAbstractions/UIKit/DeviceAbstraction.swift
  WireFoundation/Sources/WireFoundation/SDKAbstractions/UIKit/DeviceWrapper.swift
  WireFoundation/Sources/WireFoundation/SDKExtensions/UIKit/UINavigationController+completion.swift
  WireFoundation/Sources/WireFoundation/Utilities/PrivateUserDefaults.swift
  WireFoundation/Sources/WireFoundation/Utilities/UIImage+addImageCentered.swift
  WireFoundation/Sources/WireFoundation/Utilities/UIImage+fromSolidColor.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/UIKit/UIContentSizeCategory+CustomDebugStringConvertible.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/UIKit/UIContentSizeCategory+allCases.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/UIKit/UISplitViewController.Column+CustomDebugStringConvertible.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/UIKit/UISplitViewControllerDisplayMode+CustomDebugStringConvertible.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/UIKit/UISplitViewControllerSplitBehavior+CustomDebugStringConvertible.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/XCTest/XCTestCase+Assertions.swift
  WireFoundation/Sources/WireTesting/Utilities/SnapshotHelper.swift
  WireFoundation/Sources/WireTesting/Utilities/UUID+Mock.swift
  WireFoundation/Tests/WireFoundationTests/PrivateUserDefaultsTests.swift
  WirePlugins/Plugins/SourceryPlugin/Stencils/AutoMockable.stencil
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-system/Tests/Info.plist
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap

#2161 fix: consent to share user data - WPB-12018
  WireAnalytics/Sources/WireAnalytics/Service/AnalyticsService.swift
  WireAnalytics/Sources/WireAnalytics/Service/AnalyticsServiceProtocol.swift
  WireAnalytics/Sources/WireAnalyticsSupport/MockAnalyticsServiceProtocol.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager+AnalyticsUseCases.swift
  wire-ios/Wire-iOS/Sources/Analytics/TrackingManager/TrackingManager.swift
Labels: echoes: unplanned

#2159 feat: Implement Folder Creation UI & Wire-iOS Integration - WPB-12012
  WireUI/Sources/WireMoveToFolderUI/Protocols/CreateConversationFolderUseCaseProtocol.swift
  WireUI/Sources/WireMoveToFolderUI/Resources/Localizable.xcstrings
  WireUI/Sources/WireMoveToFolderUI/ViewControllers/FolderPickerHostingController.swift
  WireUI/Sources/WireMoveToFolderUI/ViewModels/CreateFolderViewModel.swift
  WireUI/Sources/WireMoveToFolderUI/ViewModels/FolderPickerViewModel.swift
  WireUI/Sources/WireMoveToFolderUI/Views/CreateFolder/CreateFolder.swift
  WireUI/Sources/WireMoveToFolderUI/Views/FolderPicker/EmptyState.swift
  WireUI/Sources/WireMoveToFolderUI/Views/FolderPicker/FolderPicker.swift
  WireUI/Sources/WireMoveToFolderUI/Views/FolderPicker/FolderRow.swift
  WireUI/Sources/WireMoveToFolderUISupport/Sourcery/AutoMockable.manual.swift
  WireUI/Tests/WireMoveToFolderUITests/FolderCreationViewModelTests.swift
  wire-ios-sync-engine/Source/Use cases/CreateConversationFolderUseCase.swift
  wire-ios-sync-engine/Source/UserSession/UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+UserSession.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Tests/Source/Use cases/CreateConversationFolderUseCaseTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Tests/Mocks/UserSessionMock.swift
  wire-ios/Wire-iOS Tests/FolderCreationControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/FolderPickerControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/FolderCreationControllerSnapshotTests/testForEditingTextField.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/FolderPickerControllerSnapshotTests/testWithExistingFolders.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/FolderPickerControllerSnapshotTests/testWithNoExistingFolders.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/CreateConversationFolderUseCase+CreateConversationFolderUseCaseProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/FolderCreationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/FolderCreationNameCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/FolderCreationNameSectionController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/FolderPickerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/FolderPickerViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/UpdateConversationFolderUseCase + UpdateConversationFolderUseCaseType .swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/UpdateConversationFolderUseCase+UpdateConversationFolderUseCaseProtocol .swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationActionController+Folders.swift
Labels: echoes: product-roadmap

#2172 refactor: Replace custom SearchTextViewController with UISearchController in GroupParticipantsDetailViewController - WPB-14420
  wire-ios/Wire-iOS Tests/GroupParticipantsDetailViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerSnapshotTests/testEmptyState.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerSnapshotTests/testThatItRendersALotOfUsers.DarkTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerSnapshotTests/testThatItRendersALotOfUsers.LightTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerSnapshotTests/testThatItRendersALotOfUsers_WithoutNames.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerTests/testEmptyState.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerTests/testThatItRendersALotOfUsers.DarkTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerTests/testThatItRendersALotOfUsers.LightTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerTests/testThatItRendersALotOfUsers_WithoutNames.1.png
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+ConversationContentViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+PrivacyAlert.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupParticipantsDetail/GroupParticipantsDetailViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupParticipantsDetail/GroupParticipantsDetailViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: technical-roadmap/technical-debt

#2131 chore: bump app version to 3.115.0 - WPB-11373
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: echoes: technical-roadmap

#2084 refactor: renew access token if needed - WPB-10448
  WireAPI/Package.swift
  WireAPI/Sources/WireAPI/APIs/PushChannelAPI/PushChannelAPI.swift
  WireAPI/Sources/WireAPI/APIs/PushChannelAPI/PushChannelAPIImpl.swift
  WireAPI/Sources/WireAPI/Authentication/AuthenticationManager.swift
  WireAPI/Sources/WireAPI/Authentication/AuthenticationStorage.swift
  WireAPI/Sources/WireAPI/Authentication/CookieStorage.swift
  WireAPI/Sources/WireAPI/Authentication/HTTPCodec.swift
  WireAPI/Sources/WireAPI/Authentication/HTTPCodecError.swift
  WireAPI/Sources/WireAPI/Components/AuthenticationStorage/AuthenticationStorage.swift
  WireAPI/Sources/WireAPI/HTTP Client/HTTPStatusCode.swift
  WireAPI/Sources/WireAPI/Models/Authorization/AccessToken.swift
  WireAPI/Sources/WireAPI/Network/APIService/APIService.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/PushChannelService.swift
  WireAPI/Sources/WireAPI/Network/URLRequestBuilder/URLRequestBuilder.swift
  WireAPI/Tests/WireAPITests/APIs/ConversationsAPI/ConversationsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/FeatureConfigsAPI/FeatureConfigsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/SelfUserAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/TeamsAPI/TeamsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/UpdateEventsAPI/UpdateEventsAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/UserPropertiesAPI/UserPropertiesAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/UsersAPI/UsersAPITests.swift
  WireAPI/Tests/WireAPITests/Authentication/AuthenticationManagerTests.swift
  WireAPI/Tests/WireAPITests/Authentication/CookieStorageTests.swift
  WireAPI/Tests/WireAPITests/Authentication/Resources/ExpiringAccessTokenResponse.json
  WireAPI/Tests/WireAPITests/Authentication/Resources/PostAccessSuccessResponse200.json
  WireAPI/Tests/WireAPITests/Authentication/__Snapshots__/AuthenticationManagerTests/testGetValidAccessToken_AwaitTokenRefresh.1.txt
  WireAPI/Tests/WireAPITests/Authentication/__Snapshots__/AuthenticationManagerTests/testGetValidAccessToken_CacheHitButItIsExpiring.1.txt
  WireAPI/Tests/WireAPITests/Authentication/__Snapshots__/AuthenticationManagerTests/testGetValidAccessToken_CacheIsEmpty.1.txt
  WireAPI/Tests/WireAPITests/Mocks/URLRequest+MockResponse.swift
  WireAPI/Tests/WireAPITests/Network/APIService/APIServiceTests.swift
  WireAPI/Tests/WireAPITests/Network/NetworkService/NetworkServiceTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/TeamRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
  WireFoundation/Sources/WireFoundation/Crypto/AES256Crypto.swift
  WireFoundation/Sources/WireFoundation/SDKAbstractions/Keychain.swift
  WireFoundation/Sources/WireFoundation/SDKAbstractions/KeychainProtocol.swift
  WireFoundation/Sources/WireFoundationSupport/Sourcery/AutoMockable.manual.swift
  WireFoundation/Sources/WireTesting/SDKExtensions/XCTest/XCTestCase+Assertions.swift
  WireFoundation/Tests/WireFoundationTests/Crypto/AES256CryptoTests.swift
Labels: echoes: technical-roadmap

#2181 chore: cleanup redundant swift packages - WPB-10368
  WireFoundation/Package.swift
  WireFoundation/Sources/WireSystemSupport/Sourcery/AutoMockable.stencil
  WireFoundation/Sources/WireSystemSupport/Sourcery/sourcery.yml
  WireFoundation/Sources/WireSystemSupport/WireSystem.swift
  WireFoundation/Sources/WireUtilities/Documentation.docc/Documentation.md
  WireFoundation/Sources/WireUtilities/Placeholder.swift
  WireFoundation/Tests/WireUtilitiesTests/PlaceholderTests.swift
  wire-ios-system/Source/Cache.swift
  wire-ios-system/Source/CircularArray.swift
  wire-ios-system/Source/DateProviding/CurrentDateProviding.swift
  wire-ios-system/Source/DateProviding/SystemDateProvider.swift
  wire-ios-system/Source/DispatchQueue+ZMSDispatchGroup.swift
  wire-ios-system/Source/ExpiringActivity.swift
  wire-ios-system/Source/Extensions/Foundation/Error+SafeForLoggingStringConvertible.swift
  wire-ios-system/Source/Extensions/Foundation/NSAttributedStringExtensions.swift
  wire-ios-system/Source/Extensions/UIKit/UIModalPresentationStyle+CustomDebugStringConvertible.swift
  wire-ios-system/Source/GroupQueue.swift
  wire-ios-system/Source/Logging/AggregatedLogger.swift
  wire-ios-system/Source/Logging/CocoaLumberjackLogger.swift
  wire-ios-system/Source/Logging/Flow.swift
  wire-ios-system/Source/Logging/LogAttributes.swift
  wire-ios-system/Source/Logging/LogConvertible.swift
  wire-ios-system/Source/Logging/LoggerProtocol.swift
  wire-ios-system/Source/Logging/SystemLogger.swift
  wire-ios-system/Source/Logging/WireLogger+Instances.swift
  wire-ios-system/Source/Logging/WireLogger.swift
  wire-ios-system/Source/Logging/WireLoggerObjc.swift
  wire-ios-system/Source/NavigationControllerDelegate/SupportedOrientationsDelegatingNavigationControllerDelegate.swift
  wire-ios-system/Source/PopoverPresentationControllerConfiguration.swift
  wire-ios-system/Source/SafeForLoggingStringConvertible.swift
  wire-ios-system/Source/SanitizedString.swift
  wire-ios-system/Source/TimePoint.swift
  wire-ios-system/Source/UserDefaults+Temporary.swift
  wire-ios-system/Source/WireSystem.docc/WireSystem.md
  wire-ios-system/Source/ZMAssertionDumpFile.swift
  wire-ios-system/Source/ZMLogLevel.swift
  wire-ios-system/Source/ZMSAsserts.swift
  wire-ios-system/Source/ZMSDispatchGroup.swift
  wire-ios-system/Source/ZMSLog+Levels.swift
  wire-ios-system/Source/ZMSLog+Recording.swift
  wire-ios-system/Source/ZMSLog.swift
  wire-ios-system/Support/Sourcery/config.yml
  wire-ios-system/Tests/CacheTests.swift
  wire-ios-system/Tests/CircularArrayTests.swift
  wire-ios-system/Tests/DispatchGroupTests.swift
  wire-ios-system/Tests/DispatchQueueHelperTests.swift
  wire-ios-system/Tests/ExpiringActivityTests.swift
  wire-ios-system/Tests/NavigationControllerDelegate/SupportedOrientationsDelegatingNavigationControllerDelegateTests.swift
  wire-ios-system/Tests/PopoverPresentationControllerConfigurationTests.swift
  wire-ios-system/Tests/SanitizedStringTests.swift
  wire-ios-system/Tests/TimePointTests.swift
  wire-ios-system/Tests/ZMAssertionDumpFileTests.swift
  wire-ios-system/Tests/ZMDefinesTest.m
  wire-ios-system/Tests/ZMLogTests.swift
  wire-ios-system/WireSystem.docc/WireSystem.md
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap

#2185 fix: background color backup and settings back button - WPB-14401
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/Backup/BackupViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsTableViewController.swift
Labels: echoes: product-roadmap/bug

#2179 fix: showing/hiding empty conversation list placeholder - WPB-14386
  wire-ios/Wire-iOS Tests/ConversationList/Container/MockConversationListContainer.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel+ConversationListContentDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ConversationListContentController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentDelegate.swift
Labels: echoes: product-roadmap

#2189 fix: network status view background color - WPB-14466
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewControllerSnapshotTests/testOfflineState.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewControllerSnapshotTests/testOnlineState.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/NetworkStatusViewControllerSnapshotTests/testOnlineSynchronizing.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/Components/NetworkStatus/NetworkStatusView.swift
Labels: echoes: product-roadmap

#2100 fix: Image selector anchor - WPB-11605
  wire-ios/Wire-iOS/Sources/Managers/Image/ImagePickerManager.swift
  wire-ios/Wire-iOS/Sources/Managers/Image/ProfileImagePickerManager.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/Sections/ParticipantsSectionController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsAppearanceCellDescriptor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Account.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsExternalScreenCellDescriptor.swift
Labels: echoes: technical-roadmap/technical-debt, echoes: product-roadmap, echoes: unplanned

#2191 fix: status bar appearance on iPad - WPB-14474
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: product-roadmap

#1860 fix: key package query time - WPB-11882
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
Labels: echoes: unplanned

#2112 feat: hide interface to search for bots in teams with MLS as default protocol - WPB-10779
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController.swift
Labels: DO NOT MERGE, echoes/initiative: federation-wire-cloud

#2188 fix: Applied filter view height - WPB-14421
  wire-ios/Wire-iOS Tests/ConversationList/Container/MockConversationListContainer.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByFavourites.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByGroups.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationListViewControllerSnapshotTests/testForShowingConversationsFilteredByOneOnOne.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
Labels: echoes: product-roadmap

#2197 fix: Move to folder picker tappable area - WPB-14469
  WireUI/Sources/WireMoveToFolderUI/Views/FolderPicker/FolderRow.swift
Labels: echoes: product-roadmap, echoes: technical-roadmap, echoes: product-roadmap/bug

#2180 feat: Change a key for the dependency cache - WPB-14445
  .github/workflows/_reusable_run_tests.yml
Labels: echoes: technical-roadmap/throughput

#2199 chore: delete dead AuthenticationStorage - WPB-10448
  WireAPI/Sources/WireAPI/Assembly.swift
  WireAPI/Sources/WireAPI/Authentication/AuthenticationStorage.swift
  WireAPI/Sources/WireAPI/Network/APIService/APIService.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/PushChannelService.swift
  WireAPI/Sources/WireAPI/Network/PushChannel/PushChannelServiceError.swift
  WireFoundation/Sources/WireFoundation/SDKAbstractions/Keychain.swift
Labels: echoes: technical-roadmap

#2207 fix: Crash unwrapping `MainCoordinator.splitViewController` - WPB-14510
  wire-ios/Tests/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/SidebarViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewControllerBuilderProtocol.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/ProfileViewController.swift
Labels: echoes: product-roadmap

#2175 refactor: process conversation rename event - WPB-10177
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/Conversation/ConversationMemberLeaveEventDecoder.swift
  WireAPI/Sources/WireAPI/Models/Conversation/ConversationMemberLeaveReason.swift
  WireDomain/Project/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationReceiptModeUpdateEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationRenameEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationModelMappings.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationRepository.swift
  WireDomain/Sources/WireDomain/Repositories/Message/MessageLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Message/Models/MessageType.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserLocalStore.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationReceiptModeUpdateEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationRenameEventProcessorTests.swift
  WireDomain/Tests/WireDomainTests/LocalStores/MessageLocalStoreTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/ConversationRepositoryTests.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+Timestamps.swift
  wire-ios/Wire-iOS Tests/ConversationCreationControllerSnapshotTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/ConversationCreationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Services/ServiceDetailViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/StartUI/StartUI/StartUIViewController.swift
Labels: echoes: technical-roadmap/technical-debt

#2214 chore: delete redundant LICENSE and README files - WPB-14567
  wire-ios-canvas/LICENSE
  wire-ios-canvas/README.md
  wire-ios-cryptobox/LICENSE
  wire-ios-cryptobox/README.md
  wire-ios-cryptobox/WireCryptobox.xcodeproj/project.pbxproj
  wire-ios-data-model/LICENSE
  wire-ios-data-model/README.md
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-images/LICENSE
  wire-ios-images/README.md
  wire-ios-images/WireImages.docc/WireImages.md
  wire-ios-images/WireImages.xcodeproj/project.pbxproj
  wire-ios-link-preview/LICENSE
  wire-ios-link-preview/README.md
  wire-ios-link-preview/WireLinkPreview.xcodeproj/project.pbxproj
  wire-ios-mocktransport/LICENSE
  wire-ios-mocktransport/README.md
  wire-ios-mocktransport/WireMockTransport.docc/WireMockTransport.md
  wire-ios-notification-engine/LICENSE
  wire-ios-notification-engine/README.md
  wire-ios-notification-engine/WireNotificationEngine.xcodeproj/project.pbxproj
  wire-ios-protos/LICENSE
  wire-ios-protos/README.md
  wire-ios-protos/WireProtos.xcodeproj/project.pbxproj
  wire-ios-request-strategy/LICENSE
  wire-ios-request-strategy/README.md
  wire-ios-share-engine/LICENSE
  wire-ios-share-engine/README.md
  wire-ios-share-engine/WireShareEngine.xcodeproj/project.pbxproj
  wire-ios-sync-engine/LICENSE
  wire-ios-sync-engine/README.md
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios-system/README.md
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
  wire-ios-testing/LICENSE
  wire-ios-testing/README.md
  wire-ios-testing/WireTesting.xcodeproj/project.pbxproj
  wire-ios-transport/LICENSE
  wire-ios-transport/README.md
  wire-ios-transport/WireTransport.xcodeproj/project.pbxproj
  wire-ios-utilities/LICENSE
  wire-ios-utilities/README.md
  wire-ios-utilities/WireUtilities.xcodeproj/project.pbxproj
  wire-ios-ziphy/LICENSE
  wire-ios-ziphy/README.md
  wire-ios-ziphy/Ziphy.docc/Ziphy.md
  wire-ios/LICENSE
  wire-ios/README.md
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap/technical-debt

#2213 fix: back button style - WPB-14478
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/GroupDetailsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsTableViewController.swift
Labels: echoes: product-roadmap

#2187 feat: QRCode reader for deep links - WPB-14547
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeepLinks/DeepLinksView.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeepLinks/DeepLinksViewModel.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DeepLinks/QRCodeScannerViewController.swift
Labels: echoes: product-roadmap

#2211 feat: Add scroll view to the passcode setup view - WPB-11836
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitState.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitStateInDarkTheme.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitStateInDarkTheme_ifForcedApplock.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForInitState_ifForcedApplock.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/PasscodeSetupViewControllerTests/testForPasscodePassed.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/CustomAppLock/Setup/PasscodeSetupViewController.swift
Labels: release, echoes: product-roadmap

#2205 fix: remove debug logging of credentials - WPB-14251
  .github/pull_request_template.md
  wire-ios-data-model/Source/Notifications/ConversationListObserverCenter.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/CallingRequestStrategy.swift
Labels: echoes: technical-roadmap

#2223 fix: crash when registering with a registered email - WPB-14566
  wire-ios-sync-engine/Source/Synchronization/Strategies/RegistationCredentialVerificationStrategy.swift
Labels: echoes: unplanned

#2204 fix: make WireLogger concurrency safe - WPB-11890
  wire-ios-system/Source/ExpiringActivity.swift
  wire-ios-system/Source/Logging/Flow.swift
  wire-ios-system/Source/Logging/LogAttributes.swift
  wire-ios-system/Source/Logging/LoggerProtocol.swift
  wire-ios-system/Source/Logging/SystemLogger.swift
  wire-ios-system/Source/Logging/WireLogger.swift
  wire-ios-system/Source/Logging/WireLoggerObjc.swift
  wire-ios-system/Source/ZMSLog.swift
  wire-ios-system/Tests/ZMLogTests.swift
  wire-ios/Wire Notification Service Extension/NotificationService.swift
  wire-ios/Wire-iOS Share Extension/ShareExtensionViewController.swift
  wire-ios/Wire-iOS Tests/WireAnalytics_DatadogTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/WireCommonComponents/Analytics/Datadog/WireAnalytics+Datadog.swift
  wire-ios/WireCommonComponents/Analytics/WireAnalytics.swift
  wire-ios/WireCommonComponents/Logging/CocoaLumberjackLogger.swift
Labels: echoes: technical-roadmap/technical-debt, echoes: technical-roadmap/throughput, echoes: product-roadmap, echoes: technical-roadmap/security, echoes: technical-roadmap, echoes: product-roadmap/bug, echoes: unplanned/quick-win

#2226 fix: prevent credentials from being logged - WPB-14251
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/RegistationCredentialVerificationStrategy.swift
  wire-ios-system/Source/Logging/CocoaLumberjackLogger.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/AuthenticationEventResponderChain.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Input/AuthenticationLoginCredentialsInputHandler.swift
  wire-ios/Wire-iOS/Sources/UserInterface/CustomAppLock/Setup/PasscodeSetupViewController.swift
Labels: release, echoes: technical-roadmap

#2225 feat: Remove folder conversation filter when folder deleted - WPB-13905
  WireUI/Sources/WireMainNavigationUI/Coordinator/AnyMainCoordinator.swift
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator.swift
  WireUI/Sources/WireMainNavigationUI/Protocols/Coordinator/MainCoordinatorProtocol.swift
  WireUI/Tests/WireMainNavigationUITests/Coordinator/AnyMainCoordinatorTests.swift
  WireUI/Tests/WireMainNavigationUITests/Mocks/MockMainCoordinator.swift
  wire-ios-data-model/Source/ConversationList/ConversationDirectory.swift
  wire-ios-data-model/Source/ConversationList/ZMConversationListDirectory.h
  wire-ios-data-model/Source/ConversationList/ZMConversationListDirectory.m
  wire-ios/Tests/Mocks/MockConverationDirectory.swift
  wire-ios/Wire-iOS Tests/ConversationList/ConversationListViewModel/ConversationListViewModelTests.swift
  wire-ios/Wire-iOS Tests/UserInterface/MainController/ConversationFilterSelectorTests.swift
  wire-ios/Wire-iOS Tests/UserInterface/MainCoordinator/MockMainCoordinator.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ConversationListContentController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ViewModel/ConversationListViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ViewModel/ConversationListViewModelDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/FolderPickerViewControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Folders/Mappers/WireFolderDirectoryMapper.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ConversationFilterSelector.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: release, echoes: product-roadmap

#2229 fix: Crash when viewing conversation details with no admins - WPB-14572
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/Sections/ParticipantsSectionController.swift
Labels: echoes: product-roadmap
