Repository wireapp/wire-ios, pull requests merged in 2025-08, with the labels that each got.

#3435 chore: personal-account-lifecycle test - WPB-19192
  WireNetwork/Sources/WireNetwork/APIs/SelfUserAPI/SelfUserAPI.swift
  wire-ios/WireUITests/Helper/NetworkStack.swift
  wire-ios/WireUITests/Helper/UserHelper.swift
  wire-ios/WireUITests/Pages/AccountSettingsPage.swift
  wire-ios/WireUITests/Pages/ActiveConversationPage .swift
  wire-ios/WireUITests/Pages/ConnectionRequestsPage.swift
  wire-ios/WireUITests/Pages/ConversationsPage.swift
  wire-ios/WireUITests/Pages/NewConversationPage.swift
  wire-ios/WireUITests/Pages/UserAccountPage.swift
  wire-ios/WireUITests/Pages/UserDetailsPage.swift
  wire-ios/WireUITests/PersonalUserTests.swift
  wire-ios/WireUITests/TeamManageTests.swift
Labels: QA

#3446 fix: for failing flaky tests + increased timeout to load Page - WPB-19174
  wire-ios/WireUITests/Pages/FirstTimePage.swift
  wire-ios/WireUITests/Pages/LoginPage.swift
  wire-ios/WireUITests/Pages/PageModel.swift
  wire-ios/WireUITests/TeamManageTests.swift
  wire-ios/WireUITests/WireAuthenticationTests.swift
Labels: QA

#3452 fix: further long sync mitigations - WPB-19298
  wire-ios-data-model/Source/MLS/MLSClientManager.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-sync-engine/Source/Use cases/ResolveOneOnOneConversationsUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Tests/Source/E2EE/UserClientEventConsumerTests.swift
Labels: release

#3467 chore: Remove and Add Participants from Group - WPB-19562
  WireMessaging/Sources/WireMessagingUI/Conversation/ConversationTitleView/ConversationTitleView.swift
  WireNetwork/Sources/WireNetwork/APIs/AuthenticationAPI/AuthenticationAPI.swift
  WireNetwork/Sources/WireNetwork/APIs/AuthenticationAPI/AuthenticationAPIV0.swift
  WireNetwork/Sources/WireNetwork/APIs/AuthenticationAPI/Responses/RegisterUserResponseV0.swift
  WireNetwork/Sources/WireNetwork/Models/Authorization/TeamID.swift
  WireNetwork/Sources/WireNetwork/Models/SelfUser/RegisterUserResponse.swift
  wire-ios/WireUITests/ApiClients/BackendClient.swift
  wire-ios/WireUITests/Helper/UserHelper.swift
  wire-ios/WireUITests/Helper/WireUITestCase.swift
  wire-ios/WireUITests/Pages/ActiveConversationPage .swift
  wire-ios/WireUITests/Pages/ConnectionRequestsPage.swift
  wire-ios/WireUITests/Pages/ConversationDetailsPage.swift
  wire-ios/WireUITests/Pages/ConversationsPage.swift
  wire-ios/WireUITests/Pages/GroupConversationPage.swift
  wire-ios/WireUITests/Pages/SelectParticipantsPage.swift
  wire-ios/WireUITests/Pages/UserDetailsPage.swift
  wire-ios/WireUITests/Pages/VerificationCodePage.swift
  wire-ios/WireUITests/Pages/WelcomePage.swift
  wire-ios/WireUITests/TeamManageTests.swift
Labels: QA

#3499 fix: disappearing group when resetting it - WPB-19631
  WireDomain/Sources/WireDomain/Helpers/InitiateResetMLSConversationUseCase.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/LocalStore/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/Protocols/ConversationLocalStoreProtocol.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Helpers/InitiateResetMLSConversationUseCaseTests.swift
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Source/MLS/MLSServiceInterface.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
Labels: CoreMessenger

#3518 fix: Added chatBubbleMinimumLeading and chatBubbleMinimumTrailing - WPB-19847
  wire-ios/Wire-iOS/Sources/Helpers/UITraitEnvironment+LayoutMargins.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/ChatBubbleLayoutConfig.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/ConversationMessageCellTableViewAdapter.swift
Labels: CoreMessenger
