Repository wireapp/wire-ios, pull requests merged in 2025-05, with the labels that each got.

#2968 fix: app sends large amount of last read messages - WPB-17439
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SelfConversation.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests+SelfConversation.swift
  wire-ios-request-strategy/Sources/Request Strategies/Client Message/ClientMessageRequestStrategy.swift
Labels: cherry-pick

#2997 fix: channel deletion error pop up - WPB-17590
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
Labels: release

#3000 chore: fix failing test on develop - WPB-17624
  wire-ios-transport/Tests/Source/URLSession/ServerCertificateTrustTests.swift
Labels: cherry-pick

#2991 fix: channel icon issue - WPB-17589
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/Conversation/ConversationCreateEventDecoder.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationCreateEventProcessor.swift
Labels: release

#2996 fix: max participants 2000 for channel and 500 for group - WPB-17344
  wire-ios/Wire-iOS Tests/AddParticipantsViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ConversationDetail/GroupDetailsViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationCreationControllerSnapshotTests/testTeamGroupOptions.DarkTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationCreationControllerSnapshotTests/testTeamGroupOptions.LightTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationCreationControllerSnapshotTests/testTeamGroupOptions_withoutServices.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testChannel.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForMlsConversation_withNotVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForMlsConversation_withVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInNonTeamConversation.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInNonTeamConversation_Partner.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation_Admins.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation_Partner.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForProteusConversation_withVerifiedStatus.1.png
  wire-ios/Wire-iOS/Sources/Helpers/syncengine/Conversation+Participants.swift
  wire-ios/Wire-iOS/Sources/UserInterface/AddContacts/AddParticipantsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/ConversationCreationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/ConversationCreationValues.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/Sections/ConversationCreateNameSectionController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Create/WireConversationChannelCreationFormViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/Sections/RenameGroupSectionController.swift
Labels: release

#2977 fix: logout when access token request fails - WPB-12035
  WireAPI/Sources/WireAPI/Assembly.swift
  WireAPI/Sources/WireAPI/Authentication/AuthenticationManager.swift
  WireAPI/Sources/WireAPI/Authentication/CookieStorage.swift
  WireAPI/Tests/WireAPITests/Authentication/AuthenticationManagerTests.swift
  WireDomain/Sources/WireDomain/Components/ClientSessionComponent.swift
  WireDomain/Sources/WireDomain/Components/UserSessionComponent.swift
  WireDomain/Sources/WireDomain/Notifications/Components/PullEventsStep.swift
  wire-ios-share-engine/Sources/SharingSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Wire-iOS/Sources/Developer/DeveloperTools/DebugActions/DeveloperDebugActionsViewModel.swift
Labels: release

#3030 feat: throw CoreCryptoError.Mls error - WPB-17469
  wire-ios-data-model/Source/MLS/MLSActionExecutor.swift
Labels: Fix PR Title 🤦‍♂️

#3047 fix: Try fix text link color - WPB-17726
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Content/Text/ConversationCollapsedMessageCell.swift
Labels: cherry-pick
