Repository wireapp/wire-ios, pull requests merged in 2025-07, with the labels that each got.

#3279 feat: Replace compositions with separate string entries - WPB-18448
  wire-ios/Wire-iOS Tests/ConversationViewController+GuestBarTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Localization/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController+GuestBar.swift
Labels: release

#3324 fix: test personal user registration with new registration flow - WPB-18650
  WireAuthentication/Sources/WireAuthenticationUI/Views/Registration/VerificationEmailCode/VerificationEmailCodeView.swift
  wire-ios/WireUITests/Pages/CreatePersonalAccountFormPage.swift
  wire-ios/WireUITests/Pages/LoginPage.swift
  wire-ios/WireUITests/Pages/SetNamePage.swift
  wire-ios/WireUITests/Pages/SetPasswordPage.swift
  wire-ios/WireUITests/Pages/VerificationCodePage.swift
  wire-ios/WireUITests/PersonalUserTests.swift
Labels: QA

#3332 chore: cc changes - WPB-18434
  WireDomain/Sources/WireDomain/AppVersionMigration/AppVersionMigrationService.swift
  WireLogging/Sources/WireLogging/LogFilesProviding.swift
  wire-ios-data-model/Source/Core Crypto/CoreCryptoKeyProvider.swift
  wire-ios-sync-engine/Source/SessionManager/SessionFactories.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/AppVersionMigrations/AppVersionMigration_4_1_1.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSessionBuilder.swift
  wire-ios-sync-engine/Support/Sources/MockLogFilesProviding.swift
  wire-ios-sync-engine/Tests/Source/SessionManager/APIMigrationManagerTests.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTestsBase.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTests_NetworkState.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Tests/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS Tests/Settings/Debug Report/LogFilesProviderTests.swift
  wire-ios/Wire-iOS Tests/Settings/Debug Report/SettingsDebugReportViewModelTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/Debug Report/LogFilesProvider.swift
Labels: cherry-pick, release

#3338 fix: the initial drawing thickness - WPB-18746
  wire-ios-canvas/Sources/Canvas.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/CanvasViewControllerTests/testForSendButtonEnabled.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SketchColorPickerControllerSnapshotTests/testForAllItemsAreVisible.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SketchColorPickerControllerSnapshotTests/testForColorButtonBumpedThreeTimes.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/SketchColorPickerControllerSnapshotTests/testForInitState.1.png
  wire-ios/Wire-iOS/Sources/UserInterface/Sketchpad/CanvasViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Sketchpad/ColorKnobView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Sketchpad/SketchColorCollectionViewCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Sketchpad/SketchColorPickerController.swift
Labels: release

#3249 chore: migrate personal user to team + user setup to join team - WPB-17913
  WireNetwork/Sources/WireNetwork/APIs/SelfUserAPI/SelfUserAPI.swift
  WireNetwork/Sources/WireNetwork/APIs/SelfUserAPI/SelfUserAPIV0.swift
  WireNetwork/Sources/WireNetwork/HTTP Client/HTTPStatusCode.swift
  wire-ios/WireCommonComponents/AutomationHelper.swift
  wire-ios/WireUITests/ApiClients/BackendClient.swift
  wire-ios/WireUITests/ApiClients/InbucketClient.swift
  wire-ios/WireUITests/Helper/UserGenerator.swift
  wire-ios/WireUITests/Helper/UserInfo.swift
  wire-ios/WireUITests/Helper/UserManager.swift
  wire-ios/WireUITests/Pages/AccountSettingsPage.swift
  wire-ios/WireUITests/Pages/ConversationsPage.swift
  wire-ios/WireUITests/Pages/FirstTimePage.swift
  wire-ios/WireUITests/Pages/TeamSetupStepsPage.swift
  wire-ios/WireUITests/Pages/UserAccountPage.swift
  wire-ios/WireUITests/PersonalUserTests.swift
  wire-ios/WireUITests/TeamManageTests.swift
Labels: QA

#3346 chore: Update localization - WPB-15278
  WireMessaging/Sources/WireMessagingUI/Resources/Localization/de.lproj/Localizable.strings
Labels: cherry-pick

#3331 feat: Handle mls-reset event - WPB-18664
  WireDomain/Sources/WireDomain/Components/ClientSessionComponent.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationMLSResetEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/Protocols/ConversationMLSResetEventProcessorProtocol.swift
  WireDomain/Sources/WireDomain/Extensions/APIModels/ConversationEvent+Notifications.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/LocalStore/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/Protocols/ConversationLocalStoreProtocol.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Sources/WireUpdateEventCoding/Models/ConversationEvent/StorableConversationEvent.swift
  WireDomain/Sources/WireUpdateEventCoding/Models/ConversationEvent/StorableConversationMLSResetEvent.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationMLSResetEventProcessorTests.swift
  WireNetwork/Sources/WireNetwork/APIs/UpdateEventsAPI/Event decoding/Conversation/ConversationMLSResetEventDecoder.swift
  WireNetwork/Sources/WireNetwork/APIs/UpdateEventsAPI/Event decoding/UpdateEventDecodingProxy+Conversation.swift
  WireNetwork/Sources/WireNetwork/APIs/UpdateEventsAPI/UpdateEventType/ConversationEventType.swift
  WireNetwork/Sources/WireNetwork/Models/UpdateEvent/ConversationEvent/ConversationEvent.swift
  WireNetwork/Sources/WireNetwork/Models/UpdateEvent/ConversationEvent/ConversationMLSResetEvent.swift
  WireNetwork/Sources/WireNetwork/Models/UpdateEvent/UpdateEvent+Name.swift
Labels: release

#3396 feat: handle user delete event for 1:1 - WPB-18849
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SystemMessages.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation.m
  wire-ios-data-model/Source/Model/User/ZMUser.swift
  wire-ios-data-model/Source/Public/ZMMessage.h
  wire-ios/Wire-iOS Tests/ConversationCell/ConversationSystemMessageCellSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationSystemMessageCellSnapshotTests/test_userRemovedFromTeam.320-0.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationSystemMessageCellSnapshotTests/test_userRemovedFromTeam.375-0.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationSystemMessageCellSnapshotTests/test_userRemovedFromTeam.414-0.png
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Localization/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/Localization/de.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Components/ConversationSystemMessageCellDescription.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Components/UserRemovedFromTeamSystemMessageCellDescription.swift
Labels: release
