Repository wireapp/wire-ios, pull requests merged in 2025-01, with the labels that each got.

#2329 fix: Never ending syncing when MLS feature is enabled - WPB-15026
  wire-ios-data-model/Source/MLS/MLSClientManager.swift
  wire-ios-data-model/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-data-model/Tests/MLS/MLSClientManagerTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/FeatureConfigRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/FeatureConfigRequestStrategyTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/Feature configurations/Payload/FeatureConfigsPayloadProcessor.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/UserSession/ZMUserSessionTests.swift
Labels: release, echoes: unplanned

#2334 fix: read receipts setting not synchronized after login - WPB-11738
  wire-ios-request-strategy/Sources/Request Strategies/User/UserPropertyRequestStrategy.swift
  wire-ios-transport/Source/Requests/ZMTransportResponse.m
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/SettingsTableViewController.swift
Labels: echoes: unplanned

#2318 feat: mark apiVersion v7 as ready - WPB-15155
  wire-ios-sync-engine/Source/SessionManager/APIVersionResolver.swift
Labels: release

#2331 feat: inject self profile views monitor - WPB-15038
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerViewModelSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ConversationList/Container/ConversationListViewControllerViewModelTests.swift
  wire-ios/Wire-iOS Tests/ConversationList/Container/MockSelfProfileViewsMonitorImplementation.swift
  wire-ios/Wire-iOS Tests/ConversationViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/ZClientViewControllerTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ViewModel/ConversationListViewControllerViewModel.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController.swift
Labels: echoes: technical-roadmap/throughput, echoes: unplanned, echoes: technical-roadmap, echoes/initiative: personal-users-to-team-users..., echoes: unplanned/support, echoes: product-roadmap/bug

#2314 feat: Add sha256 in CI for C builds - WPB-11313
  .github/workflows/_reusable_app_release.yml
  fastlane/Fastfile
Labels: echoes: technical-roadmap/throughput

#2349 fix: Call notifications from self user - WPB-14925
  wire-ios-notification-engine/Sources/NotificationSession.swift
  wire-ios-request-strategy/Sources/Calling/AVSIdentifier.swift
  wire-ios-request-strategy/Sources/Notifications/CallEventContent.swift
  wire-ios-request-strategy/Sources/Notifications/CallEventContentTests.swift
  wire-ios-request-strategy/Tests/Sources/Calling/AVSIdentifierTests.swift
  wire-ios-request-strategy/WireRequestStrategy.xcodeproj/project.pbxproj
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/WireCommonComponents/Analytics/WireAnalytics.swift
Labels: echoes: product-roadmap/bug

#2322 feat(CI): report failed job - WPB-15166
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/test_pr_changes.yml
  WireFoundation/Tests/TestPlans/AllTests.xctestplan
  fastlane/Fastfile
  wire-ios-mono.xcworkspace/contents.xcworkspacedata
Labels: echoes: technical-roadmap/throughput, echoes: unplanned, echoes: technical-roadmap

#2350 chore: disable ui.clicked-profile event - WPB-15245
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/SidebarViewControllerDelegate.swift
Labels: echoes/initiative: personal-users-to-team-users...

#2357 fix: report error - WPB-15166
  fastlane/Fastfile
  wire-ios-canvas/WireCanvas.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap/throughput

#2361 fix: no empty team - WPB-15273
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/TeamNameView.swift
Labels: echoes/initiative: personal-users-to-team-users...

#2251 feat: simulcast support - WPB-11481
  Cartfile.resolved
  WireUI/Sources/WireDesign/Buttons/LinkButtonStyle.swift
  WireUI/Tests/WireDesignTests/Buttons/LinkButtonStyleUITests.swift
  wire-avs.json
  wire-ios-sync-engine/Source/Calling/AVS/AVSVideoStreams.swift
  wire-ios-sync-engine/Source/Calling/VoiceChannel.swift
  wire-ios-sync-engine/Source/Calling/VoiceChannelV3.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Tests/Source/Calling/AVSVideoStreamsTest.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios/Tests/Mocks/MockVoiceChannel.swift
  wire-ios/Wire-iOS Tests/Calling/CallGridViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/Calling/CallViewControllerTests.swift
  wire-ios/Wire-iOS Tests/Calling/Mocks/MockCallGridViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallGridViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/Stream/Stream.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallInfoViewController/CallGridAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallViewController/CallViewController.swift
Labels: echoes: product-roadmap/feature

#2317 feat: call-end event analytics - WPB-12199
  WireAnalytics/Sources/WireAnalytics/Events/Predefined/AnalyticsEvent+Calling.swift
  WireAnalytics/Sources/WireAnalytics/Events/Predefined/AnalyticsEvent+Contributed.swift
  WireAnalytics/Sources/WireAnalytics/Events/Segmentation/AnalyticsEvent+Segmentation.swift
  WireAnalytics/Sources/WireAnalytics/Events/Segmentation/Predefined/Segmentation+Call.swift
  WireAnalytics/Sources/WireAnalytics/Events/Segmentation/Predefined/Segmentation+Conversation.swift
  WireAnalytics/Sources/WireAnalytics/Events/Segmentation/Predefined/Segmentation+Removed.swift
  WireAnalytics/Sources/WireAnalytics/Events/Segmentation/Predefined/Segmentation+Team.swift
  WireAnalytics/Sources/WireAnalytics/Events/Segmentation/Predefined/Segmentation+Unspecific.swift
  WireAnalytics/Sources/WireAnalytics/Service/AnalyticsService.swift
  WireAnalytics/Tests/WireAnalyticsTests/AnalyticsServiceTests.swift
  wire-ios-data-model/Source/Notifications/NotificationInContext.swift
  wire-ios-data-model/Tests/MLS/MLSClientManagerTests.swift
  wire-ios-data-model/Tests/Source/Model/ZMConnectionTests.m
  wire-ios-sync-engine/Source/Analytics/AnalyticsEventTrackerProvider.swift
  wire-ios-sync-engine/Source/Calling/CallEndedReason+initWithCallClosedReason.swift
  wire-ios-sync-engine/Source/Calling/CallStateObserver.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterNotifications/WireCallCenter+NotificationConstants.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterNotifications/WireCallCenter+didToggleVideoNotification.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3+Notifications.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3Factory.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/CallingRequestStrategy.swift
  wire-ios-sync-engine/Source/UnauthenticatedSession/ZMAuthenticationStatus.m
  wire-ios-sync-engine/Source/UnauthenticatedSession/ZMUserSessionRegistrationNotification.m
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+UserSession.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+WireCallStateObserver.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Calling/AVSBridgingTests.swift
  wire-ios-sync-engine/Tests/Source/Calling/CallKitManagerTests.swift
  wire-ios-sync-engine/Tests/Source/Calling/CallParticipantsSnapshotTests.swift
  wire-ios-sync-engine/Tests/Source/Calling/CallStateObserverTests.swift
  wire-ios-sync-engine/Tests/Source/Calling/CallSystemMessageGeneratorTests.swift
  wire-ios-sync-engine/Tests/Source/Calling/VoiceChannelV3Tests.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Mock.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/CallingRequestStrategyTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/ZMOperationLoopTests.m
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios-transport/Tests/Source/TransportSession/UnauthenticatedTransportSessionTests.swift
  wire-ios-transport/WireTransport.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS Tests/Calling/Analytics/CallEndedAnalyticsControllerTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/AuthenticatedRouter.swift
  wire-ios/Wire-iOS/Sources/Managers/ProximityMonitorManager.swift
  wire-ios/Wire-iOS/Sources/Managers/SoundEventListener.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/Analytics/CallEndedAnalyticsController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/BottomSheetContainerViewController/CallingBottomSheetViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallQualityController/CallQualityController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/FileTransfer/AudioMessageView.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/CameraKeyboard/CameraKeyboardViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/ConversationInputBarViewController+Audio.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Overlay/CallTopOverlayController.swift
Labels: echoes: product-roadmap/feature

#2333 fix: skip workflow actions for draft PRs - WPB-15214 x
  .github/workflows/_reusable_app_release_without_changelog.yml
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/build_pr.yml
  .github/workflows/changelog.yml
  .github/workflows/pr-author-assigner.yml
  .github/workflows/semantic_commit_lint.yml
  .github/workflows/swiftformat.yml
  .github/workflows/swiftlint.yml
  .github/workflows/test_pr_changes.yml
Labels: echoes: technical-roadmap/throughput

#2365 refactor: make clientID optional in AuthenticationManager - WPB-10801
  WireAPI/Sources/WireAPI/Authentication/AuthenticationManager.swift
Labels: echoes: technical-roadmap, echoes/initiative: ios-sync-refactoring

#2368 refactor: make selfClientID optional when pulling last update event - WPB-10801
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/UpdateEventsAPI.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/UpdateEventsAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/UpdateEventsAPIV5.swift
  WireDomain/Sources/WireDomain/Synchronization/PullLastUpdateEventIDSync.swift
Labels: echoes: technical-roadmap, echoes/initiative: ios-sync-refactoring

#2371 fix: restore checkout action in semantic commit lint - WPB-15214
  .github/workflows/semantic_commit_lint.yml
Labels: echoes: technical-roadmap/throughput

#2370 fix: skip workflow actions for draft PRs - WPB-15214
  .github/workflows/_reusable_app_release_without_changelog.yml
  .github/workflows/_reusable_run_tests.yml
  .github/workflows/build_pr.yml
  .github/workflows/changelog.yml
  .github/workflows/pr-author-assigner.yml
  .github/workflows/semantic_commit_lint.yml
  .github/workflows/swiftformat.yml
  .github/workflows/swiftlint.yml
  .github/workflows/test_pr_changes.yml
Labels: cherry-pick, echoes: technical-roadmap/throughput

#2375 fix: error message - WPB-15214
  .github/workflows/_reusable_run_tests.yml
Labels: echoes: technical-roadmap/throughput

#2369 fix: use client id from legal hold info payload - WPB-10801
  WireAPI/Sources/WireAPI/APIs/TeamsAPI/TeamsAPIV0.swift
  WireAPI/Sources/WireAPI/Models/Team/TeamMemberLegalholdInfo.swift
  WireAPI/Tests/WireAPITests/APIs/TeamsAPI/Resources/GetLegalHoldInfoSuccessResponseV0.json
  WireAPI/Tests/WireAPITests/APIs/TeamsAPI/TeamsAPITests.swift
  WireDomain/Sources/WireDomain/Repositories/Team/TeamRepository.swift
  WireDomain/Sources/WireDomain/Synchronization/PullSelfLegalholdInfoSync.swift
  WireDomain/Tests/WireDomainTests/Repositories/TeamRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Synchronization/PullSelfLegalholdInfoSyncTests.swift
Labels: echoes: technical-roadmap, echoes/initiative: ios-sync-refactoring

#2384 fix: calculate supported protocols - WPB-15297
  WireAPI/Sources/WireAPI/APIs/FeatureConfigsAPI/FeatureConfigsAPIBuilder.swift
  WireDomain/Sources/WireDomain/UseCases/PullSelfUserClients.swift
  WireDomain/Sources/WireDomain/UseCases/PullSelfUserClientsProtocol.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/UseCases/PullSelfUserClientsTests.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/Use cases/ResolveOneOnOneConversationsUseCase.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Use cases/ResolveOneOnOneConversationsUseCaseTests.swift
Labels: echoes: product-roadmap/bug

#2360 chore: Migrate away from deprecated interface orientation methods - WPB-11498
  wire-ios/Wire-iOS/Sources/UserInterface/Collections/CollectionsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Controllers/FullscreenImageViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Controllers/RotationAwareNavigationController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/KeyboardAvoidingViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/MessagePresenter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/ConversationViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Message Details/MessageDetailsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Helpers/UIViewController+Orientation.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Sketchpad/CanvasViewController.swift
Labels: echoes: technical-roadmap

#2382 fix: participants and screen sharing tracking in call end analytics - WPB-12199
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/Analytics/CallEndedAnalyticsController.swift
Labels: echoes: product-roadmap/feature

#2233 fix: crash calleventstatus - WPB-10449
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Source/Notifications/VoIPPushManager.swift
  wire-ios-sync-engine/Source/SessionManager/SessionManager+VoIPPushManagerDelegate.swift
  wire-ios-sync-engine/Source/Synchronization/ApplicationStatusDirectory.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/CallingRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/Synchronization/ZMOperationLoop+Private.h
  wire-ios-sync-engine/Source/Synchronization/ZMOperationLoop.h
  wire-ios-sync-engine/Source/Synchronization/ZMOperationLoop.m
  wire-ios-sync-engine/Source/Synchronization/ZMOperatonLoop+Background.swift
  wire-ios-sync-engine/Source/UserSession/CallEventStatus.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+Push.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/Strategies/CallingRequestStrategyTests.swift
  wire-ios-sync-engine/Tests/Source/Synchronization/ZMOperationLoopTests.h
  wire-ios-sync-engine/Tests/Source/Synchronization/ZMOperationLoopTests.m
  wire-ios-sync-engine/Tests/Source/UserSession/CallEventStatusTests.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios-transport/Source/Background/BackgroundActivityFactory.swift
Labels: echoes: technical-roadmap/technical-debt, echoes: technical-roadmap/throughput, echoes: product-roadmap, echoes: unplanned, echoes: technical-roadmap/security, echoes: technical-roadmap, echoes: product-roadmap/bug, echoes: unplanned/quick-win

#2389 fix: notifications stop working when switching backend - WPB-15127
  wire-ios/WireCommonComponents/BackendEnvironment+Shared.swift
Labels: echoes: unplanned

#2390 revert: simulcast support - WPB-15451
  Cartfile.resolved
  wire-avs.json
  wire-ios-sync-engine/Source/Calling/AVS/AVSVideoStreams.swift
  wire-ios-sync-engine/Source/Calling/VoiceChannel.swift
  wire-ios-sync-engine/Source/Calling/VoiceChannelV3.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Tests/Source/Calling/AVSVideoStreamsTest.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios/Tests/Mocks/MockVoiceChannel.swift
  wire-ios/Wire-iOS Tests/Calling/CallGridViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/Calling/CallViewControllerTests.swift
  wire-ios/Wire-iOS Tests/Calling/Mocks/MockCallGridViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallGridViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/Stream/Stream.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallInfoViewController/CallGridAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallViewController/CallViewController.swift
Labels: release, echoes: technical-roadmap

#2342 feat: create package, create background view, create & use LabeledTextField - WPB-15219
  WireUI/Package.swift
  WireUI/Sources/WireAuthenticationUI/Components/Logo.swift
  WireUI/Sources/WireAuthenticationUI/Resources/Images.xcassets/Contents.json
  WireUI/Sources/WireAuthenticationUI/Resources/Images.xcassets/background.imageset/Contents.json
  WireUI/Sources/WireAuthenticationUI/Resources/Images.xcassets/background.imageset/background.svg
  WireUI/Sources/WireAuthenticationUI/Resources/Images.xcassets/logo.imageset/Contents.json
  WireUI/Sources/WireAuthenticationUI/Resources/Images.xcassets/logo.imageset/logo.svg
  WireUI/Sources/WireAuthenticationUI/Views/BackgroundView.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/TeamNameView.swift
  WireUI/Sources/WireReusableUIComponents/LabeledTextField/LabeledTextField.swift
  WireUI/Tests/WireAuthenticationUITests/WireIndividualToTeamMigrationTests.swift
Labels: echoes/initiative: scale

#2393 chore: move use case into WireDomainPkg - WPB-10347
  WireDomain/Package.swift
  WireDomain/Project/TestPlans/AllTests.xctestplan
  WireDomain/Sources/Package/Documentation.docc/Documentation.md
  WireDomain/Sources/Package/Placeholder.swift
  WireDomain/Sources/PackageSupport/Sourcery/AutoMockable.stencil
  WireDomain/Sources/PackageSupport/Sourcery/sourcery.yml
  WireDomain/Sources/PackageSupport/WireDomainPackage.swift
  WireDomain/Sources/WireDomain/UseCases/IndividualToTeamMigrationUseCase.swift
  WireDomain/Sources/WireDomain/UseCases/Protocols/IndividualToTeamMigrationUseCaseProtocol.swift
  WireDomain/Sources/WireDomain/WireDomain.docc/WireDomain.md
  WireDomain/Sources/WireDomain/WireDomain.docc/conversations.md
  WireDomain/Sources/WireDomain/WireDomain.docc/federation.md
  WireDomain/Sources/WireDomain/WireDomain.docc/wire-domain-architecture.png
  WireDomain/Sources/WireDomainSupport/Sourcery/config.yml
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/PackageTests/PlaceholderTests.swift
  WireDomain/Tests/TestPlans/AllTests.xctestplan
  WireDomain/Tests/WireDomainTests/Event Decryption/MLSMessageDecryptorTests.swift
  WireDomain/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/WireDomain Project.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  WireDomain/WireDomain Project.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  WireDomain/WireDomain Project.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  WireDomain/WireDomain Project.xcodeproj/xcshareddata/xcschemes/WireDomain.xcscheme
  WireUI/Package.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/IndividualToTeamMigrationViewController.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/PreviewsSetup/_FeaturePreview.swift
  wire-ios-mono.xcworkspace/contents.xcworkspacedata
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+IndividualToTeamMigration.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
Labels: echoes/initiative: personal-users-to-team-users...

#2400 fix: appcenter upload on C builds - WPB-15509
  .github/workflows/_reusable_app_release.yml
Labels: Fix PR Title 🤦‍♂️, echoes: technical-roadmap

#2405 Remove usage of s3-proxy from the test automation
  wire-ios-automation/ios/Release_Tests.Jenkinsfile.groovy
  wire-ios-automation/ios/Tests.Jenkinsfile.groovy
  wire-ios-automation/ios/Trigger.Jenkinsfile.groovy
Labels: Fix PR Title 🤦‍♂️

#2407 fix: enable Countly for AppStore builds - WPB-15419
  .github/workflows/public_app_release.yml
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: echoes: product-roadmap/bug

#2394 fix: Connection request team bug - WPB-15275
  wire-ios-data-model/Source/ConversationList/ConversationDirectory.swift
  wire-ios-data-model/Source/EntityValidation/ConnectionValidator.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolver.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneResolverError.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneSource.swift
  wire-ios-data-model/Source/Model/Connection/ZMConnection+Actions.swift
  wire-ios-data-model/Support/Sources/ModelHelper.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneMigratorTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Payloads/Processing/ConnectionPayloadProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Connection/ConnectionRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/Connection/ConnectionRequestStrategyTests.swift
  wire-ios-request-strategy/Sources/Request Strategies/User/UserProfileRequestStrategy.swift
  wire-ios-request-strategy/Sources/Request Strategies/User/UserProfileRequestStrategyTests.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/TeamMembersDownloadRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/StrategyDirectory.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios/Tests/Mocks/MockConverationDirectory.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/ListContent/ConversationListContentController/ViewModel/ConversationListViewModel.swift
Labels: echoes: product-roadmap/bug

#2413 chore: move use case into WireDomainPkg - WPB-10347
  WireDomain/Package.swift
  WireDomain/Project/TestPlans/AllTests.xctestplan
  WireDomain/Sources/Package/Documentation.docc/Documentation.md
  WireDomain/Sources/Package/Placeholder.swift
  WireDomain/Sources/PackageSupport/Sourcery/AutoMockable.stencil
  WireDomain/Sources/PackageSupport/Sourcery/sourcery.yml
  WireDomain/Sources/PackageSupport/WireDomainPackage.swift
  WireDomain/Sources/WireDomain/UseCases/IndividualToTeamMigrationUseCase.swift
  WireDomain/Sources/WireDomain/UseCases/Protocols/IndividualToTeamMigrationUseCaseProtocol.swift
  WireDomain/Sources/WireDomain/WireDomain.docc/WireDomain.md
  WireDomain/Sources/WireDomain/WireDomain.docc/conversations.md
  WireDomain/Sources/WireDomain/WireDomain.docc/federation.md
  WireDomain/Sources/WireDomain/WireDomain.docc/wire-domain-architecture.png
  WireDomain/Sources/WireDomainSupport/Sourcery/config.yml
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/PackageTests/PlaceholderTests.swift
  WireDomain/Tests/TestPlans/AllTests.xctestplan
  WireDomain/Tests/WireDomainTests/Event Decryption/MLSMessageDecryptorTests.swift
  WireDomain/WireDomain Project.xcodeproj/project.pbxproj
  WireDomain/WireDomain Project.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  WireDomain/WireDomain Project.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  WireDomain/WireDomain Project.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  WireDomain/WireDomain Project.xcodeproj/xcshareddata/xcschemes/WireDomain.xcscheme
  WireUI/Package.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/IndividualToTeamMigrationViewController.swift
  WireUI/Sources/WireIndividualToTeamMigrationUI/Views/PreviewsSetup/_FeaturePreview.swift
  wire-ios-mono.xcworkspace/contents.xcworkspacedata
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+IndividualToTeamMigration.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/SelfProfileViewController.swift
Labels: cherry-pick, echoes/initiative: personal-users-to-team-users...

#2419 chore: Update nightly tests release branch from `3.115` to `3.116` - WPB-15011
  .github/workflows/test_develop.yml
Labels: echoes: technical-roadmap

#2408 fix: crash persistent store first - WPB-15476
  wire-ios-data-model/Source/ManagedObjectContext/NSManagedObjectContext+zmessaging.m
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessor.swift
  wire-ios/Wire-iOS/Sources/AppRootRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Company Login/CompanyLoginController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/SelfProfile/ProfileHeaderViewController.swift
Labels: echoes: unplanned

#2343 feat: create authentication identity input view - WPB-15221
  WireUI/Package.swift
  WireUI/Sources/WireAuthenticationUI/.swiftgen.yml
  WireUI/Sources/WireAuthenticationUI/Components/Logo.swift
  WireUI/Sources/WireAuthenticationUI/Resources/en.lproj/Localizable.strings
  WireUI/Sources/WireAuthenticationUI/Views/AuthenticationIdentityInputView.swift
  WireUI/Sources/WireDesign/Colors/ColorTheme.swift
  WireUI/Sources/WireReusableUIComponents/LabeledTextField/LabeledTextField.swift
  WireUI/Tests/TestPlans/AllTests.xctestplan
  WireUI/Tests/WireAuthenticationUITests/AuthenticationIdentityInputViewTests.swift
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testColorSchemeVariants.dark.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testColorSchemeVariants.light.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility1.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility2.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility3.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility4.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility5.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.large.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.medium.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.small.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.xLarge.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.xSmall.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.xxLarge.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.xxxLarge.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/SnapshotTestReferenceImageDirectory.swift
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testColorSchemeVariants.dark.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testColorSchemeVariants.light.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility1.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility2.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility3.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility4.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility5.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.large.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.medium.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.small.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.xLarge.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.xSmall.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.xxLarge.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.xxxLarge.png
Labels: echoes/initiative: scale

#2435 feat: Add accessibility support to the AuthenticationIdentityInputView - WPB-15221
  WireUI/Sources/WireAuthenticationUI/Resources/en.lproj/Localizable.strings
  WireUI/Sources/WireAuthenticationUI/Views/AuthenticationIdentityInputView.swift
  WireUI/Sources/WireReusableUIComponents/LabeledTextField/LabeledTextField.swift
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testColorSchemeVariants.dark.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testColorSchemeVariants.light.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility1.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility2.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility3.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility4.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.accessibility5.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.large.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.medium.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.small.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.xLarge.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.xSmall.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.xxLarge.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/AuthenticationIdentityInputViewTests/testDynamicTypeVariants.xxxLarge.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testColorSchemeVariants.dark.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testColorSchemeVariants.light.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility1.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility2.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility3.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility4.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.accessibility5.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.large.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.medium.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.small.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.xLarge.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.xSmall.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.xxLarge.png
  WireUI/Tests/WireIndividualToTeamMigrationUITests/Resources/ReferenceImages/TeamNameViewSnapshotTests/testDynamicTypeVariants.xxxLarge.png
Labels: echoes/initiative: scale

#2436 fix: crash create app router - WPB-15683
  wire-ios/Wire-iOS/Sources/AppDelegate.swift
Labels: echoes: technical-roadmap

#2438 fix: skip notification when away or busy - WPB-8946
  wire-ios-request-strategy/Sources/Notifications/Push Notifications/Notification Types/Content/ZMLocalNotification+Events.swift
Labels: echoes: unplanned

#2411 fix: mls system message - WPB-15129
  WireDomain/Sources/WireDomain/Synchronization/OneOnOneResolver.swift
  WireDomain/Tests/WireDomainTests/Synchronization/OneOnOneResolverTests.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneMigratorTests.swift
Labels: echoes: product-roadmap/bug

#2445 fix: rename system message - WPB-14824
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationEventProcessor.swift
  wire-ios-request-strategy/Sources/Request Strategies/Conversation/ConversationRequestStrategy.swift
Labels: echoes: product-roadmap/bug

#2442 fix: crash dismissPresentedViewController - WPB-15345
  WireUI/Sources/WireMainNavigationUI/Coordinator/MainCoordinator.swift
Labels: echoes: technical-roadmap

#2255 refactor: create WireAuthentication feature module - WPB-15768
  .swiftlint.yml
  WireAuthentication/WireAuthentication.xcodeproj/project.pbxproj
  WireAuthentication/WireAuthentication.xcodeproj/xcshareddata/xcschemes/WireAuthentication.xcscheme
  WireAuthentication/WireAuthentication.xcodeproj/xcshareddata/xcschemes/WireAuthenticationLogic.xcscheme
  WireAuthentication/WireAuthentication.xcodeproj/xcshareddata/xcschemes/WireAuthenticationLogicTests.xcscheme
  WireAuthentication/WireAuthentication.xcodeproj/xcshareddata/xcschemes/WireAuthenticationUI.xcscheme
  WireAuthentication/WireAuthentication.xcodeproj/xcshareddata/xcschemes/WireAuthenticationUITests.xcscheme
  WireAuthentication/WireAuthentication/Sources/Components/DetermineAuthMethodComponent.swift
  WireAuthentication/WireAuthentication/Sources/Components/LoginViaEmailComponentDependency.swift
  WireAuthentication/WireAuthentication/Sources/Components/RootComponent.swift
  WireAuthentication/WireAuthentication/Sources/Needle.generated.swift
  WireAuthentication/WireAuthentication/Sources/WireAuthenticationAssembly.swift
  WireAuthentication/WireAuthentication/WireAuthentication.docc/WireAuthentication.md
  WireAuthentication/WireAuthentication/WireAuthentication.h
  WireAuthentication/WireAuthenticationAPI/Sources/Use cases/DetermineAuthMethodUseCase.swift
  WireAuthentication/WireAuthenticationAPI/Sources/Use cases/LoginViaEmailUseCase.swift
  WireAuthentication/WireAuthenticationAPI/WireAuthenticationAPI.docc/WireAuthenticationAPI.md
  WireAuthentication/WireAuthenticationAPI/WireAuthenticationAPI.h
  WireAuthentication/WireAuthenticationLogic/Sources/DetermineAuthMethodUseCase.swift
  WireAuthentication/WireAuthenticationLogic/Sources/LoginViaEmailUseCase.swift
  WireAuthentication/WireAuthenticationLogic/WireAuthenticationLogic.docc/WireAuthenticationCore.md
  WireAuthentication/WireAuthenticationLogic/WireAuthenticationLogic.h
  WireAuthentication/WireAuthenticationLogicTests/WireAuthenticationLogicTests.swift
  WireAuthentication/WireAuthenticationUI/Sources/MockDependencies.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/DetermineAuthMethod/DetermineAuthMethodView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/DetermineAuthMethod/DetermineAuthMethodViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/LoginOrRegisterViaEmail/LoginOrRegisterViaEmailView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/LoginOrRegisterViaEmail/LoginOrRegisterViaEmailViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/LoginViaEmail/LoginViaEmailView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/LoginViaEmail/LoginViaEmailViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/LoginViaSSO/LoginViaSSOView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/LoginViaSSO/LoginViaSSOViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/NoHistory/NoHistoryView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/NoHistory/NoHistoryViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/VerifyLogin/VerifyLoginView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Login/VerifyLogin/VerifyLoginViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Registration/SetAccountName/SetAccountNameView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Registration/SetAccountName/SetAccountNameViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Registration/SetAccountPassword/SetAccountPasswordView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Registration/SetAccountPassword/SetAccountPasswordViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Registration/SetAccountUsername/SetAccountUsernameView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Registration/SetAccountUsername/SetAccountUsernameViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Root/RootView.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Root/RootViewModel.swift
  WireAuthentication/WireAuthenticationUI/Sources/Views/Root/Router.swift
  WireAuthentication/WireAuthenticationUI/WireAuthenticationUI.docc/WireAuthenticationUI.md
  WireAuthentication/WireAuthenticationUI/WireAuthenticationUI.h
  WireAuthentication/WireAuthenticationUITests/WireAuthenticationUITests.swift
  wire-ios-mono.xcworkspace/contents.xcworkspacedata
  wire-ios-mono.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: echoes/initiative: scale

#2453 chore: Set up localization in`WireAuthentication` - WPB-15782
  WireAuthentication/WireAuthentication.xcodeproj/project.pbxproj
  WireAuthentication/WireAuthenticationUI/Resources/ar.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/ar.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/da.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/da.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/de.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/de.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/en.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/en.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/es.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/es.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/et.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/et.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/fi.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/fi.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/fr.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/fr.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/it.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/it.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/ja.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/ja.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/lt.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/lt.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/nl.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/nl.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/pl.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/pl.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/pt-BR.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/pt-BR.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/ru.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/ru.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/sl.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/sl.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/tr.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/tr.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/uk.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/uk.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/zh-Hans.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/zh-Hans.lproj/Localizable.strings
  WireAuthentication/WireAuthenticationUI/Resources/zh-Hant.lproj/Accessibility.strings
  WireAuthentication/WireAuthenticationUI/Resources/zh-Hant.lproj/Localizable.strings
  crowdin.yml
Labels: echoes/initiative: scale

#2456 chore: bump app version to 3.118.0 - WPB-15441
  .github/workflows/test_develop.yml
  wire-ios/Wire-iOS/Resources/Configuration/Version.xcconfig
Labels: echoes: technical-roadmap

#2459 revert: fix mls system message - WPB-15129
  WireDomain/Sources/WireDomain/Synchronization/OneOnOneResolver.swift
  WireDomain/Tests/WireDomainTests/Synchronization/OneOnOneResolverTests.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneMigratorTests.swift
Labels: echoes: product-roadmap/bug
