Repository wireapp/wire-ios, pull requests merged in 2025-02, with the labels that each got.

#2457 fix: mls system message twice - WPB-15129
  WireDomain/Sources/WireDomain/Repositories/Conversations/LocalStore/ConversationLocalStore+MLS.swift
  WireDomain/Sources/WireDomain/Synchronization/OneOnOneResolver.swift
  wire-ios-data-model/Source/MLS/OneOnOne/OneOnOneMigrator.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+SystemMessages.swift
  wire-ios-data-model/Tests/OneOnOne/OneOnOneMigratorTests.swift
  wire-ios-data-model/Tests/Source/Model/Conversation/ZMConversationTests_SystemMessages.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
Labels: echoes: product-roadmap/bug

#2412 feat: Implement 2FA for new authentication flow - WPB-15226
  WireUI/Sources/WireAuthenticationUI/Resources/en.lproj/Localizable.strings
  WireUI/Sources/WireAuthenticationUI/Views/AuthenticationIdentityInputView.swift
  WireUI/Sources/WireAuthenticationUI/Views/Preview/VerificationCodeViewPreview.swift
  WireUI/Sources/WireAuthenticationUI/Views/VerificationCodeView.swift
  WireUI/Sources/WireViewsDebugUI/WireAuthenticationUIDebugView.swift
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testColorSchemeVariantsEmptyState.dark.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testColorSchemeVariantsEmptyState.light.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.accessibility1.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.accessibility2.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.accessibility3.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.accessibility4.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.accessibility5.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.large.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.medium.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.small.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.xLarge.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.xSmall.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.xxLarge.png
  WireUI/Tests/WireAuthenticationUITests/Resources/ReferenceImages/VerificationCodeViewTests/testDynamicTypeVariantsEmptyState.xxxLarge.png
  WireUI/Tests/WireAuthenticationUITests/VerificationCodeViewTests.swift
Labels: echoes/initiative: scale

#2461 fix: request loop - WPB-15570
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
Labels: echoes: product-roadmap/bug

#2454 fix: MLS group not visible and duplicated system messages - WPB-15681
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationCreateEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/LocalStore/ConversationLocalStore+Group.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/LocalStore/ConversationLocalStore.swift
  WireDomain/Tests/WireDomainTests/Event Processing/ConversationEventProcessor/ConversationCreateEventProcessorTests.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+Transport.swift
  wire-ios-request-strategy/Sources/Payloads/Processing/ConversationEventPayloadProcessor.swift
  wire-ios-request-strategy/Tests/Sources/Payloads/Processing/ConversationEventPayloadProcessorTests.swift
Labels: echoes: product-roadmap/bug

#2462 fix: request loop sending proteus message - WPB-15862
  wire-ios-request-strategy/Sources/Message Sending/MessageSender.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSenderTests.swift
Labels: echoes: unplanned

#2467 fix: sharing assets on MLS conversations fails - WPB-15797
  wire-ios-share-engine/Sources/SharingSession.swift
  wire-ios-share-engine/WireShareEngineTests/BaseSharingSessionTests.swift
Labels: echoes: product-roadmap/bug

#2423 chore: convert Wire Testing project to use folders - WPB-15572
  wire-ios-testing/Resources/Configurations/zmc-config/test-host-ios.xcconfig
  wire-ios-testing/Resources/WireTesting.plist
  wire-ios-testing/Scripts/config.txt
  wire-ios-testing/Source/Public/Mock Data Model/ZMMockEntity.h
  wire-ios-testing/Source/Public/Mock Data Model/ZMMockEntity.m
  wire-ios-testing/Source/Public/Mock Data Model/ZMMockEntity2.h
  wire-ios-testing/Source/Public/Mock Data Model/ZMMockEntity2.m
  wire-ios-testing/Tests/Resources/WireTesting-test-iOS.plist
  wire-ios-testing/WireTesting.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap

#2482 fix: various endpoints used in initial sync - WPB-10801
  WireAPI/Sources/WireAPI/APIs/ConnectionsAPI/ConnectionsAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/SelfUserAPI/SelfUserAPIV0.swift
  WireAPI/Sources/WireAPI/APIs/SelfUserAPI/SelfUserAPIV5.swift
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnectionsRequest.request-0-v0.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnectionsRequest.request-0-v1.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnectionsRequest.request-0-v2.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnectionsRequest.request-0-v3.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnectionsRequest.request-0-v4.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnectionsRequest.request-0-v5.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnectionsRequest.request-0-v6.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnectionsRequest.request-0-v7.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnections_MultiplePages_SuccessResponse_V0.request-0-v0.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnections_MultiplePages_SuccessResponse_V0.request-1-v0.txt
  WireAPI/Tests/WireAPITests/APIs/ConnectionsAPI/__Snapshots__/ConnectionsAPITests/testGetConnections_MultiplePages_SuccessResponse_V0.request-2-v0.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUserRequest.request-0-v0.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUserRequest.request-0-v1.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUserRequest.request-0-v2.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUserRequest.request-0-v3.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUserRequest.request-0-v4.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUserRequest.request-0-v5.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUserRequest.request-0-v6.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUserRequest.request-0-v7.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUser_SuccessResponse_200_V0_Then_VerifyRequests.request-0-v0.txt
  WireAPI/Tests/WireAPITests/APIs/SelfUserAPI/__Snapshots__/SelfUserAPITests/testGetSelfUser_SuccessResponse_200_V4_Then_VerifyRequests.request-0-v4.txt
Labels: echoes: technical-roadmap, echoes/initiative: ios-sync-refactoring

#2481 chore: add developer flag for new initial sync - WPB-10801
  wire-ios-utilities/Source/DeveloperFlag.swift
Labels: echoes/initiative: ios-sync-refactoring

#2487 refactor: return ids when pulling self user - WPB-10801
  WireDomain/Sources/WireDomain/Synchronization/Protocols/PullSelfUserSyncProtocol.swift
  WireDomain/Sources/WireDomain/Synchronization/PullSelfUserSync.swift
  WireDomain/Tests/WireDomainTests/Synchronization/PullSelfUserSyncTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2484 refactor: break cyclic dependencies - WPB-10801
  WireDomain/Sources/WireDomain/Repositories/Message/MessageLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Message/MessageRepository.swift
  WireDomain/Tests/WireDomainTests/LocalStores/MessageLocalStoreTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/MessageRepositoryTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2485 fix: unable to persist fetched users - WPB-10801
  WireDomain/Sources/WireDomain/Repositories/User/Models/NewUserInfo.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserModelMappings.swift
  WireDomain/Tests/WireDomainTests/LocalStores/UserLocalStoreTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2483 refactor: add sync to pull all feature configs - WPB-10801
  WireAPI/Sources/WireAPI/APIs/UpdateEventsAPI/Event decoding/UpdateEventDecodingProxy+FeatureConfig.swift
  WireDomain/Sources/WireDomain/Synchronization/Protocols/PullAllFeatureConfigsSyncProtocol.swift
  WireDomain/Sources/WireDomain/Synchronization/PullAllFeatureConfigsSync.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Synchronization/PullAllFeatureConfigsSyncTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2486 refactor: create sync to push self supported protocols - WPB-10801
  WireDomain/Sources/WireDomain/Repositories/User/Protocols/UserLocalStoreProtocol.swift
  WireDomain/Sources/WireDomain/Repositories/User/Protocols/UserRepositoryProtocol.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserRepository.swift
  WireDomain/Sources/WireDomain/Synchronization/PushSupportedProtocolsSync.swift
  WireDomain/Sources/WireDomain/UseCases/PushSupportedProtocolsUseCase.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserClientsRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Repositories/UserRepositoryTests.swift
  WireDomain/Tests/WireDomainTests/Synchronization/PushSupportedProtocolsSyncTests.swift
  WireDomain/Tests/WireDomainTests/UseCases/PushSupportedProtocolsUseCaseTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2422 chore: delete unused files in WireSystem - WPB-15572
  wire-ios-system/Resources/WireSystem-Info.plist
  wire-ios-system/Scripts/config.txt
  wire-ios-system/WireSystem.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap

#2424 chore: convert Wire Utilities project to use folders - WPB-15572
  wire-ios-utilities/Resources/Configurations/zmc-config/.gitignore
  wire-ios-utilities/Resources/WireUtilities-Info.plist
  wire-ios-utilities/Resources/WireUtilities-Test-Info.plist
  wire-ios-utilities/Scripts/config.txt
  wire-ios-utilities/Source/Public/UIColor/UIColor+Hex.swift
  wire-ios-utilities/Tests/Resources/appstore-sandbox.xml
  wire-ios-utilities/Tests/Source/AnyPropertyTests.swift
  wire-ios-utilities/Tests/Source/ArrayPartitionByKeyPathTests.swift
  wire-ios-utilities/Tests/Source/ArrayShiftTests.swift
  wire-ios-utilities/Tests/Source/AtomicIntegerTests.swift
  wire-ios-utilities/Tests/Source/DarwinNotificationCenterTests.swift
  wire-ios-utilities/Tests/Source/DispatchGroupContextTests.swift
  wire-ios-utilities/Tests/Source/DispatchGroupQueueTests.swift
  wire-ios-utilities/Tests/Source/EmojiOnlyStringTests.swift
  wire-ios-utilities/Tests/Source/Equatable+OneOfTests.swift
  wire-ios-utilities/Tests/Source/FileManager+MoveTests.swift
  wire-ios-utilities/Tests/Source/FileManager+ProtectionTests.swift
  wire-ios-utilities/Tests/Source/FixedWidthInteger_RandomTests.swift
  wire-ios-utilities/Tests/Source/FunctionOperatorTests.swift
  wire-ios-utilities/Tests/Source/Iterator+ContainmentTests.swift
  wire-ios-utilities/Tests/Source/MapKeyPathTests.swift
  wire-ios-utilities/Tests/Source/NSData+ImageTests.swift
  wire-ios-utilities/Tests/Source/NSManagedObjectContext+SwiftTests.swift
  wire-ios-utilities/Tests/Source/OptionalComparisonTests.swift
  wire-ios-utilities/Tests/Source/String+EmojiTests.swift
  wire-ios-utilities/Tests/Source/String+ExtremeCombiningCharactersTests.swift
  wire-ios-utilities/Tests/Source/String+FilenameTests.swift
  wire-ios-utilities/Tests/Source/String+StrippingTests.swift
  wire-ios-utilities/Tests/Source/UTIHelperTests.swift
  wire-ios-utilities/Tests/Source/UUID+DataTests.swift
  wire-ios-utilities/Tests/Source/WireUtilities-Tests.pch
  wire-ios-utilities/Tests/Source/ZMAccentColorTests.swift
  wire-ios-utilities/WireUtilities.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap

#2491 refactor: add sync to pull self user settings - WPB-10801
  WireDomain/Sources/WireDomain/Synchronization/Protocols/PullSelfUserSettingsSyncProtocol.swift
  WireDomain/Sources/WireDomain/Synchronization/PullSelfUserSettingsSync.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Synchronization/PullSelfUserSettingsSyncTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2494 refactor: split ZMSyncStateDelegate and ZMClientRegistrationStatusDelegate - WPB-10801
  wire-ios-sync-engine/Source/Public/WireSyncEngine.h
  wire-ios-sync-engine/Source/Synchronization/ZMClientRegistrationStatusDelegate.h
  wire-ios-sync-engine/Source/Synchronization/ZMOperationLoop.h
  wire-ios-sync-engine/Source/Synchronization/ZMSyncStrategy.h
  wire-ios-sync-engine/Source/UserSession/ZMSyncStateDelegate.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession.swift
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
Labels: Fix PR Title 🤦‍♂️, echoes/initiative: ios-sync-refactoring

#2221 chore: remove unused files - WPB-8605
  wire-ios-data-model/Resources/Databases Changelog.md
  wire-ios-data-model/Resources/zmessaging.xcdatamodeld/.xccurrentversion
  wire-ios-data-model/Resources/zmessaging.xcdatamodeld/zmessaging2.122.0.xcdatamodel/contents
  wire-ios-data-model/Source/ManagedObjectContext/Migration/CoreDataMessagingMigrationVersion.swift
  wire-ios-data-model/Source/Model/UserClient/UserClient.swift
  wire-ios-data-model/Tests/Resources/store2-122-0.wiredatabase
  wire-ios-data-model/Tests/Source/Model/UserClient/UserClientTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Source/E2EE/APSSignalingKeysStore.swift
  wire-ios-sync-engine/Source/E2EE/ZMAPSMessageDecoder.h
  wire-ios-sync-engine/Source/E2EE/ZMAPSMessageDecoder.m
  wire-ios-sync-engine/Source/Public/WireSyncEngine.h
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientRequestFactory.swift
  wire-ios-sync-engine/Source/Synchronization/Strategies/UserClientRequestStrategy.swift
  wire-ios-sync-engine/Source/Synchronization/ZMHotFixDirectory+Swift.swift
  wire-ios-sync-engine/Source/Synchronization/ZMHotFixDirectory.m
  wire-ios-sync-engine/Source/Synchronization/ZMOperationLoop.m
  wire-ios-sync-engine/Source/Synchronization/ZMOperatonLoop+Background.swift
  wire-ios-sync-engine/Tests/Source/E2EE/APSSignalingKeyStoreTests.swift
  wire-ios-sync-engine/Tests/Source/E2EE/UserClientRequestFactoryTests.swift
  wire-ios-sync-engine/Tests/Source/E2EE/UserClientRequestStrategyTests.swift
  wire-ios-sync-engine/Tests/Source/E2EE/ZMDecodedAPSMessageTest.m
  wire-ios-sync-engine/Tests/Source/Synchronization/ZMHotFixTests.m
  wire-ios-sync-engine/WireSyncEngine.xcodeproj/project.pbxproj
  wire-ios-testing/Source/Public/NSData+WireTesting.h
  wire-ios-testing/Source/Public/NSData+WireTesting.m
  wire-ios-testing/Source/Public/WireTesting.h
Labels: echoes: technical-roadmap/technical-debt

#2495 fix: showing datadog label in support mail - WPB-15997
  WireAnalytics/Sources/WireDatadog/WireFakeDatadog.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/Debug Report/LogFilesProvider.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/MFMailComposeViewController+Logs.swift
Labels: echoes: unplanned

#2475 revert: feat: simulcast support - WPB-11481
  Cartfile.resolved
  wire-avs.json
  wire-ios-sync-engine/Source/Calling/AVS/AVSVideoStreams.swift
  wire-ios-sync-engine/Source/Calling/VoiceChannel.swift
  wire-ios-sync-engine/Source/Calling/VoiceChannelV3.swift
  wire-ios-sync-engine/Source/Calling/WireCallCenterV3.swift
  wire-ios-sync-engine/Tests/Source/Calling/AVSVideoStreamsTest.swift
  wire-ios-sync-engine/Tests/Source/Calling/WireCallCenterV3Tests.swift
  wire-ios/Tests/Mocks/MockVoiceChannel.swift
  wire-ios/Wire-iOS Tests/Calling/CallGridViewControllerSnapshotTests.swift
  wire-ios/Wire-iOS Tests/Calling/CallViewControllerTests.swift
  wire-ios/Wire-iOS Tests/Calling/Mocks/MockCallGridViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/CallGridViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallGridView/Stream/Stream.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallInfoViewController/CallGridAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Calling/CallViewController/CallViewController.swift
Labels: echoes: product-roadmap/feature

#2446 chore: add some tests to personal team - WPB-15469
  WireDomain/Sources/WireDomain/Event Processing/ConversationEventProcessor/ConversationEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserLegalholdDisableEventProcessor.swift
  WireDomain/Sources/WireDomain/Event Processing/UserEventProcessor/UserUpdateEventProcessor.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/Repository/ConversationRepository.swift
  wire-ios-data-model/Support/Sources/MockActionHandler.swift
  wire-ios-data-model/Tests/EntityValidation/ConnectionValidatorTests.swift
  wire-ios-data-model/Tests/MLS/MLSServiceTests.swift
  wire-ios-data-model/Tests/MLS/OneOnOneSourceTests.swift
  wire-ios-data-model/Tests/Source/Model/Observer/SearchUserObserverTests.swift
  wire-ios-data-model/WireDataModel.xcodeproj/project.pbxproj
  wire-ios-request-strategy/Sources/Request Strategies/Assets/AssetV3UploadRequestStrategy.swift
  wire-ios-sync-engine/Source/UserSession/ZMUserSession/ZMUserSession+Authentication.swift
  wire-ios/Wire-iOS/Sources/Authentication/Event Handlers/Pre-Login/AuthenticationEmailLoginUnknownErrorHandler.swift
  wire-ios/Wire-iOS/Sources/Authentication/Interface/Views/ValidatedTextField.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Components/Views/LabelIndicator.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConfigurationMessageCell/Components/ConversationNewDeviceSystemMessageCellDescription.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController+MessageAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/Content/ConversationContentViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Conversation/InputBar/CameraKeyboard/CameraKeyboardPermissionsCell.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/MainCoordinator+ArchivedListViewControllerDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/MainCoordinator+CreateGroupConversationViewControllerBuilder.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+StartUIDelegate.swift
Labels: echoes/initiative: personal-users-to-team-users...

#2425 chore: convert Wire Images, Transport, Protos, MockTransport, Link Preview and Wire Canvas projects to use folders - WPB-15572
  wire-ios-canvas/Resources/Configurations/zmc-config/.gitignore
  wire-ios-canvas/WireCanvas.xcodeproj/project.pbxproj
  wire-ios-cryptobox/Gemfile.lock
  wire-ios-cryptobox/Resources/Configurations/zmc-config/.gitignore
  wire-ios-cryptobox/WireCryptobox.xcodeproj/project.pbxproj
  wire-ios-cryptobox/WireCryptobox/cbox.h
  wire-ios-images/Scripts/config.txt
  wire-ios-images/WireImages.xcodeproj/project.pbxproj
  wire-ios-link-preview/WireLinkPreview.xcodeproj/project.pbxproj
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/crash.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/crash_emoji.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/foursquare_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/guardian_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/instagram_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/itunes_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/itunes_without_title_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/medium_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/nytimes_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/polygon_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/soundcloud_playlist_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/soundcloud_track_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/twitter_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/twitter_images_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/verge_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/vimeo_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/washington_post_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/wire_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/yahoo_sports_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Fixtures/youtube_head.txt
  wire-ios-link-preview/WireLinkPreviewTests/Helpers/DownloaderMocks.swift
  wire-ios-link-preview/WireLinkPreviewTests/Helpers/OpenGraphMockDataProvider.swift
  wire-ios-link-preview/WireLinkPreviewTests/Helpers/URLMocks.swift
  wire-ios-mocktransport/Resources/Configurations/zmc-config/.gitignore
  wire-ios-mocktransport/Scripts/config.txt
  wire-ios-mocktransport/Source/Public/MockUser.h
  wire-ios-mocktransport/WireMockTransport.xcodeproj/project.pbxproj
  wire-ios-protos/Protos/messages.proto
  wire-ios-protos/Protos/mls.proto
  wire-ios-protos/Protos/otr.proto
  wire-ios-protos/Resources/Configurations/zmc-config/.gitignore
  wire-ios-protos/Resources/Configurations/zmc-config/ios-test-host.xcconfig
  wire-ios-protos/Resources/Configurations/zmc-config/ios-test-target.xcconfig
  wire-ios-protos/Resources/Configurations/zmc-config/tests.xcconfig
  wire-ios-protos/Scripts/config.txt
  wire-ios-protos/WireProtos.xcodeproj/project.pbxproj
  wire-ios-sync-engine/Resources/Configurations/zmc-config/.gitignore
  wire-ios-transport/Resources/Configurations/zmc-config/.gitignore
  wire-ios-transport/Source/TransportSession/Unauthenticated Session/SessionProtocols.swift
  wire-ios-transport/Source/TransportSession/Unauthenticated Session/UnauthenticatedTransportSession.swift
  wire-ios-transport/WireTransport.xcodeproj/project.pbxproj
  wire-ios-ziphy/Ziphy.xcodeproj/project.pbxproj
Labels: echoes: technical-roadmap

#2377 refactor: generate notification conversation member join - WPB-11661
  WireDomain/Sources/WireDomain/Notifications/Builders/NewSystemMessageNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/NewSystemMessageNotificationBodyComposer.swift
  WireDomain/Tests/WireDomainTests/Notifications/NewSystemMessageNotificationBuilderTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2379 refactor: generate notification conversation created - WPB-11657
  WireDomain/Sources/WireDomain/Notifications/Builders/NewSystemMessageNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/NewSystemMessageNotificationBodyComposer.swift
  WireDomain/Tests/WireDomainTests/Notifications/NewSystemMessageNotificationBuilderTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2381 refactor: generate notification conversation deleted - WPB-11658
  WireDomain/Sources/WireDomain/Notifications/Builders/NewSystemMessageNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/NewSystemMessageNotificationBodyComposer.swift
  WireDomain/Tests/WireDomainTests/Notifications/NewSystemMessageNotificationBuilderTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2383 refactor: generate notification user contact join - WPB-11660
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationSystemMessageNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationUserMessageNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/User/UserConnectionNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/User/UserNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/Conversation/ConversationMessageNotificationTitleComposer.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/Conversation/ConversationSystemMessageNotificationBodyComposer.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/Conversation/ConversationUserMessageNotificationBodyComposer.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/User/UserConnectionNotificationBodyComposer.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationBody.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationSession.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationTitle.swift
  WireDomain/Tests/WireDomainTests/Notifications/ConversationSystemMessageNotificationBuilderTests.swift
  WireDomain/Tests/WireDomainTests/Notifications/ConversationUserMessageNotificationBuilderTests.swift
  WireDomain/Tests/WireDomainTests/Notifications/UserConnectionNotificationBuilderTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2364 refactor: generate notification conversation member leave - WPB-11662
  WireDomain/Sources/WireDomain/Dependency Injection/Injector.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationSystemMessageNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationUserMessageNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/User/UserConnectionNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/User/UserNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/Conversation/ConversationMessageNotificationTitleComposer.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/Conversation/ConversationSystemMessageNotificationBodyComposer.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/Conversation/ConversationUserMessageNotificationBodyComposer.swift
  WireDomain/Sources/WireDomain/Notifications/Composers/User/UserConnectionNotificationBodyComposer.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationBody.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationSession.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationTitle.swift
  WireDomain/Tests/WireDomainTests/Notifications/ConversationSystemMessageNotificationBuilderTests.swift
  WireDomain/Tests/WireDomainTests/Notifications/ConversationUserMessageNotificationBuilderTests.swift
  WireDomain/Tests/WireDomainTests/Notifications/UserConnectionNotificationBuilderTests.swift
Labels: echoes/initiative: ios-sync-refactoring

#2340 refactor: generate notification for new messages - WPB-11647
  WireDomain/Sources/WireDomain/Dependency Injection/Injector.swift
  WireDomain/Sources/WireDomain/Extensions/ConversationEvent+Notifications.swift
  WireDomain/Sources/WireDomain/Helpers/ProtobufMessageDecoder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationCreateEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationDeleteEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationMLSMessageAddEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationMemberJoinEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationMemberLeaveEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationMessageTimerUpdateEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/Conversation/ConversationProteusMessageAddEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/NotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/User/UserConnectionEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/User/UserContactJoinEventNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/Builders/User/UserNotificationBuilder.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationAction.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationBody.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationCategory.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationPayload.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationService.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationSession.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationSound.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationTitle.swift
  WireDomain/Sources/WireDomain/Notifications/NotificationUserInfoKey.swift
  WireDomain/Sources/WireDomain/Repositories/Conversations/ConversationLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/Message/MessageLocalStore.swift
  WireDomain/Sources/WireDomain/Repositories/User/UserLocalStore.swift
  WireDomain/Sources/WireDomainSupport/Sourcery/generated/AutoMockable.generated.swift
  WireDomain/Tests/WireDomainTests/Notifications/ConversationSystemMessageNotificationBuilderTests.swift
  WireDomain/Tests/WireDomainTests/Notifications/ConversationUserMessageNotificationBuilderTests.swift
  WireDomain/Tests/WireDomainTests/Notifications/NotificationSessionTests.swift
  WireDomain/Tests/WireDomainTests/Notifications/UserConnectionNotificationBuilderTests.swift
  wire-ios-data-model/Source/Model/Conversation/ZMConversation+Mute.swift
Labels: echoes/initiative: ios-sync-refactoring
