Repository wireapp/wire-ios, pull requests merged in 2025-04, with the labels that each got.

#2843 fix: conversation details naming - WPB-16982
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationCreationControllerSnapshotTests/testTeamGroupOptions.DarkTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationCreationControllerSnapshotTests/testTeamGroupOptions.LightTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/ConversationCreationControllerSnapshotTests/testTeamGroupOptions_withoutServices.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForMlsConversation_withNotVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForMlsConversation_withVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForNonTeamUser.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInNonTeamConversation.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInNonTeamConversation_Partner.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation_Admins.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForOptionsForTeamUserInTeamConversation_Partner.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupDetailsViewControllerSnapshotTests/testForProteusConversation_withVerifiedStatus.1.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerSnapshotTests/testThatItRendersALotOfUsers.DarkTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerSnapshotTests/testThatItRendersALotOfUsers.LightTheme.png
  wire-ios/Wire-iOS Tests/ReferenceImages/GroupParticipantsDetailViewControllerSnapshotTests/testThatItRendersALotOfUsers_WithoutNames.1.png
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Localization/Base.lproj/Accessibility.strings
  wire-ios/Wire-iOS/Resources/Localization/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationAction.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/ConversationActions/ConversationActionController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/Sections/ParticipantsSectionController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/GroupDetails/Sections/RenameGroupSectionController.swift
Labels: cherry-pick

#2847 feat: handle 503 with new auth (cherry pick) - WPB-16991
  WireAPI/Sources/WireAPI/APIs/AuthenticationAPI/AuthenticationAPIError.swift
  WireAPI/Sources/WireAPI/APIs/AuthenticationAPI/AuthenticationAPIV8.swift
  WireAPI/Tests/WireAPITests/APIs/AuthenticationAPI/AuthenticationAPITests.swift
  WireAPI/Tests/WireAPITests/APIs/AuthenticationAPI/Resources/GetDomainRegistrationErrorResponse_ServiceUnavailableV8.json
  WireAuthentication/Sources/WireAuthenticationLogic/DetermineAuthMethodUseCase.swift
  WireAuthentication/Tests/WireAuthenticationLogicTests/DetermineAuthMethodUseCaseTests.swift
Labels: cherry-pick

#2863 fix: Request loop on /v7/search/contacts (cherry pick) - WPB-16757
  wire-ios-sync-engine/Source/UserSession/Search/SearchRequest.swift
  wire-ios-sync-engine/Tests/Source/UserSession/SearchRequestTests.swift
  wire-ios/Wire-iOS/Sources/UserInterface/ConversationList/Container/ConversationListViewController+NavigationBar/ConversationListViewController+NavigationBar.swift
Labels: cherry-pick

#2866 feat: don't ask for password to delete sso clients (cherry-pick) - WPB-17020
  wire-ios-request-strategy/Sources/APIs/UserClientAPI.swift
  wire-ios-request-strategy/Sources/User Client/UserClientRequestFactory.swift
  wire-ios-request-strategy/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios-sync-engine/Source/Use cases/RemoveUserClientUseCase.swift
  wire-ios-sync-engine/Support/Sourcery/generated/AutoMockable.generated.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/RemoveClients/RemoveClientsViewController.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/DeviceManagement/RemoveClients/RemoveClientsViewModel.swift
Labels: cherry-pick

#2909 fix: Unable to send MLS messages - WPB-16922
  wire-ios-data-model/Source/MLS/MLSService.swift
  wire-ios-request-strategy/Sources/Message Sending/MessageSender.swift
  wire-ios-request-strategy/Sources/Synchronization/Decoding/EventDecoder+MLS.swift
  wire-ios-utilities/Source/DeveloperFlag.swift
Labels: cherry-pick

#2906 feat: treat 503 error as none state - WPB-17087
  WireAuthentication/Sources/WireAuthenticationLogic/DetermineAuthMethodUseCase.swift
  WireAuthentication/Tests/WireAuthenticationLogicTests/DetermineAuthMethodUseCaseTests.swift
Labels: cherry-pick

#2917 chore: remove dead options - WPB-17291
  wire-ios/Tests/Mocks/MockZMEditableUser.swift
  wire-ios/Tests/Mocks/ZMMockAVSMediaManager.swift
  wire-ios/Wire-iOS Tests/Settings/SettingsPropertyTests.swift
  wire-ios/Wire-iOS.xcodeproj/project.pbxproj
  wire-ios/Wire-iOS/Generated/Strings+Generated.swift
  wire-ios/Wire-iOS/Resources/Localization/Base.lproj/Localizable.strings
  wire-ios/Wire-iOS/Resources/Settings.bundle/DeveloperSettings.plist
  wire-ios/Wire-iOS/Sources/Components/Settings.swift
  wire-ios/Wire-iOS/Sources/Components/Settings/SettingsPropertyFactory.swift
  wire-ios/Wire-iOS/Sources/ForegroundNotificationFilter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptor.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/CellDescriptors/SettingsCellDescriptorFactory+Options.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/LinkOpening/LinkOpener.swift
  wire-ios/Wire-iOS/Sources/UserInterface/Settings/LinkOpening/TweetOpening.swift
  wire-ios/WireCommonComponents/SettingsPropertyName.swift
Labels: platformTime

#2942 feat: Connect with user via profile link or QR code - WPB-17342
  wire-ios-sync-engine/Source/SessionManager/PresentationDelegate.swift
  wire-ios-sync-engine/Source/SessionManager/URLActions.swift
  wire-ios-sync-engine/Source/UserSession/Search/SearchDirectory.swift
  wire-ios-sync-engine/Source/UserSession/Search/SearchTask.swift
  wire-ios-sync-engine/Source/UserSession/URLActionProcessors/DeepLinkURLActionProcessor.swift
  wire-ios-sync-engine/Tests/Source/MockPresentationDelegate.swift
  wire-ios-sync-engine/Tests/Source/UserSession/SearchTaskTests.swift
  wire-ios/Wire-iOS/Sources/AuthenticatedRouter.swift
  wire-ios/Wire-iOS/Sources/URLActionRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+ShowContentDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/SearchUserViewController.swift
Labels: release

#2950 feat: Connect with user via profile link or QR code - WPB-17342
  wire-ios-sync-engine/Source/SessionManager/PresentationDelegate.swift
  wire-ios-sync-engine/Source/SessionManager/URLActions.swift
  wire-ios-sync-engine/Source/UserSession/Search/SearchDirectory.swift
  wire-ios-sync-engine/Source/UserSession/Search/SearchTask.swift
  wire-ios-sync-engine/Source/UserSession/URLActionProcessors/DeepLinkURLActionProcessor.swift
  wire-ios-sync-engine/Tests/Source/MockPresentationDelegate.swift
  wire-ios-sync-engine/Tests/Source/UserSession/SearchTaskTests.swift
  wire-ios/Wire-iOS/Sources/AuthenticatedRouter.swift
  wire-ios/Wire-iOS/Sources/URLActionRouter.swift
  wire-ios/Wire-iOS/Sources/UserInterface/MainController/ZClientViewController+ShowContentDelegate.swift
  wire-ios/Wire-iOS/Sources/UserInterface/UserProfile/SearchUserViewController.swift
Labels: cherry-pick
